.partners__block
    .block__title Все партнеры
    .block__text.
        Успешно реализована схема дистанционного ведения сделки (без личного присутствия военнослужащего)
        на первичном рынке.  Таким образом, десятки тысяч военнослужащих, желающих приобрести жилье! Успешно реализована схема дистанционного  ведения сделки (без личного присутствия военнослужащего)
        на первичном рынке.
    .partners__block__context.row
        ul
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
            li
                img(src="../images/black-menu/partners1.png" alt="")
                span БЕСТ
                span скидка 3%
    .mobile
        +arrowDown("Показать еще")



