#slider-home.block.partners-slider
    .container
        .row
            .col-md-12
                .swiper-container.slider-home#partners
                    .swiper-wrapper
                        .swiper-slide
                            .swiper-slide__content
                                .round-border
                                    .round-image
                                        .round-image__block
                                            img(src='./images/black-menu/partners-logo1.png')
                                            img(src='./images/black-menu/partners-logo.png')
                                            img(src='./images/black-menu/partners-logo2.png')
                                        .block__title Слияние
                                        .block__title  «ПИК» и «Мортон»!
                                        .block__text От 2% на все объекты Мортон + подарочная карта на 20 000р
                                        a(href="#").more Подробнее
                                        .round-image__sale 20 000 р в подарок

                        .swiper-slide
                            .swiper-slide__content
                                .round-border
                                    .round-image
                                        .round-image__block
                                            img(src='./images/black-menu/partners-logo1.png')
                                        .block__title Скидки на все объекты
                                        .block__title  ГК Мортон
                                        .block__text Квартиры от 2.5 мл. р. 3 км. от МКАД
                                        a(href="#").more Подробнее
                                        .round-image__sale Акция на все объекты

                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/developers_slider/developer2.png" alt="")
                                .slider-home__title Беспрецендентная<br>акция
                                .slider-home__text  Скидка 1% на все объекты Самолет Девелопмент<br>акредитованные по программе военная ипотека!

                        .swiper-slide
                            .swiper-slide__content
                                .round-border
                                    .round-image
                                        .round-image__block
                                            img(src='./images/black-menu/partners-logo1.png')
                                        .block__title Приведи сослуживца
                                        .block__title  в Мортон
                                        .block__text Получи подароную карту на 10 000 р сети магазинов IKEA, OBI и М.видео!
                                        a(href="#").more Подробнее
                                        .round-image__sale Подарок 10 000 р


                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/developers_slider/developer2.png" alt="")
                                .slider-home__title Беспрецендентная<br>акция
                                .slider-home__text  Скидка 1% на все объекты Самолет Девелопмент<br>акредитованные по программе военная ипотека!

                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/developers_slider/developer2.png" alt="")
                                .slider-home__title Беспрецендентная<br>акция
                                .slider-home__text  Скидка 1% на все объекты Самолет Девелопмент<br>акредитованные по программе военная ипотека!
                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/developers_slider/developer2.png" alt="")
                                .slider-home__title Беспрецендентная<br>акция
                                .slider-home__text  Скидка 1% на все объекты Самолет Девелопмент<br>акредитованные по программе военная ипотека!

                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/developers_slider/developer2.png" alt="")
                                .slider-home__title Беспрецендентная<br>акция
                                .slider-home__text  Скидка 1% на все объекты Самолет Девелопмент<br>акредитованные по программе военная ипотека!


                    .swiper-pagination