section.bank
    .container
        span.block__title Банки
        span.block__text Узнайте больше о банках, которые дают аккредитацию нашим объектам!<br>А так же озастройщих с которыми они сотрудничают
        a(href="#").more Сравнительная таблица
        ul
            li
                img(src="./images/icons/Bank-zenit.png")
            li
                img(src="./images/icons/Bank-gaz.png")
            li
                img(src="./images/icons/Bank-sberbank.png")
            li
                img(src="./images/icons/Bank-rosselhoz.png")
            li
                img(src="./images/icons/Bank-ros.png")
