section.bank
    .container
        span.block__title Банки
        span.block__text Узнайте больше о банках, которые дают аккредитацию нашим объектам!<br>А так же озастройщих с которыми они сотрудничают
        a(href="#").more Сравнительная таблица
        ul
            li
                a(href="#")
                    img(src="./images/icons/Bank-vtb.svg")
                span на 10,4%
                span Лицензия Банка России<br>№ Generalynaya 1000 08 <br> iyulya 2015
            li

                img(src="./images/icons/Bank-zenit.svg")
                span на 10,4%
                span Лицензия Банка России<br>№ Generalynaya 1000 08 <br> iyulya 2015
            li
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="174" height="34" viewBox="0 0 174 34">
                span на 10,4%
                span Лицензия Банка России<br>№ Generalynaya 1000 08 <br> iyulya 2015
            li
                a(href="#")
                    img(src="./images/icons/Bank-sberbank.svg")
                span на 10,4%
                span Лицензия Банка России<br>№ Generalynaya 1000 08 <br> iyulya 2015
            li
                a(href="#")
                    img(src="./images/icons/Bank-rosselhoz.svg")
                span на 10,4%
                span Лицензия Банка России<br>№ Generalynaya 1000 08 <br> iyulya 2015
            li
                a(href="#")
                    img(src="./images/icons/Bank-ros.svg")
                span на 10,4%
                span Лицензия Банка России<br>№ Generalynaya 1000 08 <br> iyulya 2015
