ul.bank-block
    li
        a(href="#")
            img(src="./images/icons/Bank-vtb.png" alt="")
        span на 10,4%
        span Лицензия Банка России № Generalynaya 1000 08  iyulya 2015
    li
        a(href="#")
            img(src="./images/icons/Bank-zenit.png" alt="")
        span на 10,4%
        span Лицензия Банка России № Generalynaya 1000 08  iyulya 2015
    li
        a(href="#")
            img(src="./images/icons/Bank-gaz.png" alt="")
        span на 10,4%
        span Лицензия Банка России № Generalynaya 1000 08  iyulya 2015
    li
        a(href="#")
            img(src="./images/icons/Bank-sberbank.png" alt="")
        span на 10,4%
        span Лицензия Банка России № Generalynaya 1000 08  iyulya 2015
    li
        a(href="#")
            img(src="./images/icons/Bank-rosselhoz.png" alt="")
        span на 10,4%
        span Лицензия Банка России № Generalynaya 1000 08  iyulya 2015
    li
        a(href="#")
            img(src="./images/icons/Bank-ros.png" alt="")
        span на 10,4%
        span Лицензия Банка России № Generalynaya 1000 08  iyulya 2015