.block.block__discount
    .container
        .row
            .col-md-12
                .row
                    .col-md-3
                        .discount
                            .discount__title.block__title Получить скидку
                            ol.discount__list
                                li Звонок, консультация и регистрация;
                                li Заявка на новостройку;
                                li Обращение к застройщику и в банк;
                                li Покупка квартиры со скидкой
                            button.btn.btn-primary Отправить заявку >
                            span.discount__footnote * При обращение к застройщику на прямую возможножность получения скидки теряется!
                    .col-md-4
                        .discount
                            .discount__title.block__title Почему дешевле?
                            span.discount__footnote Застройщик готов уменьшить стоимость  на сумму<br>нашей скидки. За это застройщик получает от нас<br>необходимый поток клиентов и тратит меньше средств<br>на свою рекламу.
                            span.discount__footnote Мы более пяти лет совместно с ведущими<br>застройщиками России разрабатываем и внедряем<br>программы скидок и преференций военнослужащим.
                            span.discount__footnote Со застройщиками заключены официальные договора.<br>                Один звонок в ВоенГарант экономит до 150000 р!
                    .col-md-5
                        .discount-card
                            .discount-card__text У нас более 40000 участников <br> объединения!
                            .discount-card__text  Зарегистрируйтесь<br> в личном кабинете и<br> получите особые условия<br> участника объединения!
                            a(href="#").discount-card__link Регистрация >
