.block.block__discount
    .container
        .row
            .col-md-12
                .row
                    .col-md-6
                        .discount
                            .discount__title Получить скидку
                            ol.discount__list
                                li Звонок, консультация и регистрация;
                                li Заявка на новостройку;
                                li Обращение к застройщику и в банк;
                                li Покупка квартиры со скидкой
                            button.btn.btn-primary Отправить заявку >
                            span.discount__footnote * При обращение к застройщику на прямую возможножность<br> получения скидки теряется!
                    .col-md-6
                        .discount-card
                            .discount-card__title ВоенГарант
                            .discount-card__text  Зарегистрируйтесь<br> в личном кабинете и<br> получите особые условия<br> участника объединения!
                            a(href="#").discount-card__link Регистрация >
