section.reviews
    .container
        .block__title Отзывы
        .block__text Здесь вы можете прочитать отзывы о нашей компании <br> или о работе сайта в целом
        a(href="#").more Все отзывы
        ul
            .row
                li.col-md-4
                    .reviews__info
                        span Екатерина Аблукова
                        img(src="./images/icons/reviews-coma.png")
                        span.reviews__text Хотели выразить огромную благодарность коллективу ВоенГаранта!Брали квартиру в Алексеевской роще, все грамотно объяснили - куда обращаться, сколько стоит оформление. Еще и оформили заявку на скидку! Спасибо! Всем коллегам будем вас советовать!
                        img(src="./images/icons/reviews-vk.png").reviews__logo
                        span 30.01.16
                li.col-md-4._indent._center
                    .reviews__info._light
                        span Александр
                        img(src="./images/icons/reviews-coma2.png")
                        span.reviews__text Большое спасибо!!! очень приятно когда возвращаются деньги, хоть и немного, но 1% от суммы очень приятно.
                        img(src="./images/icons/reviews-tw.png").reviews__logo
                        span 15.04.16
                li.col-md-4._indent
                    .reviews__info
                        span Екатерина Аблукова
                        img(src="./images/icons/reviews-coma.png")
                        span.reviews__text Хотели выразить огромную благодарность коллективу ВоенГаранта!Брали квартиру в Алексеевской роще, все грамотно объяснили - куда обращаться, сколько стоит оформление. Еще и оформили заявку на скидку! Спасибо! Всем коллегам будем вас советовать!
                        img(src="./images/icons/reviews-vk.png").reviews__logo
                        span 30.01.16
            .row
                li.col-md-4
                    .reviews__info._light
                        span Екатерина Аблукова
                        img(src="./images/icons/reviews-coma2.png")
                        span.reviews__text Хотели выразить огромную благодарность коллективу ВоенГаранта!Брали квартиру в Алексеевской роще, все грамотно объяснили - куда обращаться, сколько стоит оформление. Еще и оформили заявку на скидку! Спасибо! Всем коллегам будем вас советовать!
                        img(src="./images/icons/reviews-vk.png").reviews__logo
                        span 30.01.16
                li.col-md-4._indent._center
                    .reviews__info
                        span Александр
                        img(src="./images/icons/reviews-coma.png")
                        span.reviews__text Большое спасибо!!! очень приятно когда возвращаются деньги, хоть и немного, но 1% от суммы очень приятно.
                        img(src="./images/icons/reviews-tw.png").reviews__logo
                        span 15.04.16
                li.col-md-4._indent
                    .reviews__info._light
                        span Екатерина Аблукова
                        img(src="./images/icons/reviews-coma2.png")
                        span.reviews__text Хотели выразить огромную благодарность коллективу ВоенГаранта!Брали квартиру в Алексеевской роще, все грамотно объяснили - куда обращаться, сколько стоит оформление. Еще и оформили заявку на скидку! Спасибо! Всем коллегам будем вас советовать!
                        img(src="./images/icons/reviews-vk.png").reviews__logo
                        span 30.01.16
