section.reviews
    .container
        .block__title Отзывы
        .block__text Здесь вы можете прочитать отзывы о нашей компании <br> или о работе сайта в целом
        a(href="#").more Все отзывы
        include _reviews-blocks


