#slider-home.block
    .container
        .row
            .col-md-12
                .swiper-container.slider-home
                    .swiper-wrapper
                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/developers_slider/developer2.png")
                                .slider-home__title Беспрецендентная<br>акция
                                .slider-home__text  Скидка 1% на все объекты Самолет Девелопмент<br>акредитованные по программе военная ипотека!

                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/developers_slider/developer2.png")
                                .slider-home__title Беспрецендентная<br>акция
                                .slider-home__text  Скидка 1% на все объекты Самолет Девелопмент<br>акредитованные по программе военная ипотека!

                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/developers_slider/developer2.png")
                                .slider-home__title Беспрецендентная<br>акция
                                .slider-home__text  Скидка 1% на все объекты Самолет Девелопмент<br>акредитованные по программе военная ипотека!
                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/developers_slider/developer2.png")
                                .slider-home__title Беспрецендентная<br>акция
                                .slider-home__text  Скидка 1% на все объекты Самолет Девелопмент<br>акредитованные по программе военная ипотека!

                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/developers_slider/developer2.png")
                                .slider-home__title Беспрецендентная<br>акция
                                .slider-home__text  Скидка 1% на все объекты Самолет Девелопмент<br>акредитованные по программе военная ипотека!

                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/developers_slider/developer2.png")
                                .slider-home__title Беспрецендентная<br>акция
                                .slider-home__text  Скидка 1% на все объекты Самолет Девелопмент<br>акредитованные по программе военная ипотека!
                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/developers_slider/developer2.png")
                                .slider-home__title Беспрецендентная<br>акция
                                .slider-home__text  Скидка 1% на все объекты Самолет Девелопмент<br>акредитованные по программе военная ипотека!

                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/developers_slider/developer2.png")
                                .slider-home__title Беспрецендентная<br>акция
                                .slider-home__text  Скидка 1% на все объекты Самолет Девелопмент<br>акредитованные по программе военная ипотека!


                    .swiper-pagination