#slider-home.block
    .container
        .row
            .col-md-12
                .swiper-container.slider-home
                    .swiper-wrapper
                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/home-slide1.png")
                                .slider-home__title Подписано соглашение<br> о взаимодействии с Росгвардией
                                .slider-home__text  Если военнослужащий ВВ МВД России станет военнослужащим Росгвардии,<br> военная ипотека для него сохранится, выплаты и накопления продолжатся.

                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/home-slide1.png")
                                .slider-home__title Подписано соглашение<br> о взаимодействии с Росгрвардией
                                .slider-home__text  Если военнослужащий ВВ МВД России станет военнослужащим Росгвардии,<br> военная ипотека для него сохранится, выплаты и накопления продолжатся.

                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/home-slide1.png")
                                .slider-home__title Подписано соглашение<br> о взаимодействии с Росгрвардией
                                .slider-home__text  Если военнослужащий ВВ МВД России станет военнослужащим Росгвардии,<br> военная ипотека для него сохранится, выплаты и накопления продолжатся.

                    .swiper-pagination