.block.special
    .container
        .row
            .col-md-12.special__col
                .special__content
                    img(src="./images/special_logo.png" alt="")
                    span.special__title Специальные условия от ПИК
                    span.special__text дополнительные скидки на все объекты<br> для клиентов ВоенГаранта!
                    .special__btns
                        a(href="javascript:void(0)").btn.btn-primary.gradient По военной ипотеке
                        a(href="javascript:void(0)").btn.btn-default.gradient Обычная покупка


.slide-modal#special-order
    .slide-modal__close x
    .container
        .row
            .col-md-7.special__description
                .block__title Подробнее
                p Группа Компаний ПИК, основанная в 1994 году, является одним из ведущих российских публичных девелоперов масштабных жилых проектов в Москве, Московской области и других регионах России. Приоритетное направление деятельности Группы - строительство и реализация доступного жилья, преимущественно в сегменте панельного индустриального домостроения.
                p Группа Компаний ПИК, основанная в 1994 году, является одним из ведущих российских публичных девелоперов масштабных жилых проектов в Москве, Московской области и других регионах России. Приоритетное направление деятельности Группы - строительство и реализация доступного жилья, преимущественно в сегменте панельного индустриального домостроения..
                a(href="#").more Смотреть объекты
            .col-md-4.special__order.col-md-offset-1
                .block__title Заявка
                span.note Отправьте заявку, для обратной связи и вам перезвонят <br>  в течении дня!
                form
                    span._placeholder Имя
                    input
                    span._placeholder Телефон
                    input
                    span._placeholder Сообщение
                    textarea
                    button(type="submit").more Отправить
                    a(href="#").politic Политика конфиденциальности



