/*UNION*/

.union {
  padding: 110px 0 0 0;
  &__logo {
    text-align: center;
    margin: 0 0 20px 0;
  }
  .block__title {
    margin-top: 0;
    color: color(title);
  }
  &__title {
    text-align: center;
  }
  &__m-title {
    font-size: $s24;
    line-height: 1;
    text-align: center;
    margin: 0;
    @include breakpoint("max-width:1024px") {
      font-size: $s36;
    }
  }
  &-present {
    color: color(default);
    text-align: center;
    overflow: hidden;
    width: 80%;
    margin: 0 auto 100px auto;
    @include breakpoint("max-width:1366px") {
      width: 100%;
    }
    @include myriadL(18, $mainFontFamily, 300);
    .block__title {
      font-size: $s18;
      text-align: left;
      color: color(white);
      @include breakpoint("max-width:1024px") {
        font-size: $s30;
      }
    }
    ul {
      display: inline-block;
      text-align: left;
      padding: 0;
      list-style: none;
    }
    &__pic {
      display: inline-block;
      float: left;
      margin: 0 11px 0 0;
      @include breakpoint("max-width:1024px") {
        float: none;
        margin: 0 0 11px 0;
      }
    }
    &__field {

      display: inline-block;
      text-align: left;
      float: left;
      overflow: hidden;
      @include breakpoint("max-width:1100px") {
        display: block;
        margin: 0 0 70px 0;
        float: none;
      }
      @include breakpoint("max-width:1024px") {
        font-size: $s30;
      }
    }
    &__list {
      float: right;
      @include breakpoint("max-width:1100px") {
        float: left;
      }
      @include breakpoint("max-width:1024px") {
        float: none;
      }
    }
  }
  &__under-title {
    display: block;
    text-align: center;
    color: color(default);
    margin: 0 0 92px 0;
    @include myriadL(18, $mainFontFamily, 300);
    @include breakpoint("max-width:1024px") {
      font-size: $s30;
    }
  }
  &-diagram {
    color: color(white);
    margin: 0 0 85px 0;
    &__pic {
      img {
        width: 100%;
      }
    }
    &__graph {
      text-align: left;
      margin: 0 0 36px 0;
      @include breakpoint("max-width:1024px") {
        text-align: center;
      }
    }
    &__description {
      @include myriadL(24, $titleFontFamily, 300);
      margin: 0 0 50px 0;
      line-height: 1.7;
      color: color(title);
      @include breakpoint("max-width:1024px") {
        text-align: center;
      }

    }
    &__content {
      padding: 127px 0 0 89px;
      @include breakpoint("max-width:1024px") {
        padding: 80px 0 0 0;
      }
    }
    &__btn {
      @include btnSend;
      font-size: $s18;
      width: 220px;
      @include breakpoint("max-width:1024px") {
        width: 320px !important;
        margin: 0 auto;
        display: block;

      }
    }
  }

  &-support {

    &__title {
      text-align: left;
      padding: 65px 0 0 0;
    }
    &__description {
      @include myriadL(18, $mainFontFamily, 300);
      color: color(default);
      @include breakpoint("max-width:1024px") {
        font-size: $s30;
      }
    }
    margin: 0 0 120px 0;

  }

  &-teammate {
    margin: 0 0 240px 0;
    @include breakpoint("max-width:1024px") {
      margin: 0 0 140px 0;
    }
    @include myriadL(18, $mainFontFamily, 300);
    color: color(title);
    &__pic {
      text-align: center;
    }
    &__title {
      text-align: center;
      margin: 0 0 80px 0;
      @include breakpoint("max-width:1024px") {
        text-align: left;
      }
    }
    &__list {
      text-align: center;
      @include breakpoint("max-width:1024px") {
        text-align: left;
      }
    }
    &__item {
      padding: 0 10px;
      @include breakpoint("max-width:1319px") {
        padding: 0;
      }
      @include breakpoint("max-width:1024px") {
        margin: 0 0 60px 0;
      }

      p {
        margin: 0 0 35px 0;
        @include breakpoint("max-width:1024px") {
          margin: 0 0 25px 0;
          font-size: $s30;
        }
      }
    }
    a {
      color: color(default);
      transition: .2s;

      &:hover {
        img {
          opacity: .7;
        }
        text-decoration: none;
        color: color(title);
      }
      @include breakpoint("max-width:1024px") {
        font-size: $s25;
      }
    }
    &__icon {
      display: inline-block;
      margin: 0 17px 0 0;
    }

  }
  &-cooperation {
    margin: 0 0 30px 0;
    @include myriadL(18, $mainFontFamily, 300);
    text-align: center;
    @include breakpoint("max-width:1024px") {
      font-size: $s30;
    }
    &__title {
      margin: 0 0 15px 0;
    }
    &__description {
      color: color(default);
      width: 80%;
      margin: 0 auto 40px auto;
    }
  }
  &-agreement {

    margin: 0 0 220px 0;
    @include myriadL(18, $mainFontFamily, 300);
    text-align: center;
    &__title {
      font-size: 48px;
      @include breakpoint("max-width:1024px") {
        font-size: 60px;
      }
    }
    &__item {
      padding: 0 40px;
      @include breakpoint("max-width:1024px") {
        font-size: $s30;
        margin: 0 0 80px 0;

      }

    }
    &__description {
      color: color(default);
      width: 80%;
      font-size: $s24;
      p {
        margin: 0 0 25px 0;
      }
      margin: 0 auto 40px auto;
    }
    a {
      transition: .2s;
      &:hover {
        color: color(title);
        text-decoration: none;
      }
    }
    &__item-pic {
      height: 100px;
    }
    &__list {
      color: color(title);
      p {
        margin: 0 0 20px 0;
      }
    }
  }
}

.union-p-70 {
  padding-left: 70px;
}

/*UNION*/