.interplay {
  margin: 0 0 145px 0;
  .title {
    @include text($titleFontFamily, #333333, block, 36px, 24px, 300);
    margin: 0 0 29px 0;
    @include breakpoint("max-width: 1024px") {
      @include text($titleFontFamily, #303030, block, 45px, 24px, 300);
      margin: 0 0 32px 0;
    }
  }
  .context {
    @include text($mainFontFamily, #777777, block, 18px, 24px, 100);
    margin: 0 auto 54px auto;
    width: ( 865px / $container * 100%);
    @include breakpoint("max-width: 1300px") {
      width: (900px / $container * 100%);
    }
    @include breakpoint("max-width: 1024px") {
      @include text($mainFontFamily, #777777, block, 30px, 35px, 100);
      margin: 0 auto 68px auto;
      width: 100%;
    }
  }
  .lg-block {
    @include breakpoint("max-width: 1024px") {
      display: none;
    }
  }
  .xs-block {
    @include breakpoint("min-width: 1025px") {
      display: none;
    }
  }
  img {
    width: 100%;
    height: 853px;
    @include breakpoint("max-width: 1024px") {
      height: 543px;
    }
  }
}