.articles-forma
    .lg-block.container
        .row
            .col-md-offset-1.col-md-9.col-lg-offset-1.col-lg-9
                .row
                    .col-md-12.col-lg-12.articles-forma__border.text-left
                        span.title Предложить статью
                        span.context Зарегистируйтесь в личном кабинете чтобы предложить новость и отследить, когда будет закончена её модернизация.<br>После того, как предложенная новость пройдет проверку, она будет опубликована в общей ленте.
                        form
                            label(for='articles-forma__social').context Соц. сеть
                            input(type='text')#articles-forma__social
                            label(for='articles-forma__name').context Название недвижимости
                            input(type='text')#articles-forma__name
                            label.context Текст
                            textarea(rows='3')
                            .download
                                button(type='button')
                                span Загрузить файл
                            button(type='submit').go Отправить
                            a(href='/').link Политика конфеденциальности
    .xs-block
        .xs-block__border
            .container
                .row
                    .col-xs-12.col-sm-12.col-md-12.text-left
                        span.title Предложить статью
                        span.context Зарегистируйтесь в личном кабинете чтобы предложить новость и отследить, когда будет закончена её модернизация.<br>После того, как предложенная новость пройдет проверку, она будет опубликована в общей ленте.
                        form
                            label(for='articles-forma__social').context Соц. сеть
                            input(type='text')#articles-forma__social
                            label(for='articles-forma__name').context Название недвижимости
                            input(type='text')#articles-forma__name
                            label.context Текст
                            textarea(rows='3')
                            .download
                                button(type='button')
                                span Загрузить файл
                            button(type='submit').go Отправить
                            a(href='/').link Политика конфеденциальности
