.articles-comments
    .container
        span.subtitle.text-center Ваш опыт
        span.title.text-center Статьи от военнослужащих
        span.context.text-center Здесь Вы можете прочитать статьи написанные действующими военнослужащими!<br>Или отправить свою статью, заполните заявку и после проверки<br>её опубликуют в общей ленте!
        include _articles-comments
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
                +arrowDown('Показать ещё')
