.articles-title
    .container.text-center
        img(src='./images/articles-title__main-image.png' alt='').articles-title__main-image
        span.subtitle База знаний
        span.title Военная ипотека в 2017 году
        span.context Основные понятия Военной ипотеки. Следим за новостями!
        a(href='/').link-add
            img(src='./images/icons/link-add.png' alt='')
            span Предложить статью
        .sorting-buttons
            a(href='/')
                span Рейтинг
            a(href='/')
                span Дата
