.articles-table
    .container
        .row
            .col-md-5.col-lg-5.text-left
                table
                    tr
                        td.reiting
                            span.no 34
                            img(src='./images/icons/reiting-star.png' alt='')
                        td.article-name
                            a(href='/') Вся Военная ипотека в цифрах
                    tr
                        td.reiting
                            span.no 30
                            img(src='./images/icons/reiting-star.png' alt='')
                        td.article-name
                            a(href='/') Преимущества программы «Военная ипотека»
                    tr
                        td.reiting
                            span.no 34
                            img(src='./images/icons/reiting-star.png' alt='')
                        td.article-name
                            a(href='/') Вся Военная ипотека в цифрах
                    tr
                        td.reiting
                            span.no 30
                            img(src='./images/icons/reiting-star.png' alt='')
                        td.article-name
                            a(href='/') Преимущества программы «Военная ипотека»
                    tr
                        td.reiting
                            span.no 34
                            img(src='./images/icons/reiting-star.png' alt='')
                        td.article-name
                            a(href='/') Вся Военная ипотека в цифрах
                    tr
                        td.reiting
                            span.no 30
                            img(src='./images/icons/reiting-star.png' alt='')
                        td.article-name
                            a(href='/') Преимущества программы «Военная ипотека»

            .col-md-offset-2.col-md-5.col-lg-offset-2.col-lg-5.text-left
                table
                    tr
                        td.reiting
                            span.no 34
                            img(src='./images/icons/reiting-star.png' alt='')
                        td.article-name
                            a(href='/') Вся Военная ипотека в цифрах
                    tr
                        td.reiting
                            span.no 30
                            img(src='./images/icons/reiting-star.png' alt='')
                        td.article-name
                            a(href='/') Преимущества программы «Военная ипотека»
                    tr
                        td.reiting
                            span.no 34
                            img(src='./images/icons/reiting-star.png' alt='')
                        td.article-name
                            a(href='/') Вся Военная ипотека в цифрах
                    tr
                        td.reiting
                            span.no 30
                            img(src='./images/icons/reiting-star.png' alt='')
                        td.article-name
                            a(href='/') Преимущества программы «Военная ипотека»
                    tr
                        td.reiting
                            span.no 34
                            img(src='./images/icons/reiting-star.png' alt='')
                        td.article-name
                            a(href='/') Вся Военная ипотека в цифрах
                    tr
                        td.reiting
                            span.no 30
                            img(src='./images/icons/reiting-star.png' alt='')
                        td.article-name
                            a(href='/') Преимущества программы «Военная ипотека»
        .row
            .col-xs-12.col-sm-12.col-md-12.text-center.yet
                +arrowDown('Показать ещё')