.articles-comments-block
    .row
        .col-md-offset-1.col-md-9.col-lg-offset-1.col-lg-9
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12.comment-block.text-left
                    .info-block
                        .social-icon
                            img(src='./images/icons/icon-f.png' alt='')
                        .name-date
                            span.name Иван Иванов
                            span.date 21.03.17
                    span.comment-title Лучшее от ВоенГаранта
                    p.
                        Добрый день! Хочу сказать, когда прочитал на сайте о программе ВИ, как все с покупкой квартиры  гладко и красиво -
                        поначалу даже не верилось.  Хочу сказать, когда прочитал на сайте о программе... поначалу даже не верилось.  Хочу сказать,
                        когда прочитал на сайте о программе... Все...
                    a(href='/') Подробнее
    .row
        .col-md-offset-1.col-md-9.col-lg-offset-1.col-lg-9
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12.comment-block.text-left
                    .info-block
                        .social-icon
                            img(src='./images/icons/icon-f.png' alt='')
                        .name-date
                            span.name Иван Иванов
                            span.date 21.03.17
                    span.comment-title Лучшее от ВоенГаранта
                    p.
                        Добрый день! Хочу сказать, когда прочитал на сайте о программе ВИ, как все с покупкой квартиры  гладко и красиво -
                        поначалу даже не верилось.  Хочу сказать, когда прочитал на сайте о программе... поначалу даже не верилось.  Хочу сказать,
                        когда прочитал на сайте о программе... Все...
                    a(href='/') Подробнее