ul.blue-column.blue-cell
    li.blue-cell-1
    li.blue-cell-2
    li.blue-cell-3
    li.blue-cell-4
    li.blue-cell-5
    li.blue-cell-6
    li.blue-cell-7
    li.blue-cell-8
    li.blue-cell-9
    li.blue-cell-10