.control-form
    span.block__title.control-form__title Принять участие в контроле
    .control-form__description
        p.
            В рамках метода «Общественный контроль» заключены соглашения с ведущими строительными компания о поддержке
            данного проекта, готовности взаимодействовать с военнослужащими по программе «Военная ипотека» и идти навстречу
            для урегулирования возникающих проблем.
    .control-form__enter-control
        form#control-form
                ul.clearfix
                    li
                        label Имя
                        input(type="text")
                    li
                        label Темы
                        select Выберите тему
                            option 11111111111111111111
                            option 22222222222222222222
                            option 33333333333333333333
                            option 44444444444444444444


                    li
                        label Регион
                        input(type="text")
                    li
                        label E-mail
                        input(type="email")
                    li
                        label Застройщик1
                        input(type="text")

                    li
                        label Телефон
                        input(type="tel")
                .control-form__message
                    label Сообщение
                    .mask-input
                        input(type="text")
                        button.mask-input__explore
                    input.hidden-input(type="file" multiple)
                .control-form__send
                    button(type="submit") Отправить
                    a(href="#") Политика конфиденциальности


