.union-form_desktop
    .union-form
        span.block__title.union-form__title Задать вопрос
        .union-form__description
            p.
                Вы всегда можете задать на любой  интересующий вас вопрос!<br>
                Наши специалисты свяжутся с вами втечени дня.

        form
            ul
                li
                    label(for="uf-1") Имя
                    input#uf-1(type="text")
                li
                    label(for="uf-2") Телефон
                    input#uf-2(type="text")
            label(for="uf-3") Сообщение
            textarea#uf-3
            .union-form__send
                button.union-form__send-btn Отправить
                a(href="#") Политика конфиденциальности
.union-form_mobile
    .union-form
        span.block__title.union-form__title Задать вопрос
        .union-form__description
            p.
                Вы всегда можете задать на любой  интересующий вас вопрос!<br>
                Наши специалисты свяжутся с вами втечени дня.

        form
            ul
                li
                    label(for="uf-1") Имя
                    input#uf-1(type="text")
                li
                    label(for="uf-2") Телефон
                    input#uf-2(type="text")
            label(for="uf-3") Сообщение
            textarea#uf-3
            .union-form__send
                button.union-form__send-btn Отправить
                a(href="#") Политика конфиденциальности
