.build-consultant{
  padding-top: 100px;
  .row{
    display: flex;
  }
  .map-context{
      width: 56.849%;
      height: 510px;
      .plus{
        right: -20px;
        top: 16%
      }
      .menus{
        right: -20px;
        bottom: 38.5%;
      }
      .search,.str{
        display: none;
      }
      .scr{
        right: -25px;
        bottom: 60px;
        span{
          display: none;
        }
    }

    }
  .build-consultant__context{
    width: 36.98%;
    border: 1px solid #dcdcdc;
    padding: 30px 35px;
    margin-left: 65px;
    .block__title{
      font-size: 30px;
      margin-top: 0;
    }
    .block__text{
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 20px;
      span{
        display: inline-block;
        color: #309bf9;
      }
    }
    label{
      display: block;
      color: #777777;
      font-weight: 300;
    }
    input,textarea{
      width: 100%;
      font-size: 18px;
      padding: 5px;
      margin-bottom: 5px;
      border-radius: 5px;
      border: 1px solid #d3d3d3;
    }
    textarea{
      height: 85px;
      resize: none;
      box-sizing: border-box;
    }
    button{

    }
  }
}