/*BUILDERS-TABS*/

.builders-tabs {
  font-family: $mainFontFamily;
  font-weight: 300;
  margin: 0 0 170px 0;
  padding: 0 15px;
  .graphic {
    margin: 110px 0 0 0;
  }
  &__title {
    margin: 0 0 13px 0;
    @include breakpoint("max-width: 1024px"){
      color: #2f2f2f;
      font-weight: 100;
    }
  }
  &__max-reiting-inscription {
    display: block;
    color: color(default);
    text-align: center;
    @include breakpoint("max-width: 1024px"){
      margin-bottom: 10px;
    }

    .max-reiting {
      padding-left: 5px;
    }
  }
  &__description {
    font-size: $s18;
    color: color(build-default);
    @include breakpoint("max-width: 1024px"){
      font-size: 30px;
      line-height: 36px;
    }
    p {
      margin: 0;
    }
    margin: 0 0 20px 0;
  }

  &__tabs {

    .tab-content {
      padding: 0;
      display: block;
      .max-reiting-inscription {
        display: none;
      }
    }
    .nav-tabs {

      @include breakpoint("max-width: 1281px") {
        width: 90%;
      }

      border: none;
      display: block;
      width: 780px;
      margin: 0 auto;
      li.active {
        a {
          border: none;
          background: transparent;
          color: color(link-more);
          &:after {
            transform: rotate(90deg);
            top: 1px;
          }
        }
      }

      li {
        margin: 0 ($container - 830px)/7 0 0;
        &:last-child {
          margin: 0;
        }
        a {
          transition: .2s;
          padding: 0;
          color: color(default);
          font-family: $mainFontFamily;
          font-weight: 300;
          margin: 0;
          border: none;
          position: relative;
          &:hover {
            background: transparent;
            border: none;
          }
          &:after {
            content: '>';
            display: inline-block;
            right: -18px;
            position: absolute;

          }
        }

      }

    }
  }

}

/*END BUILDERS-TABS*/