/*RATE-GRAPH-BUILDERS*/
$column-w: (180px*100%)/1350px;
$column-dist: ((360px/3)*100%)/1350px;
.graphic-builders {
  &_desktop {
    @include breakpoint("max-width:1024px") {
      display: none;
    }
  }
  &_mobile {
    display: none;
    @include breakpoint("max-width: 1024px") {
      display: block;
      .graphic__column {
        width: $column-w;
        margin: 0 $column-dist 0 0;
        &:nth-child(4n) {
          margin: 0;
        }
      }
      .graphic__list {
        margin: 120px 0 0 0;
      }
      .graphic__rate{
        li{
          width: $column-w;
          margin: 0 $column-dist 0 0;
        }
      }
    }
  }
}

.graphic.graphic-builders {

  .graphic__column {
    position: relative;
  }
  .graphic__builder-top {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    top: -85px;
    @include myriadL(18, $mainFontFamily, 400);
    transition: .2s;
    img {
      transition: .2s;
      @include grayscale;
    }
    color: color(black);
    &:hover {
      color: color(link-more);
      text-decoration: none;
      img {
        @include ungrayscale;
      }
    }

  }
  .graphic__builder-logo {
    margin: 0 auto 6px auto;
    width: 40px;
  }

}

/*END RATE-GRAPH-BUILDERS*/