/*CONTROL*/

.control {
  &_mobile {
    display: none;
    @include breakpoint("max-width:1024px") {
      display: block;
    }
  }
  &_desktop {
    @include breakpoint("max-width:1024px") {
      display: none;
    }
  }
  padding: 115px 0 0 0;
  &__title {
    margin-top: 0;
    margin-bottom: 30px;
  }
  &__description {
    font-size: $s18;
    @include breakpoint("max-width:1024px") {
      font-size: $s30;
    }
  }

  @include myriadL(16, $mainFontFamily, 300);

}

.p-l-50 {
  padding-left: 50px;
}

.warning {

  margin: 90px 0 0 0;
  &_m-bottom {
    margin: 0;
  }
  &__s-title {
    margin-top: 0;
    font-size: $s18;
    font-weight: 400;
    @include breakpoint("max-width:1024px") {
      font-size: $s30;
    }
  }
  &__pic {
    margin: 0 0 18px 0;
  }
  &__under-title {
    font-size: $s18;
    margin: 0 0 15px 0;
    display: block;
    @include breakpoint("max-width:1024px") {
      font-size: $s30;
    }
  }
  ol {
    margin: 29px 0 0 0;
    padding: 0 0 0 15px;
    font-size: $s18;
    @include breakpoint("max-width:1024px") {
      font-size: $s30;
    }
    li {
      margin: 0 0 18px 0;
      &:last-child {
        margin: 0;
      }
    }
  }
  &__description {
    color: color(default);
    @include breakpoint("max-width:1024px") {
      font-size: $s30;
      padding: 0 0 80px 0;
    }
  }

}

/*CONTROL*/