/*CONTROL-FORM*/

.control-form {

  &_mobile {
    display: none;
    @include breakpoint("max-width: 1024px") {
      display: block;
    }
  }
  &_desktop {
    @include breakpoint("max-width: 1024px") {
      display: none;
    }
  }

  padding: 50px 40px 65px 40px;
  border: 1px solid #dcdcdc;
  @include breakpoint("max-width:1024px") {
    border-left: none;
    border-right: none;
    padding: 50px 40px 65px 40px;

  }
  .control-form {
    &__title {
      margin-top: 0;
      @include breakpoint("max-width: 1024px") {
        font-size: $s36;
      }
    }
  }
  &__description {
    @include myriadL(18, $mainFontFamily, 300);
    color: color(default);
    @include breakpoint("max-width: 1024px") {
      font-size: $s20;
    }
  }
  &__enter-control {
    ul {
      list-style: none;
      padding: 0;
      input {
        @include light-input;

      }
      li {
        width: (95%/2);
        float: left;
        height: 50px;
        margin: 0 5% 20px 0;
        &:nth-child(2n) {
          margin: 0 0 20px 0;
        }
        @include breakpoint("max-width: 1024px") {
          float: none;
          margin: 0 0 20px 0;
          height: auto;
          width: 65%;
        }
      }
    }

    label {
      font-size: $s14;
      color: color(default);
      font-weight: 300;
      @include breakpoint("max-width: 1024px") {
        font-size: $s20;
      }
    }
    select {
      @include light-input;
      color: color(link-more);
      option {
        color: #333;
      }
    }

  }
  &__send {
    margin: 20px 0 0 0;
    @include breakpoint("max-width:1024px") {
      margin: 100px 0 0 0;
    }
    button {
      @include btnSend;
    }
    a {
      float: right;
      color: color(link-more);
      &:hover {
        color: color(link-more);
      }
      font-weight: 300;
      @include breakpoint("max-width:1024px") {
        font-size: $s20;
        line-height: 54px;
      }
    }
  }
  &__message {
    position: relative;
    .hidden-input {
      width: 30px;
      height: 38px;
      top: 26px;
      left: 10px;
      opacity: 0;
      position: absolute;
      &:hover {
        cursor: pointer;
      }
    }
    @include breakpoint("max-width:1024px") {
      height: 175px;
    }
  }

}

.mask-input {
  position: relative;
  @include breakpoint("max-width:1024px") {
    height: 100%;
  }
  textarea {
    resize: none;
    height: 34px;
    @include light-input;
    padding-left: 50px;
    @include breakpoint("max-width:1024px") {
      height: 100%;
    }
  }
  &__explore {
    position: absolute;
    left: 11px;
    top: 6px;
    background: url(../images/icons/icon-clip.png) no-repeat center center;
    width: 24px;
    height: 24px;
    &:hover {
      cursor: pointer;
    }
  }
}

/*CONTROL-FORM*/