/*HORISONT-GRAPH*/

.horizont-graph {

  li {
    height: 18px;
    width: 3px;
    display: inline-block;
    margin: 0 1px 0 0;
    line-height: 1;
    &:last-child {
      margin-right: 0;
    }
  }
  ul {
    margin: 0 0 0 21px;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

}

.red-column {

  li {
    background: linear-gradient(to right, #b01f3b 0%, #e54060 100%);

    &:last-child {
      position: relative;
      &:after {
        position: absolute;
        content: ' ';
        background: color(top-red);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: inline-block;
        top: 50%;
        margin: -3px 0 0 0;
        right: -4px;

      }
      &:before {
        position: absolute;
        content: ' ';
        background: color(white);
        width: 2px;
        height: 2px;
        border-radius: 50%;
        display: inline-block;
        top: 50%;
        margin: -1px 0 0 0;
        right: -2px;
        z-index: 2;
      }
    }
  }

}

.yellow-column {

  li {
    background: linear-gradient(to right, #dd8615 0%, #e8c835 100%);

    &:last-child {
      position: relative;
      &:after {
        position: absolute;
        content: ' ';
        background: color(top-yellow);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: inline-block;
        top: 50%;
        margin: -3px 0 0 0;
        right: -4px;

      }
      &:before {
        position: absolute;
        content: ' ';
        background: color(white);
        width: 2px;
        height: 2px;
        border-radius: 50%;
        display: inline-block;
        top: 50%;
        margin: -1px 0 0 0;
        right: -2px;
        z-index: 2;
      }
    }
  }

}

.blue-column {

  li {

    &:last-child {
      position: relative;
      &:after {
        position: absolute;
        content: ' ';
        background: color(top-blue);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: inline-block;
        top: 50%;
        margin: -3px 0 0 0;
        right: -4px;

      }
      &:before {
        position: absolute;
        content: ' ';
        background: color(white);
        width: 2px;
        height: 2px;
        border-radius: 50%;
        display: inline-block;
        top: 50%;
        margin: -1px 0 0 0;
        right: -2px;
        z-index: 2;
      }
    }
  }

}

/*HORISONT-GRAPH*/