.consultations
    .container
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-6.text-left
                span.context__title Бесплатные консультации
                p Не все военнослужащие могут самостоятельно защитить свои права. Однако, военнослужащие могут получать множество преимуществ и льгот, которых они могут лишиться, в связи с отсутствием свободного времени и специальных знаний в области современного законодательства.Наша цель - оказать помощь и содействие всем гражданам, у которых возникли непредвиденные обстоятельства в жизни, и которые нуждаются в получении компетентной юридической помощи.
                a(href='').readmore подробнее
                p Для военнослужащих и членов их семей установлены минимальные тарифы и скидки на юридические услуги.омощь и содействие всем гражданам, у которых возникли непредвиденные обстоятельства в жизни, и которые нуждаются в получении компетентной юридической .Наша цель - оказать помощь и содействие всем гражданам, у которых возникли непредвиденные обстоятельства в жизни, и которые нуждаются в получении компетентной юридической минимальные тарифы и скидки на юридические услуги.
            .lg-block.col-lg-offset-1.col-lg-5
                include _forma
    .xs-block
        include _forma