.directions
    .container
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-3.block__left.text-left
                img(src='./images/icons/directions.png' alt='')
                span Умная покупка квартиры военнослужащим
                p.
                    Предоставление скидок
                    от застройщиков, банков, агентств
                    недвижимости, риэлторов, страховых
                    компаний, мебельных магазинов,
                    организаций, осуществляющих
                    ремонтно-строительные работы,
                    транспортные услуги, а также скидок
                    на строительно-отделочные
                    материалы, бытовую технику и др.
            .col-xs-12.col-sm-12.col-md-12.col-lg-offset-2.col-lg-7.block__right.text-left
                span Направления
                ol
                    li Защита прав граждан при приобретении жилья по договору долевого участия (задержка сроков сдачи дома и нарушение качества сдаваемого объекта и др.).
                    li Помощь при разделе имущества супругов.
                    li Подготовка документов и помощь в регистрации сделок с недвижимым имуществом.
                    li Разработка договоров, соглашений, актов и других документов.
                    li Правовой анализ документов.
                    li Досудебное урегулирование споров (претензионная работа).
                    li Участие в судебных разбирательствах в судах общей юрисдикции, арбитражных судах и военных судах.
                    li Взыскание задолженности по исполнительным листам.