.question-lawyer__title
    .container.text-center
        img(src='./images/icons/question-lawyer__title.png' alt='')
        span.title Задайте вопрос юристу
        span.context Задайте вопрос прямо сейчас и на него ответят специалисты.