.black-news{
  .block__text{
    color: #777777;
    @include breakpoint("max-width: 1280px") {
      line-height: 18px;
    }
  }
  .news-left{
    padding-right: 0;
    padding-left: 0;
    @include breakpoint("max-width: 1024px") {
      display: none;
    }
    ul{
      list-style: none;
      padding: 0;
    }
    li:hover{
      display: block;
      background: #303030;
      margin-right: 15px;
    }
    a{
      color: #777777;
      line-height: 38px;
      padding-left: 10px;
    }
    a:hover{
      text-decoration: none;
    }
  }
  .news-right{
    @include breakpoint("max-width: 1024px") {
      width: 100%;
      padding: 0 ;
    }
    padding-right: 30px;
    &__mob-menu{
      display: none;
      padding: 40px 0;
      @include breakpoint("max-width: 1024px") {
       display: block;
      }
      ul{
        padding: 0;
      }
      li{
        display: inline-block;
        padding-right: 12.8%;
        a{
          font-size: 25px;
          font-weight: 300;
          color: #777777;
        }
        a:hover{
          text-decoration: none;
          color: #ffffff;
        }
      }
      li:last-child{
        padding: 0;
      }

    }
    .news-left__banner{
      display: none;
      @include breakpoint("max-width: 1024px"){
        display: block;
      }
    }
  }
  .down-arrow{
    margin-top: 65px;
    @include breakpoint("max-width: 1024px"){
      font-size: 30px;
    }
  }
  .seo{
    padding-top: 150px;
    @include breakpoint("max-width: 1024px") {
      padding-top: 200px;
    }
    background: url("../images/background-black.png");
    border-bottom: solid 1px #2a2a29;
    .but {
      margin: 30px auto 50px;
    }
  }
  footer{
    border-top: solid 1px #2a2a29;
    ul,a{
      color: #777777;
      font-size: 18px;
    }
  }
}
