.black-news{
  background: url("../images/background-black.png");
  background-size: cover;
  padding-top: 200px;
  color: #f5f5f5;
  @include breakpoint("max-width: 1024px") {
    padding-top: 75px;
  }
  .block__text{
    color: #777777;
    @include breakpoint("max-width: 1280px") {
      line-height: 18px;
    }
  }
  .news-left{
    padding-right: 0;
    padding-left: 0;
    @include breakpoint("max-width: 1024px") {
      display: none;
    }
    ul{
      list-style: none;
      padding: 0;
    }
    li:hover{
      display: block;
      background: #303030;
      margin-right: 15px;
    }
    a{
      color: #777777;
      line-height: 38px;
      padding-left: 10px;
    }
    a:hover{
      text-decoration: none;
    }
    &__banner{
      margin-top: 50px;
      padding: 40px 15px 40px 25px;
      background: url("../images/black-menu/macbook.png") ;
      background-size: cover;
      color: #ffffff;
      height: 400px;
      border-radius: 5px;
      @include breakpoint("max-width: 1680px") {
        height: 360px;
        padding: 30px 15px 40px 15px;
      }
      @include breakpoint("max-width: 1280px") {
        height: 290px;

      }
      .block__title{
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 10px;
        @include breakpoint("max-width: 1680px") {
          font-size: 14px;
        }
        @include breakpoint("max-width: 1280px") {
          font-size: 12px;
        }
      }
      .block__text{
        font-size: 14px;
        font-family: "Roboto Slab", serif;
        @include breakpoint("max-width: 1680px") {
          font-size: 12px;
        }
        @include breakpoint("max-width: 1280px") {
          font-size: 10px;
          line-height: 14px;
        }
      }
      button{
        margin-top: 22px;
        font-size: 14px;
        width: 150px;
        @include breakpoint("max-width: 1680px") {
          font-size: 12px;
        }
        @include breakpoint("max-width: 1280px") {
          font-size: 10px;
          width: 110px;
        }
      }
    }
  }
  .news-right{
    @include breakpoint("max-width: 1024px") {
      width: 100%;
      padding: 0 ;
    }
    padding-right: 30px;
    &__mob-menu{
      display: none;
      padding: 40px 0;
      @include breakpoint("max-width: 1024px") {
       display: block;
      }
      ul{
        padding: 0;
      }
      li{
        display: inline-block;
        padding-right: 85px;
        a{
          font-size: 25px;
          font-weight: 300;
          color: #777777;
        }
        a:hover{
          text-decoration: none;
          color: #ffffff;
        }
      }
      li:last-child{
        padding: 0;
      }

    }
    .news__banner{
      display: none;
      @include breakpoint("max-width: 1024px"){
        display: block;
      }
    }
  }
  .down-arrow{
    margin-top: 65px;
  }
  .seo{
    padding-top: 150px;
    background: url("../images/background-black.png");
    border-bottom: solid 1px #2a2a29;
    .but {
      margin: 30px auto 50px;
    }
  }

  footer{
    border-top: solid 1px #2a2a29;
    ul,a{
      color: #777777;
      font-size: 18px;
    }
  }
}
