.review-block
    .container
        span.review-block__date 21.07.2016
        .name
            img(src='./images/icons/social-vk.png' alt='').social-icon
            span Екатерина Аблукова
        .row.review-block__content
            .col-xs-12.col-sm-12.col-md-1.col-lg-1
                img(src='./images/icons/reviews-coma2.png' alt='')
            .col-xs-12.col-sm-12.col-md-10.col-lg-10
                p Хотели выразить огромную благодарность коллективу ВоенГарант Брали квартиру в Алексеевской роще, все грамотно объяснили - куда обращаться, сколько стоит оформление. Еще и оформили заявку на скидку! Спасибо! Всем коллегам будем вас советовать!отели выразить огромную благодарность коллективу ВоенГарант Брали квартиру в Алексеевской роще, все грамотно объяснили - куда обращаться, сколько стоит оформление. Еще и оформили заявку на скидку! Спасибо! Всем коллегам будем вас советовать!отели выразить огромную благодарность коллективу ВоенГарант Брали квартиру в Алексеевской роще, все грамотно объяснили - куда обращаться, сколько стоит оформление. Еще и оформили заявку на скидку! Спасибо! Всем коллегам будем вас советовать!отели выразить огромную благодарность коллективу ВоенГарант Брали квартиру в Алексеевской роще, все грамотно объяснили - куда обращаться, сколько стоит оформление. Еще и оформили заявку на скидку! Спасибо! Всем коллегам будем вас советовать!жотели выразить огромную благодарность коллективу ВоенГарант Брали квартиру в Алексеевской роще, все грамотно объяснили - куда обращаться, сколько стоит оформление. Еще и оформили заявку на скидку! Спасибо! Всем коллегам будем вас советовать!
        a(href='/') Вернуться к отзывам
        img(src='./images/icons/social-vk.png' alt='').social-icon-mob