.review-slider
    .container
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .review-slider__slide
                        .row
                            .col-md-7.col-lg-7
                                .slide__background-img
                            .col-md-4.col-lg-4
                                .slide_content.text-center
                                    span.slide__title Больше преимуществ!
                                    span.slide__subtitle Сотрудничай с ВоенГарантом и получай специальные условия!
                                    span.slide__context Регистрация в личном кабинете участника объединения
                                    button.btn.btn-primary Зарегистрироваться
                .swiper-slide
                    span 2
                .swiper-slide
                    span 3
                .swiper-slide
                    span 4
                .swiper-slide
                    span 5
                .swiper-slide
                    span 6
                .swiper-slide
                    span 7
                .swiper-slide
                    span 8
            .swiper-pagination