.application-forma {
  .lg-block {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 39px (35px / $container * 100%);
    width: (475px / $container * 100%);
    float: right;
    @include breakpoint("max-width: 1024px") {
      display: none;
    }
  }
  .xs-block {
    @include breakpoint("min-width: 1025px") {
      display: none;
    }
    &__border {
      border-top: 1px solid #dcdcdc;
      border-bottom: 1px solid #dcdcdc;
      padding: 57px 0;
      width: 100%;
    }
  }
  .forma-title {
    @include text($mainFontFamily, #1f1f1f, block, 30px, 32px, normal);
    margin: 0 0 22px 0;
    @include breakpoint("max-width: 1024px") {
      @include text($mainFontFamily, #1f1f1f, block, 36px, 40px, normal);
      margin: 0 0 26px 0;
    }
  }
  .forma-context {
    @include text($mainFontFamily, #777777, block, 14px, 16px, 100);
    margin: 0 0 11px 0;
    @include breakpoint("max-width: 1024px") {
      @include text($mainFontFamily, #777777, block, 20px, 25px, 100);
      margin: 0 0 16px 0;
    }
    &__blue {
      color: #309bf7;
      display: inline;
    }
  }
  label {
    margin: 20px 0 5px 0 !important;
    @include breakpoint("max-width: 1024px") {
      margin: 22px 0 10px 0 !important;
    }
  }
  input, textarea {
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 100;
    font-size: 18px;
    font-family: $mainFontFamily;
    color: #333333;
    @include breakpoint("max-width: 1024px") {
      padding: 15px 20px;
      font-size: 30px;
    }
    &:active, &:focus {
      outline: none;
      box-shadow: 0px 0px 25px 0px rgba(229,236,248,1);
    }
  }
  textarea {
    resize: none;
    overflow: auto;
  }
  button {
    @include button($mainFontFamily, 18px, #ffffff, 100, none, 5px, 35px, 30px, .9);
    padding-left: (35px / 560px * 100%);
    padding-right: (35px / 560px * 100%);
    background-color: #309bf7;
    float: left;
    margin: 22px 0 0 0;
    @include breakpoint("max-width: 1024px") {
      margin: 30px 0 0 0;
      @include button($mainFontFamily, 30px, #ffffff, 100, none, 5px, 54px, 50px, .9);
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  form {
    a {
      float: right;
      @include text($mainFontFamily, #309bf7, inline-block, 12px, 14px, 100);
      margin: 34px 0 0 0;
      @include breakpoint("max-width: 1060px") {
        float: left;
      }
      @include breakpoint("max-width: 1024px") {
        @include text($mainFontFamily, #309bf7, inline-block, 20px, 22px, 100);
        margin: 53px 0 0 0;
        float: right;
      }
    }
  }
}
.ipoteka-povtorno .ceo {
  padding-top: 0;
}
