.agreement
    .container.text-center
        img(src='./images/vzaimodeistvie/agreement.png' alt='')
        span.title Подписано соглашение о взаимодействии с Росгвардией
        span.context Если военнослужащий ВВ МВД России станет военнослужащим Росгвардии, военная ипотека для него сохранится, выплаты и накопления продолжатся


