.interplay
    .container
        span.title.text-center Взаимодействие
        span.context.text-center ВоенГарант – Поддерживает военнослужащих армии и других ведомств по всей России<br>В рамках работы по повышению эффективности программы Военная ипотека для военнослужащих и членов их семей НКО УНИС  осуществляет взаимодействие со следующими организациями
        img(src='./images/vzaimodeistvie/gerbs.png' alt='').lg-block
        img(src='./images/vzaimodeistvie/gerbs-mob.png' alt='').xs-block