.letters__main-block
    .block
        a(href='/')
            img(src='./images/icons/dependents-gerb1.png' alt='')
            span.text-center Аппарат правительства РФ
    .block
        a(href='/')
            img(src='./images/icons/dependents-gerb2.png' alt='')
            span.text-center СВР России
    .block
        a(href='/')
            img(src='./images/icons/dependents-gerb3.png' alt='')
            span.text-center ГУСП
    .block
        a(href='/')
            img(src='./images/icons/dependents-info.png' alt='')
            span.text-center МЧС России
    .block
        a(href='/')
            img(src='./images/icons/dependents-gerb1.png' alt='')
            span.text-center Офицеры России
    .block
        a(href='/')
            img(src='./images/icons/dependents-gerb2.png' alt='')
            span.text-center Министерство обороны РФ
    .block
        a(href='/')
            img(src='./images/icons/dependents-gerb3.png' alt='')
            span.text-center ФСО Росии
    .block
        a(href='/')
            img(src='./images/icons/dependents-info.png' alt='')
            span.text-center Внутренние войска МВД России