.letters
    .container
        span.subtitle.text-center Взаимодействие
        span.title.text-center Официальные письма
        span.context.text-center ВоенГарант – Поддерживает военнослужащих армии и других ведомств по всей России<br>В рамках работы по повышению эффективности программы Военная ипотека для военнослужащих и членов их семей НКО УНИС  осуществляет взаимодействие со следующими организациями
        include _letter