.about-project{
  padding-top: 132px;
  .col-md-6{
    padding-left: 30px;

  }
  .block__title{
    padding-top: 25px;
    margin: 0;
    font-size: 36px;
    font-weight: 300;
  }
  ._regular{
    display: block;
    padding-top: 35px;
    font-weight: 600;
    color: #333333;
  }
  .block__text{
    padding-top: 23px;
    padding-bottom:15px;
  }
  .about-project__button
  {
    padding-top: 41px;
    .line{
      display: inline-block;
      width: 46.49%;
      vertical-align: top;
      margin-top: 20px;
      height: 2px;
      background-color: #e1e1e1;
    }
    button{
      display: inline-block;
      outline: none;
      border:none;
      background: url("../images/icons/about-project-button.png") no-repeat;
      background-size: cover;
      width: 39px;
      height: 39px;
      color: #ffffff;
      }
        button:hover{
          opacity: 0.8;
        }
  }
  .about-project-slider{
    text-align: center;
    padding: 74px;
    height: 586px;


    span{
      display: block;
      padding-bottom: 15px;
    }
    span:first-child{
      font-family: "Roboto Slab";
      color: #333333;
      font-size: 18px;
    }
    button{
      margin-left: -45px;

    }
  }
  .slider-home{
    width: 95%;
    margin-top: 20px;
    height: 600px;
    margin-bottom: 0 ;
  }
  .swiper-slide{
    width: 100%;
  }
  .swiper-wrapper {
    margin-left: 45px;
    background: url("../images/icons/about-project-slide.png");
    background-size: cover;

  }
  .swiper-slide__content{
    position: relative;
    bottom: 0;
  }
  .swiper-pagination {
    margin-bottom: 20px;
  }
  .more{
    padding-top: 20px;
    font-size: 18px;
    color: #309bf7;
    margin: 0;
    display: block;
  }
}