.analitic{
  padding-top: 205px;
  font-size: 18px;
  .container{
    padding-left: 13px;
  }
  .block__title{
    display: block;
    margin:0;
    padding-bottom: 10px;
  }
  .analitic-info{
    padding-top: 21px;
  }
  .more{
    display: block;
    margin: 45px 0 0;
  }
}
