.analitic{
  padding-top: 225px;
  font-size: 18px;
  .col-md-7{
    @include breakpointFull("max-width: 1680px","min-width: 1024px"){
      width: 90%;
      padding-left: 30px;
    }
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 30px;
      color: #333333;
      font-weight: 300;
    }
  }
  .col-md-1{
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 30px;
      font-weight: 300;
      color: #727272;
    }
  }
  .container{
    padding-left: 13px;
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      padding: 0;
    }
  }
  .block__title{
    display: block;
    margin:0;
    padding-bottom: 20px;
  }
  .analitic-info{
    padding-top: 21px;
  }
  .more{
    display: block;
    margin: 45px 0 0;
  }
}
