.analitic{
  padding-top: 225px;
  font-size: 18px;
  @include breakpoint("max-width: 1024px"){
    padding-top: 130px;
  }
  @include breakpoint("max-width: 1680px"){
    font-size: 16px;
  }
  .col-md-7{
    text-align: left;
    @include breakpoint("max-width: 1680px"){
      width: 90%;
    }
    @include breakpoint("max-width: 1024px"){
      width: 100%;
      font-size: 30px;
      color: #333333;
      font-weight: 300;
    }
  }
  .col-md-1{
    @include breakpoint("max-width: 1024px"){
      font-size: 30px;
      font-weight: 300;
      color: #727272
    }
  }
  .container{
    padding-left: 13px;
    @include breakpoint("max-width: 1024px"){
      padding: 0;
    }
  }
  .block__title{
    display: block;
    margin:0;
    padding-bottom: 20px;
  }
  .analitic-info{
    padding-top: 21px;
  }
  .more{
    display: block;
    margin: 45px 0 0;
  }
}
