.bank{
  padding-top: 55px;
  padding-bottom: 80px;
  .block__text,.block__title,.more{
    display: block;
    text-align: center;
    padding-bottom: 25px;
  }
  .block__text{
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 20px;
    }
  }
  .block__title{
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 15px;
  }
  .more{
    margin: 0;
    padding-bottom: 30px;
  }
  ul{
    padding: 0;
    margin: 0 ( -4.90566% / 2);
    overflow: hidden;

  }
  li{
    display: inline-block;
    padding: 0 (2.641509% / 2);
    width: ($container / 6 / $container * 100%);
    text-align: center;
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      width: ($container / 3/ $container * 100%);
    }
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
     margin-bottom: 50px;
    }
    span{
      display: inline-block;
      width: 100%;
      font-size: 18px;
      font-weight: 600;
      padding-top: 15px;
      @include breakpointFull("max-width: 1680px","min-width: 1024px"){
        font-size: 16px;
      }
    }
    span:last-child{
      font-size: 14px;
      font-weight: 300;
      @include breakpointFull("max-width: 1680px","min-width: 1024px"){
        font-size: 12px;
      }
    }
  }
  li:hover{
    img{
      @include ungrayscale;
    }
    span:nth-child(2){
      color: #0e386f;
    }
  }
  img{
    width: 100%;
    height: 100%;
    @include grayscale;
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      width: 80%;
    }
  }



}