.bank{
  padding-bottom: 170px;
  padding-top: 135px;
  .block__text,.block__title,.more{
    display: block;
    text-align: center;
    padding-bottom: 30px;
  }
  .block__title{
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 5px;
  }
  .more{
    margin: 0;
    padding-bottom: 30px;
  }
  ul{
    padding: 0;
    margin: 0 ( -4.90566% / 2);
    overflow: hidden;

  }
  li{
    display: inline-block;
    padding: 0 (4.90566% / 2);
    width: ($container / 5 / $container * 100%);

  }
  img{
    width: 100%;
    height: auto;
  }


}