.bank{
  padding-top: 55px;
  padding-bottom: 60px;
  @include breakpoint("max-width: 1024px"){
    padding-top: 100px;
  }
  .block__text,.block__title,.more{
    display: block;
    text-align: center;
    padding-bottom: 25px;
  }
  .block__text{
    @include breakpoint("max-width: 1024px"){
      font-size: 20px;
    }
  }
  .block__title{
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 15px;
  }
  .more{
    margin: 0;
    padding-bottom: 30px;
  }
}
.bank-block{
  padding: 0;
  overflow: hidden;
  margin: 0;
  text-align: center;
  li{
    display: inline-block;
    padding: 0 (2.641509% / 2);
    width: 16%;
    text-align: center;
    margin-bottom: 20px;
    @include breakpoint("max-width: 1024px"){
      width: ($container / 3/ $container * 100%);
    }
    @include breakpoint("max-width: 1024px"){
      margin-bottom: 50px;
    }
    span{
      display: inline-block;
      width: 100%;
      font-size: 18px;
      font-weight: 600;
      padding-top: 15px;
      @include breakpoint("max-width: 1680px"){
        font-size: 16px;
      }
      @include breakpoint("max-width: 1024px"){
        font-size: 20px;
        color: #777777;
      }
    }
    span:last-child{
      font-size: 14px;
      font-weight: 300;
      width: 85%;
      @include breakpoint("max-width: 1680px"){
        font-size: 12px;
        width: 75%;
      }
      @include breakpoint("max-width: 1280px"){
        width: 100%;
      }
      @include breakpoint("max-width: 1024px"){
        display: none;
      }
    }
  }
  li:hover{
    img{
      @include ungrayscale;
    }
    span:nth-child(2){
      color: #0e386f;
    }
  }
  img{
    width: 100%;
    @include grayscale;
    @include breakpoint("max-width: 1024px"){
      width: 80%;
    }
  }
}