.dependents{
  padding-top: 285px;
  position: relative;
  @include breakpoint("max-width: 1024px"){
    padding-top: 120px;
  }
  &__img{
    position: absolute;
    top: 12%;
    width: 37.3%;
    @include breakpoint("max-width: 1680px"){
      top: 27%;
    }
    @include breakpoint("max-width: 1280px"){
      width: 45.3%;
    }
    @include breakpoint("max-width: 1024px"){
      display: none;
    }
  }
  &__img-mob{
    display: none;
    @include breakpoint("max-width: 1024px"){
      position: absolute;
      display: block;
      top:25%;
      right: 0;
    }
  }
  .col-md-6{
    display: inline-block;
    float: right;
    padding-left: 90px;
    padding-top: 30px;
    @include breakpoint("max-width: 1920px"){
      padding-left: 0;
    }
    @include breakpoint("max-width: 1024px"){
      padding-left: 15px;
      width: 100%;
    }
  }
  .block__title{
    margin-bottom: 18px;
    font-size: 36px;
    font-weight: 300;
    @include breakpoint("max-width: 1680px"){
      font-size: 25px;
    }
    @include breakpoint("max-width: 1024px"){
      font-size: 45px;
    }
  }
  .block__text:first-child{
    margin-bottom: 30px;
  }
  .middle-text{
    display: block;
    padding-bottom: 20px;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    font-size: 36px;
    @include breakpoint("max-width: 1680px"){
      font-size: 25px;
    }
    @include breakpoint("max-width: 1024px"){
      font-size: 36px;
      padding-right: 260px
    }
  }
  .block__text{
    margin-bottom: 55px;
    line-height: 24px;
    padding-right: 105px;
    span{
      @include breakpoint("max-width: 1024px"){
        display: none;
      }
    }
  }
  .dependents__inherit{
    @include breakpoint("max-width: 1024px"){
      display: none;
    }
  }
  .more{
    display: block;
    margin: -35px 0 35px;
    @include breakpoint("max-width: 1024px"){
      margin: 0 0 45px;
    }
  }
  p{
    padding-top: 23px;
    @include breakpoint("max-width: 1024px"){
      line-height: 30px;
    }
  }
  &__context{
    &__element{
      display: inline-block;
      float: left;
      text-align: center;
      font-size: 12px;
      margin-right:5px ;
      padding-bottom: 25px;
      color: #777777;
      @include breakpoint("max-width: 1920px"){
        font-size: 10px;
      }
      @include breakpoint("max-width: 1024px"){
        display: block;
        text-align: left;
        width: 100%;
        padding-bottom: 30px;
      }
      span{
        @include breakpoint("max-width: 1024px"){
          display: block;
          text-align: center;
          font-size: 20px;
          max-width: 185px;
        }
      }
      img{
        @include breakpoint("max-width: 1280px"){
          width: 140px;
        }
        @include breakpoint("max-width: 1024px"){
          width: 180px;
        }
      }


    }
      &__element:hover{
        color: #777777;
        opacity:0.8;
      }
      &__element:focus{
        color: #777777;
      }
  }

}
.dependents__context:last-child{
  @include breakpoint("max-width: 1024px"){
    display: none;
  }
}