.dependents{
  padding-top: 285px;
  position: relative;

  &__img{
    position: absolute;
    top: 12%;
    left: 50px;
    width: 37.3%;
  }
  .col-md-6{
    padding-left: 90px;
    padding-top: 30px;
  }
  .block__title{
    margin-bottom: 18px;
    font-size: 36px;
    font-weight: 300;
  }
  .block__text:first-child{
    margin-bottom: 30px;
  }
  .middle-text{
    display: block;
    margin-bottom: 20px;
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 36px;
  }
  .block__text{
    margin-bottom: 55px;
    line-height: 24px;
    padding-right: 105px;
  }
  .more{
    display: block;
    margin: -35px 0 35px;
  }
  p{
    padding-top: 23px;
  }
  &__context{
    &__element{
      display: inline-block;
      float: left;
      text-align: center;
      font-size: 12px;
      margin-right:5px ;
      padding-bottom: 25px;
    }
  }
}