.block__developers {
  .block__title {
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 300;
    @include breakpointFull("max-width: 1280px","min-width: 1024px"){
      font-size: 42px;
    }
  }
  margin-top: 175px;
}

.row__developers {
  margin-top: 39px;
  margin-bottom: 93px;
  .col-md-6:first-child .row .developer-tab:first-child {
    padding-left: 15px;
  }
  .col-md-6:last-child .row .developer-tab:last-child {
    padding-right: 15px;
    padding-left: 0;
  }

  .developer-tab {
    text-align: center;
    padding: 0;
    span {
      display: block;
    }
    img {
      @include grayscale;
      opacity: 0.6;
      margin-bottom: 5px;
      height: 60px;
    }

    a {
      color: #000000;
      border-bottom: 1px solid #d0d0d0;
      display: block;
      padding: 30px 0 13px;
      transition: all 0.2s;
      &:hover {
        text-decoration: none;
        background: #eee;
        border-color: #1f1f1f;
        img {
          @include ungrayscale;}
      }
    }

    a.active {
      border-color: #1f1f1f;
      img {
        opacity: 1;
        @include ungrayscale;
      }
    }
  }
}

.tab-content {
  display: none;
  padding-bottom: 90px;
  &.active {
    display: block;
    .col-md-5{
      padding-top: 15px;
    }
  }

  img {
    max-width: 100%;
  }

  .developer__description {
    text-align: left;
    color: #1f1f1f;

    p {
      font-size: 18px;
      padding-left: 18px;
    }
    p:first-child{
      margin-top: -10px;
    }

    > span {
      @extend .block__title;
      font-size: 36px;
      display: inline-block;
      vertical-align: middle;
      padding-left: 18px;

    }
    span{
      margin-bottom: 0;
    }



  }
  .block__title {
    display: inline-block;
    font-size: 60px;
    font-weight: 100;
  }
}
