.block__developers {
  background: url("../images/icons/developers-back.png") 100% no-repeat;
  background-size: cover;
  .block__title {
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 300;
    @include breakpoint("max-width: 1680px"){
      font-size: 25px;
    }
    @include breakpoint("max-width: 1024px"){
      font-size: 45px;
    }
  }
  .block__text{
    @include breakpoint("max-width: 1024px"){
      line-height: 30px;
    }
  }
  margin-top: 175px;
  @include breakpoint("max-width: 1024px"){
    margin-top: 50px;
  }
  .more{
    @include breakpoint("max-width: 1024px"){
      font-size: 30px;
      margin-top: 30px;
      display: block;
    }
  }
  .tab-content {
    display: none;
    padding-bottom: 90px;
    &.active {
      display: block;
      .col-md-5{
        padding-top: 40px;

      }
    }

    img {
      max-width: 100%;
    }

    .developer__description {
      text-align: left;
      color: #1f1f1f;
      @include breakpoint("max-width: 1024px"){
        padding-top: 60px;
        text-align: center;
      }

      p {
        font-size: 18px;
        padding-left: 18px;
        margin: 0 0 15px;
        @include breakpoint("max-width: 1680px"){
          font-size: 14px;
        }
        @include breakpoint("max-width: 1024px"){
          font-size: 30px;
          font-weight: 100;
          padding-left: 0;
        }
      }
      p:first-child{
        margin-top: -10px;
      }
      p:nth-child(2){
        @include breakpoint("max-width: 1024px"){
          display: none;
        }
      }

      > span {
        @extend .block__title;
        font-size: 36px;
        display: inline-block;
        vertical-align: middle;
        padding-left: 18px;
        @include breakpoint("max-width: 1680px"){
          font-size: 25px;
        }
      }

      span{
        margin-bottom: 0;
      }



    }
    .block__big {
      display: inline-block;
      font-size: 60px;
      font-weight: 100;
      @include breakpoint("max-width: 1680px"){
        font-size: 45px;
      }
      @include breakpoint("max-width: 1024px"){
        font-weight: 300;
      }
    }
  }
}

.row__developers {
  margin-top: 39px;
  margin-bottom: 65px;
  @include breakpoint("max-width: 1024px"){
    margin: 39px 0 65px;
  }
  .col-md-6:first-child .row .developer-tab:first-child {
    padding-left: 15px;
    @include breakpoint("max-width: 1024px"){
      padding: 0;
    }
  }
  .col-md-6:last-child .row .developer-tab:last-child {
    @include breakpoint("max-width: 1024px"){
      padding:0;
    }
  }
  .col-md-6:last-child{
    padding-left: 10px;
    padding-right: 40px;
    @include breakpoint("max-width: 1024px"){
      padding: 0 15px;
    }
  }
  .col-md-3{
    width: 25%;
    display: inline-block;
  }

  .developer-tab {
    text-align: center;
    padding: 0;
    span {
      display: block;
    }
    img {
      @include grayscale;
      opacity: 0.6;
      margin-bottom: 5px;
      height: 60px;
    }

    a {
      color: #000000;
      border-bottom: 1px solid #d0d0d0;
      display: block;
      padding: 30px 0 13px;
      transition: all 0.2s;
      &:hover {
        text-decoration: none;
        background: #eee;
        border-color: #1f1f1f;
        img {
          @include ungrayscale;}
      }
    }

    a.active {
      border-color: #1f1f1f;
      img {
        opacity: 1;
        @include ungrayscale;
      }
    }
  }
}


