
.block__discount {
  margin-bottom: 155px;
  .col-md-12 {
    padding: 0;

    .row {
      padding: 0;
      .col-md-3 ,.col-md-5{
        padding: 0;
      }
      .col-md-3{
        padding-right: -15px;
      }
      .col-md-4{
        padding-left: 30px;
        @include breakpointFull("max-width: 1024px","min-width: 750px"){
          padding-top: 70px;
        }
      }
      .col-md-3,.col-md-4{
        @include breakpointFull("max-width: 1680px","min-width: 1024px"){
          width: 50%;
        }
        @include breakpointFull("max-width: 1024px","min-width: 750px"){
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;
        }
      }
      .col-md-5{
        @include breakpointFull("max-width: 1680px","min-width: 1280px"){
          width: 90%;
          padding-top: 100px;
        }
        @include breakpointFull("max-width: 1280px","min-width: 1024px"){
           width: 90%;
           padding-top: 100px;
        }
        @include breakpointFull("max-width: 1024px","min-width: 750px"){
          width: 100%;
          height: 325px;
          text-align: center;
          margin-top: 60px;
        }
      }
    }
  }
}

.discount {

  padding-left: 15px;
  color: #1f1f1f;
  .col-md-4{
    padding:0 30px;
  }


  &__list {
    padding-left: 18px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 20px;
    @include breakpointFull("max-width: 1680px","min-width: 1280px"){
      font-size: 20px;
    }
    @include breakpointFull("max-width: 1280px","min-width: 1024px"){
      font-size: 22px;
    }
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 30px;
      margin-left: 10px;
    }
  }
  &__title {
    margin-bottom: 20px;
    @include breakpointFull("max-width: 1920px","min-width: 1680px"){
        font-size: 35px;
        margin-bottom: 15px;
      }
    @include breakpointFull("max-width: 1280px","min-width: 1024px"){
      margin-bottom: 15px;
    }
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 60px;
    }
  }

  &__footnote {
    font-size: 14px;
    color: #777777;
    display: block;
    font-weight: 300;
    margin-top: 20px;
    line-height: 17px;
    @include breakpointFull("max-width: 1920px","min-width: 1680px"){
      font-size: 16px;
    }
    @include breakpointFull("max-width: 1680px","min-width: 1024px"){
      font-size: 18px;
    }
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 20px;
      line-height: 20px;
      margin-top: 30px;
    }
    .star{
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        display: inline-block;
        width: 97%;
        margin-left: 5px;
        vertical-align: top;
      }
    }
  }
  .__fontsize{
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 30px;
      line-height: 30px;
      margin-top: 30px;
    }
  }
}

.discount-card {
  background: url('../images/discount_bg.png') no-repeat;
  width: 569px;
  height: 278px;
  float: right;
  color: #fafafa;
  font-family: "myriad-pro", sans-serif;
  font-weight: 300;
  padding: 35px;
  max-width: 100%;
  background-size: 100% auto;
  margin-top: -25px;
  margin-right: 15px;
  @include breakpointFull("max-width: 1920px","min-width: 1680px"){
    margin-right: 0;
    padding: 20px;
    margin-top: -20px;
  }
  @include breakpointFull("max-width: 1024px","min-width: 750px"){
    width: 665px;
    margin: 0;
    float: none;
    height: 100%;
    display: inline-block;
    text-align: left;
    padding: 50px 0 40px 30px;

  }
  &__title {
    font-size: 36px;
    margin-bottom: 13px;
  }
  &__text {
    font-size: 14px;
    margin-bottom: 10px;
    @include breakpointFull("max-width: 1920px","min-width: 1680px"){
      font-size: 16px;
    }
    @include breakpointFull("max-width: 1680px","min-width: 1024px"){
      font-size: 18px;
    }
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 20px;
      margin-bottom: 25px;
    }
  }
  .discount-card__text:first-child{
    font-size: 16px;
    margin-bottom: 60px;
    @include breakpointFull("max-width: 1920px","min-width: 1680px"){
      font-size: 18px;
    }
    @include breakpointFull("max-width: 1680px","min-width: 750px"){
      font-size: 20px;
      margin-bottom: 40px;
    }
  }
  &__link {
    font-size: 18px;
    color: #2f97f0;
    &:hover {
      text-decoration: none;
    }
    @include breakpointFull("max-width: 1920px","min-width: 1680px"){
      font-size: 20px;
    }
    @include breakpointFull("max-width: 1680px","min-width: 1024px"){
      font-size: 22px;
    }
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 20px;
    }
  }
}
