
.block__discount {
  margin-bottom: 155px;
}

.discount {

  padding-left: 15px;
  color: #1f1f1f;

  &__list {
    padding-left: 18px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 22px;
  }
  &__title {

  }

  &__footnote {
    font-size: 18px;
    color: #777777;
    display: block;
    font-weight: 300;
    margin-top: 20px;
  }
}

.discount-card {
  background: url('../images/discount_bg.png') no-repeat;
  width: 569px;
  height: 278px;
  float: right;
  margin-right: 25px;
  color: #fafafa;
  font-family: $titleFontFamily;
  font-weight: 100;
  padding: 25px 40px;
  max-width: 100%;
  background-size: 100% auto;
  &__title {
    font-size: 36px;
    margin-bottom: 13px;
  }
  &__text {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 27px;
  }
  &__link {
    font-size: 21px;
    color: #fafafa;
    &:hover {
      text-decoration: none;
    }
  }
}