footer{
  height: 350px;
  padding-top: 45px;
  border-top:solid 2px #e5e5e5;
  @include breakpoint("max-width: 1024px"){
    height: auto;

  }
  .footer__context{
    .row{
      margin-left: -10px;
      margin-right: -20px;
    }
    ul{
      display: inline-block;
      float: left;
      height: 280px;
      color: #333333;
    }
    li{
      display: block;

    }
    a{
      color: #333333;
      font-weight: 300;
      line-height: 26px;
    }
    a:focus{
      color: #23527c;
      opacity: 0.8;
      cursor: pointer;
    }

    .indent1{
      padding-left: 25px;
    }
    .indent2{
      padding-left: 0px;
    }
    .indent3{
      padding-left: 80px;
    }
    .indent4{
      padding-left: 85px;
      li:last-child{
        padding-top: 25px;
      }
    }
    @include breakpoint("max-width: 1024px"){
      display: none;
    }
  }

  .footer__context-mob{
    display: none;
    padding-bottom: 55px;
    margin: 0 -30px;
    @include breakpoint("max-width: 1024px"){
      display: block;
    }
    li{
      display: block;
    }
    a{
      cursor: pointer;
      font-size: 30px;
      color: #333333;
      font-weight: 300;
    }
      a:hover{
        text-decoration: none;
      }
    .drop__down{
      display: inline-block;
    }
    .drop__down:after{
      display: inline-block;
      line-height: 30px;
      content: ' ';
      background: url(../images/icons/footer-mob-close.png) 100%;
      background-size: cover;
      float: right;
      margin-left: 10px;
      margin-top: 15px;
      height: 20px;
      width: 20px;
    }
    .drop__down__active:after{
      background: url(../images/icons/footer-mob-open.png)100%;
      background-size: cover;
    }

    .drop__down__menu{
      display: none;
    }
  }

}
.footer-contact{
  .row{
    margin: 0;
    @include breakpoint("max-width: 1024px"){
      margin: 0 -15px;
    }
  }
  &__number,&__social{
    display: inline-block;
  }
  &__number{
    float: left;

    span{
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      line-height: 29px;
      color: #777777;
      @include breakpoint("max-width: 1680px"){
        font-size: 16px;
      }

      @include breakpoint("max-width: 1024px"){
        width: 100%;
        font-size: 35px;
        font-weight: 300;
        line-height: 35px;
      }
    }
    span:last-child{
      color: #2891c0;
      margin-left: 5px;
    }
    img{
      max-height: 20px;
      padding-right: 13px;
      @include breakpoint("max-width: 1024px"){
        display: none;
      }
    }
  }
  &__social{
    float: right;
    text-align: right;
    img{
      padding-left: 10px;
      max-height: 30px;
    }
    @include breakpoint("max-width: 1024px"){
      display: none;
    }
  }
}
.footer-right{
  margin-top: 45px;
  background-color: #ffffff;
  height: 30px;
  .row{
    margin: 0;
    @include breakpoint("max-width: 1024px"){
      margin:0 -15px;
    }
  }

  span:first-child,&__logo{
    display:inline-block;
  }
  &__logo{
    float: right;
    @include breakpoint("max-width: 1024px"){
      float: left;
    }
    img{
      padding-right: 20px;
      @include breakpoint("max-width: 1024px"){
      display: none;
      }
    }
  }
  span:first-child{
    float: left;
  }
  span{
    font-size: 14px;
    color: #777777;
    @include breakpoint("max-width: 1024px"){
      font-size: 25px;
      font-weight: 300;
      width: 100%;
    }
    line-height: 30px;
    font-weight:300;
  }
  &__logo{
    text-align: right;
  }
}