

.header {
  @include breakpoint("max-width: 950px") {
    display: none;
  }
  .top {
    height: 41px;
    background: $color;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 3;

    .top-line {
      .container-left {
        a {
          margin-top: -2px;
        }
      }
    }

    a {
      display: inline-block;
      vertical-align: middle;
      color: #f1f1f1;
      font-weight: 300;
      font-size: 16px;
      line-height: 41px;

      @include breakpoint("max-width: 1680px"){
        font-size: 15px;
      }
      @include breakpoint("max-width: 1440px"){
        font-size: 14px;
      }

      @include breakpoint("max-width: 1140px") {
        font-size: 12px;
      }
    }

    .container-left a img {
      display: block;
      max-width: 100%;
    }

  }



  .container-side a span {
    padding-left: 5px;
    vertical-align: middle;
  }

  .container-side a:hover span {
    text-decoration: underline;
  }


  nav {
    width: 100%;
    padding: 0 (78px / $container * 100%) 0;
    box-sizing: border-box;
    height: 41px;
    overflow: hidden;
    text-align: center;

    ul {
      padding: 0;

      li {
        list-style-type: none;
        display: inline-block;
        vertical-align: middle;
        margin-right: (42px / 1175px * 100%);

        @include breakpoint("max-width: 1830px"){
          margin-right: (38px / 1175px * 100%);
        }

        @include breakpoint("max-width: 1780px"){
          margin-right: (35px / 1175px * 100%);
        }

        @include breakpoint("max-width: 1680px"){
          margin-right: (30px / 1175px * 100%);
        }

        @include breakpoint("max-width: 1600px"){
          margin-right: (25px / 1175px * 100%);
        }

        a {
          line-height: 41px;



          img {
            display: block;
          }

        }

        a:hover {
          text-decoration: underline;
        }

      }

      li:last-child {
        margin-right: 0;
      }

    }

  }

  &__navigation {
    background: #f5f5f5;
    height: 110px;
    position: fixed;
    top: 41px;
    left: 0;
    width: 100%;
    z-index: 2;

    .row.container__navigation__row {
      margin-left: -40px;
      margin-right: -40px;
      @include breakpoint("max-width: 1780px"){
        margin-left: -35px;
        margin-right: -35px;
      }
      @include breakpoint("max-width: 1680px"){
        margin-left: -30px;
        margin-right: -30px;
      }
      @include breakpoint("max-width: 1600px"){
        margin-left: -25px;
        margin-right: -25px;
      }
      @include breakpoint("max-width: 1440px"){
        margin-left: -15px;
        margin-right: -15px;
      }
      @include breakpoint("max-width: 1366px"){
        margin-left: -10px;
        margin-right: -10px;
      }
    }

    .container-right a {
      color: #777777;
      font-size: 18px;
      display: block;
      line-height: 24px;

      @include breakpoint("max-width: 1440px") {
        font-size: 14px;
      }


      @include breakpoint("max-width: 1140px") {
        font-size: 12px;
      }

    }

    .col-md-3 {
      text-align: center;
    }

    .col-md-3 a {
      display: block;
      text-align: center;
      font-size: 14px;
      color: #333333;
      margin-top: 25px;
      img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }
      img.interaction {
        margin-top: -5px;
      }
      span {
        display: block;
        margin-top: 5px;

        @include breakpoint("max-width: 1440px") {
          font-size: 13px;
        }

        @include breakpoint("max-width: 1140px") {
          font-size: 12px;
        }

      }

    }

    .container-left a {
      display: block;
      clear: both;
      float: left;
      color: #333333;
      font-weight: 300;

      @include breakpoint("max-width: 1440px") {
        font-size: 14px;
      }
      @include breakpoint("max-width: 1140px") {
        font-size: 12px;
      }
    }

    .top-line {
      height: 100%;
    }

    .container__navigation {
      display: table-cell;
    }

    .container-side a span {
      vertical-align: middle;

    }

  }



}


//@media screen and (max-width: 1366px) {
//  .header {
//    &__navigation {
//      .row.container__navigation__row {
//        margin-left: -10px;
//        margin-right: -10px;
//      }
//    }
//  }
//}