.block__map {
  background: #fff;
  padding-top: 130px;

  .filter {
    padding-left: 15px;
    width: 100%;

    .block__title {
      margin-bottom: 5px;
    }

    p {
      font-size: 18px;
    }



  }


}