.block__map {
  background: #fff;
  padding-top: 135px;

  .filter {
    padding-left: 15px;
    width: 100%;
    .block__title {
      font-family: "Roboto Slab";
      font-weight: 300;
      font-size: 36px;
      @include breakpointFull("max-width: 1280px","min-width: 1024px"){
        font-size: 42px;
      }
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        font-size: 45px;
        text-align: center;
      }
    }
    p {
      font-size: 18px;
      @include breakpointFull("max-width: 1280px","min-width: 1024px"){
        font-size: 20px;
      }
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        font-size: 30px;
        text-align: center;
        font-weight: 300;
      }
    }
    &__context{
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        display: none;
      }
    }
    .radio{
      margin-top: 25px;
      @include breakpointFull("max-width: 1280px","min-width: 1024px"){
        display: inline-block;
        width: 50%;
      }

      label{
        padding-left: 0;
        padding-bottom: 30px;
        width: 100%;
      }
      
    }
    .radio:nth-child(1){
      @include breakpointFull("max-width: 1280px","min-width: 1024px"){
        vertical-align: bottom;
      }
    }
    .selector{
      @include breakpointFull("max-width: 1280px","min-width: 1024px"){
        display: inline-block;
        width: 50%;
      }
    }
    ._new{
      margin-top: 45px;
      label{
        padding-bottom: 10px;
      }
    }
    .selection{
      height: 40px;
      display: block;
      span,.img{
        display: inline-block;
        float: left;
      }
      .img{
        height: 25px;
      }
      span{
        padding-right: 5px;
      }
    }
    ._first{
      font-weight: 600;
    }
    .inputs {
      input {
        outline: none;
        border: none;
        background: #ffffff;
        border-bottom: solid 1px #acacac;
        width: 100px;
        margin-right: 15px;
        font-weight: 600;
      }
    }

  }
  .col-md-5{
    padding-top: 25px;
    @include breakpointFull("max-width: 1280px","min-width: 1024px"){
      width: 100%;
    }
  }
  .col-md-7{

    height: 700px;
    padding-left: 0 ;
    @include breakpointFull("max-width: 1280px","min-width: 1024px"){
      width: 100%;
      text-align: center;
    }

    .map-context{
      display: inline-block;
      width: 95%;
      height: 100%;
      position: relative;
      border:solid 1px #e4e4e4;

      .search,.plus,.menus,.scr,.str{
        position: absolute;
        text-align: center;
        img,span{
          display: inline-block;
        }
        span{
          width:100%;
        }
      }
      .search{
        top: -30px;
        right: 37.5%;
      }
      .plus{
        right: -24px;
        top: 36%;
      }
      .menus{
        right: -23px;
        bottom: 31.5%;
      }
      .scr{
        bottom: -85px;
        right: 40%;
      }

      .str{
        left: -63px;
        top: 46.5%;
      }
    }

  }


}