.news{
  padding-top: 210px;
  .block__title,.block__text,.more{
    display: block;
    text-align: center
  }
  .block__title{
    margin: 0 auto 20px;
    font-size: 36px;
    font-weight: 300;
  }
  .block__text{
    margin: 0 auto 25px;
  }
  .more{
    margin:0 auto 40px;
  }
  .row{
    display: table;
    float: none;
    .col-md-6{
      display: table-cell;
      float: none;
      vertical-align: middle;
      padding:  0;
    }
    .col-md-6:last-child{
      vertical-align: top;
      padding-right:30px ;
    }
  }
  .row:first-child{
    margin-bottom: 59px;
  }
  .news__info{
    padding-bottom: 25px;

    .row{
      display: flex;
      margin: 0 15px;
      height: 100%;
      .col-md-6{
        margin: 0 7.5px;
        padding: 0 7.5px;
        background-color: #ffffff;
      }
    }
    .row:first-child{
      padding-bottom: 10px;
    }
    .news__info__text{
      height: 100%;
      padding: 25px 15px 25px 10px;

      span:first-child{
        display: block;
        margin-bottom: 30px;
        height: 20px;
        font-family: "Roboto Slab";
        font-weight: 300;
        color: #58cafe;
      }
      .action{
        margin-top: 5px;
        height: 18px;
        margin-left: -15px;

        .red,.blue{
          display: inline-block;
          float: left;
          height: 20px;
          color: #ffffff;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
        }
        .blue{
          width: 95px;
          background:url("../images/icons/news-blue.png") center no-repeat;
        }
        .red{
          width: 70px;
          background:url("../images/icons/news-red.png") center no-repeat;
        }
      }
      .big{
        display: block;
        margin-bottom: 40px ;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        font-family: "Roboto Slab";
        color: #777777;
      }
      .middle{
        display: block;
        margin-bottom: 50px;
        font-size: 14px;
        line-height: 18px;
      }
      span:last-child{
        display: block;
        font-size: 12px;
        line-height: 24px;
        color: #727272;
      }
    }
  }
  .news__banner{
    padding-top: 30px;
    padding-left: 45px;
    height: 700px;
    background:url('../images/icons/news-main.png') left no-repeat;
    background-size: cover ;

    span,&__img{
      display: block;
      color: #ffffff;
      line-height: 20px;
    }
    ._big{
      font-family: "Roboto Slab";
      font-size: 36px;
      font-weight: 100;
      margin-bottom: 15px;
      line-height: 53px;
    }
    &__img {
      img{
        display: inline-block;
        max-width: 15%;
        margin-right: 30px;
        margin-top: -10px;
      }
    }
  }
}