.news{
  padding-top: 220px;
  @include breakpoint("max-width: 1024px"){
    padding-top: 90px;
  }
  .block__title,.block__text,.more{
    display: block;
    text-align: center
  }
  .block__title{
    margin: 0 auto 20px;
    font-size: 36px;
    font-weight: 300;
    @include breakpoint("max-width: 1680px"){
      font-size: 25px;
    }
    @include breakpoint("max-width: 1024px"){
      font-size: 45px;
      text-align: center;
    }
  }
  .block__text{
    margin: 0 auto 25px;
  }
  .more{
    margin:0 auto 40px;
  }
  .row{
    display: table;
    float: none;
    @include breakpoint("max-width: 1920px"){
      margin-right: 30px;
    }
    .col-md-6{
      display: table-cell;
      float: none;
      vertical-align: middle;
      padding:  0;

      @include breakpoint("max-width: 1024px"){
        display: block;
      }
    }
    .col-md-6:last-child{
      vertical-align: top;
      padding-right:30px ;
      @include breakpoint("max-width: 1920px"){
        padding-right:30px ;
        background:url('../images/icons/news-main.png') left no-repeat;
        background-size: cover ;
      }
      @include breakpoint("max-width: 1024px"){
        margin: 0 15px;
      }
    }
  }
  .row:first-child{
    margin-bottom: 59px;
  }
  .news__info{
    padding-bottom: 25px;
    .row{
      display: flex;
      margin: 0 15px;
      height: 100%;
      @include breakpoint("max-width: 1024px"){
        margin: 0 5px;
      }
      .col-md-6{
        margin: 0 7.5px;
        padding: 0 7.5px;
        background-color: #ffffff;
        @include breakpoint("max-width: 1920px"){
          background: #ffffff;
        }
      }
    }
    .row:first-child{
      padding-bottom: 10px;
    }
    .row:nth-child(2){
      @include breakpoint("max-width: 1024px"){
        display: none;
      }
    }
    .news__info__text{
      height: 100%;
      padding: 25px 15px 25px 10px;
      @include breakpoint("max-width: 1920px"){
        padding: 25px 7px 25px 10px;
      }

      span:first-child{
        display: block;
        margin-bottom: 30px;
        height: 20px;
        font-family: "Roboto Slab", serif;
        font-weight: 300;
        color: #58cafe;
        @include breakpoint("max-width: 1024px"){
          font-size: 20px;
          margin-bottom: 40px;
          height: 56px;
          line-height: 24px;
        }
      }
      .action{
        margin-top: 5px;
        height: 18px;
        margin-left: -15px;
        @include breakpoint("max-width: 1024px"){
          margin-bottom: 35px !important;
        }
        .red,.blue{
          display: inline-block;
          float: left;
          height: 20px;
          color: #ffffff;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          @include breakpoint("max-width: 1024px"){
            font-size: 20px;
          }
        }
        .blue{
          width: 95px;
          background:url("../images/icons/news-blue.png") center no-repeat;
        }
        .red{
          width: 70px;
          background:url("../images/icons/news-red.png") center no-repeat;
        }
      }
      .big{
        display: block;
        margin-bottom: 40px ;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        font-family: "Roboto Slab", serif;
        color: #777777;
        @include breakpoint("max-width: 1920px"){
          font-size: 18px;
        }
        @include breakpoint("max-width: 1680px"){
          font-size: 16px;
          margin-bottom: 20px;
        }
        @include breakpoint("max-width: 1024px"){
          font-size: 30px;
          margin-bottom: 60px;
          line-height: 30px;
        }
      }
      .middle{
        display: block;
        margin-bottom: 50px;
        font-size: 14px;
        line-height: 18px;
        @include breakpoint("max-width: 1680px"){
          font-size: 12px;
          margin-bottom: 20px;
        }
        @include breakpoint("max-width: 1024px"){
          display: none;
        }
      }
      span:last-child{
        display: block;
        font-size: 12px;
        line-height: 24px;
        color: #727272;
        @include breakpoint("max-width: 1680px"){
          font-size: 10px;
        }
        @include breakpoint("max-width: 1024px"){
          font-size: 20px;
        }
      }
    }
  }
  .news__banner{
    padding-top: 30px;
    padding-left: 45px;
    height: 700px;
    @include breakpoint("max-width: 1920px"){
      height: 730px;
      background: transparent ;
    }
    @include breakpoint("max-width: 1680px"){
      height: 100%
    }
    background:url('../images/icons/news-main.png') left no-repeat;
    background-size: cover ;


    span,&__img{
      display: block;
      color: #ffffff;
      line-height: 22px;
    }
    ._big{
      font-family: "Roboto Slab", serif;
      font-size: 36px;
      font-weight: 100;
      margin-bottom: 15px;
      line-height: 53px;
      @include breakpoint("max-width: 1680px"){
        font-size: 25px;
      }
    }
    &__img {
      img{
        display: inline-block;
        max-width: 15%;
        margin-right: 30px;
        margin-top: -10px;
      }
    }
  }
}