.reviews{
  padding-top: 210px;

  .block__title,.block__text,.more{
    display: block;
    text-align: center;
  }
  .block__title{
    margin: 0;
    padding-bottom: 20px;
  }
  .block__text{
    padding-bottom:25px ;
  }
  .more{
    padding-bottom: 55px;
  }
  ul{
    float: none;
    margin: 0;
    padding: 0;
  }
  .row{
    display: flex;
    width: 100%;
    margin: 0 -7.5px;
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      display: block;
    }
  }
  .row:first-child{
    margin-bottom: 10px;

  }
  &__info{
    text-align: center;
    padding: 30px 70px;
    @include breakpointFull("max-width: 1680px","min-width: 1024px"){
      padding: 30px 40px;
    }
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      padding: 30px;
    }
    a{
      display: inline-block;
    }
  }
  ._indent{
    margin-left: -13px;
  }
  ._center .reviews__logo{
    padding-bottom: 15px;
    padding-top: 47px;
  }
  li{
    display: inline-block;
    float: none;
    margin: 0 7.5px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;

    span:first-child{
      display: block;
      padding-bottom: 35px;
      font-family: "Roboto Slab", serif;
      color: #646464;
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        font-size: 25px;
      }
    }
    img:first-child{
      display: block;
      max-height: 50px;
      padding-bottom: 35px;
    }
    .reviews__text{
      display: block;
      min-height: 190px;
      margin: 0 auto;
      line-height: 20px;
      padding-top: 33px;
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        font-size: 30px;
        font-weight: 300;
        line-height: 30px;
      }
    }
    .reviews__logo{
      padding-bottom: 20px;
      padding-top: 35px;
      max-width: 100%;
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        padding-bottom: 35px;
        padding-top: 30px;
      }
    }
    span:last-child{
      display: block;
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        font-size: 25px;
        font-weight: 300;
      }
    }

  }
  .row:nth-child(even){
    li:nth-child(even){
      background-color: #e3e3e3;
    }
    li:nth-child(odd){
      background-color: #ffffff;
    }
  }
  .row:nth-child(odd){
    li:nth-child(odd){
      background-color: #e3e3e3;
    }
    li:nth-child(even){
      background-color: #ffffff;
    }
  }

}

