.seo{
  padding-top: 230px;
  background: url(../images/special_bg.png) no-repeat;
  background-size: cover;
  .block__title{
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    line-height: 44px;
    @include breakpointFull("max-width: 1680px","min-width: 1024px"){
      font-size: 25px;
      line-height: 30px;
    }
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 45px;
      font-weight: 300;
      line-height: 45px;
    }
    br{
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        display: none;
      }
    }
  }
  .block__text{
    text-align: center;
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 20px;
      font-family: "Roboto Slab", serif;

    }
    br{
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        display: none;
      }
    }
  }
  .but{
    margin: 30px auto 165px;
  }
  a{
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  a:hover{
    opacity: 0.8;
  }
}
.seo-context{
  display: none;
  background: #303030;
  padding-top: 60px;
  .row{
    text-align: center;
  }
  .col-md-8{
    display: inline-block;
    float: none;
    padding-left: 75px;
    padding-right: 140px;
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      padding: 0;
    }
  }

  .block__title{
    font-size: 36px;
    font-weight: 300;
    color: #fafafa;
    padding-top: 60px;
    text-align: left;
    @include breakpointFull("max-width: 1680px","min-width: 1024px"){
      font-size: 25px;
    }
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 30px;
    }
  }
  .block__text{
    color: #777777;
    text-align: left;
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 20px;
    }
  }
  a{
    padding-top: 55px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }
  a:hover{
    opacity: 0.9;
  }
  .but{
    position: absolute;
    margin: 0;
    bottom: -20px;
    right: -45px;

    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      right: -20px;
      bottom: -30px;
      line-height: 36px;
    }
  }
}

.but{
  display: block;
  cursor: pointer;
  outline: none;
  width: 32px;
  height: 32px;
  background: #2f97f0;
  border-radius:100%;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  @include breakpointFull("max-width: 1024px","min-width: 750px"){
    width: 45px;
    height: 45px;
    font-size: 42px;
    line-height: 42px;
  }

}
