.social{
  padding-top: 175px;
  text-align: center;

  img{
    display: block;
    margin: 0 auto;
  }
  .middle-text{
    display: block;
    font-family: "Roboto Slab";
    font-weight: 100;
    font-size: 36px;
    color: #777777;
    text-align: center;
    margin-top: 25px;
    line-height: 46px;
  }
  .block__text{
    display: block;
    margin-top: 17px;
  }
  .social__img{
    margin: 0 auto;
    padding-top: 30px;
    img{
      display: inline-block;
      padding-right: 10px;
    }
    img:last-child{
      padding-right: 0;
    }
  }
}