.special {
  background: url('../images/special_bg.png') bottom center no-repeat;
  height: 420px;
  text-align: center;
  color: #333333;
  position: relative;

  &__title {
    font-size: 36px;
    font-family: $titleFontFamily;
    display: block;
    @include breakpointFull("max-width: 1280px","min-width: 1024px"){
      font-size: 42px;
    }
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 45px;
    }
  }
  &__text {
    font-size: 18px;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
    @include breakpointFull("max-width: 1280px","min-width: 1024px"){
      font-size: 20px;
    }
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 30px;
    }
  }
  img {
    margin-bottom: 10px;
    display: inline-block;
  }
  &__btns {
    > a:first-child {
      margin-right: 45px;
    }
  }

  &__description {
    font-weight: 300;
    font-size: 18px;
    @include breakpointFull("max-width: 1280px","min-width: 1024px"){
      font-size: 20px;
    }
    a.more {
      margin-left: 0;
      margin-top: 30px;
      display: inline-block;
      @include breakpointFull("max-width: 1280px","min-width: 1024px"){
        font-size: 20px;
      }
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        font-size: 30px;
      }
    }
    .block__title {
      margin-bottom: 40px;
    }
  }

  &__order {
    text-align: center;
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      text-align: left;
    }


    form {
      margin-top: 30px;
      ._placeholder{
        display: none;
        @include breakpointFull("max-width: 1024px","min-width: 750px"){
          display: block;
          padding: 10px 0;
          color: #777777;
        }
      }
    }

    input, textarea {
      background: #404040;
      border: none;
      line-height: 38px;
      color: #fff;
      padding: 0 20px;
      border-radius: 20px;
      display: block;
      width: 100%;
      max-width: 405px;
      margin: 0 auto 5px;
      box-sizing: border-box;
      resize: none;
      @include breakpointFull("max-width: 1280px","min-width: 1024px"){
        max-width: 505px;
        line-height: 50px;
        font-size: 20px;
      }
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        margin: 0;
        border-radius: 5px;
        border: 1px solid #404040;
        max-width: 63.9%;
        font-size: 30px;
        height: 50px;
      }
    }
    input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        color: transparent;
      }
    }

    textarea {
      height: 85px;
      line-height: 22px;
      padding: 10px 20px;
      @include breakpointFull("max-width: 1280px","min-width: 1024px"){
        height:150px;
      }
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        max-width: 100%;
        height: 130px;
      }
    }

    button {
      margin-top: 25px;
      font-size: 18px;
      font-weight: 300;
      &:hover {
        text-decoration: underline;
        color: #fff;
      }
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        width: 215px;
        height: 50px;
        background: #309bf7;
        color: #ffffff;
        margin-left: 0;
        border-radius: 5px;
      }
      &:after{
        content: ' ';
      }


    }
    .politic{
      display: none;
      @include breakpointFull("max-width: 1024px","min-width: 750px"){
        display: inline-block;
        float: right;
        margin-top: 35px;
      }
    }

    .note {
      color: #777777;
      @include breakpointFull("max-width: 1280px","min-width: 1024px"){
        font-size: 20px;
      }
    }

  }


}

.slide-modal {
  background: $color;
  padding: 65px 0 135px;
  position: relative;
  width: 100%;
  text-align: left;
  z-index: 1;
  color: #fff;
  display: none;
  @include breakpointFull("max-width: 1024px","min-width: 750px"){
    padding-bottom: 0;

  }
  .col-md-4,.col-md-7{
    @include breakpointFull("max-width: 1280px","min-width: 1024px"){
      width: 100%;
      margin: 0;
    }
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 20px;
      padding-bottom: 60px;

    }
  }
  .col-md-4{
    @include breakpointFull("max-width: 1280px","min-width: 1024px"){
      margin-top: 30px;
    }
  }
  &__close {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -20px;
    background: #309bf7;
    border-radius: 50%;
    left: 50%;
    margin-left: -20px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    &:hover {
      background: #2ea0ff;
    }
  }

  .block__title {
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    @include breakpointFull("max-width: 1280px","min-width: 1024px"){
      font-size: 42px;
    }
    @include breakpointFull("max-width: 1024px","min-width: 750px"){
      font-size: 45px;
    }
  }
}