.all-list-banks
    .container
        span.title.text-center Банки
        span.context.text-center ВоенГарант - прозрачное и безопасное приобретение жилья на вторичном рынке<br>для военнослужащих-участников программы военной ипотеки.
        include ../home/_bank_block
        include ../home/_bank_block
        include ../home/_bank_block
        include ../home/_bank_block
        .object__next
            +arrowDown('Показать ещё')