.banks-graphic
    .container
        span.title.text-center Банки по военной ипотеке
        span.context.text-center Доля(популярность) банков на рынке военной ипотеки
        .color-graphic
            img(src='./images/page-banks__color-graphic.png' alt='')