.directions {
  margin: 120px 0 138px 0;
  @include breakpoint("max-width: 1025px") {
    margin: 131px 0 0 0;
  }
  img {
    width: 185px;
    height: 160px;
    @include breakpoint("max-width: 1025px") {
      width: 312px;
      height: 269px;
      margin-left: 3px;
    }
  }
  p {
    @include text($mainFontFamily, #333333, block, 18px, 22px, 100);
    margin: 0;
    @include breakpoint("max-width: 1025px") {
      @include text($mainFontFamily, #333333, block, 30px, 35px, 100);
    }
  }
  .block__left {
    padding-left: 9px;
    @include breakpoint("max-width: 1025px") {
      padding-left: 0;
      margin: 0 0 83px 0;
    }
    span {
      @include text($mainFontFamily, #333333, block, 18px, 20px, normal);
      margin: 34px 0 26px 0;
      @include breakpoint("max-width: 1025px") {
        @include text($mainFontFamily, #333333, block, 30px, 32px, normal);
        margin: 47px 0 35px 0;
      }
    }
  }
  .block__right {
    span {
      @include text($titleFontFamily, #333333, block, 36px, 42px, 300);
      margin: 0 0 45px 0;
      @include breakpoint("max-width: 1025px") {
        @include text($titleFontFamily, #333333, block, 45px, 50px, 300);
        margin: 0 0 42px 0;
      }
    }
  }
  ol {
    margin: 0;
    padding: 0 0 0 16px;
    @include breakpoint("max-width: 1025px") {
      margin: 0;
      padding: 0 0 0 25px;
    }
    li {
      @include text($mainFontFamily, #2f2f2f, list-item, 18px, 20px, 100);
      margin: 0 0 26px 0;
      padding: 0 0 0 22px;
      @include breakpoint("max-width: 1025px") {
        @include text($mainFontFamily, #2f2f2f, list-item, 30px, 34px, 100);
        margin: 0 0 45px 0;
        padding: 0 0 0 11px;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
}