section.control
    .container
        span.block__title.control__title.text-center Общественный контроль
        .control__description.text-center
            p.
                В рамках системы «Общественный контроль» заключены соглашения с ведущими строительными компаниями<br> о поддержке данного проекта, готовности взаимодействовать с военнослужащими, купившими жилье в<br> новостройках по военной ипотеке и идти навстречу для урегулирования возникающих проблем.
        .warning
            .row
                .col-lg-3.col-md-3.p-r-none
                    .warning__pic
                        img(src="./images/icons/unis.png" alt="")
                    span.block__title.warning__s-title.warning_m-bottom Миссия НКО "УНИС"
                    span.warning__under-title Помогать военнослужащим в решении жилищного вопроса
                    .warning__description
                        p.
                            За это время мы проконсультировали более 30 тысяч человек, помогая им найти оптимальное решение их задач. Мы заручились поддержкой государственных структур и частных агентств, реализующих программу военной ипотеки по всей России!
                .col-lg-8.col-md-8.col-lg-offset-1.col-md-offset-1
                    span.block__title.warning__s-title Сферы внимания общественного контроля:
                    ol
                        li Нарушение сроков строительства
                        li Замечания по качеству строящихся или построенных объектов
                        li Предоставление недостоверной информации военнослужащему  со стороны застройщиков
                        li Нарушение прав военнослужащих со стороны застройщиков
                        li Нарушение прав военнослужащих со стороны администрации городов
                        li Введение военнослужащих в заблуждение относительно условий  по военой ипотеки
                        li Общие замечания по качеству