section.control-stage
    .container
        .row
            .col-lg-3.col-md-3
                span.block__title.control-stage__title Этапы работы
                .control-stage__description
                    p.
                        В рамках системы «Общественный контроль» заключены соглашения
                        с ведущими строительными компаниями о поддержке данного проекта.
                ul.control-stage__list
                    li.clearfix
                        .control-stage__pic
                            img(src="./images/icons/stage-1.png" alt="")
                        .control-stage__content
                            span Шаг 1
                            p.
                                Выявление нарушния <br> сроков и прав
                    li.clearfix
                        .control-stage__pic
                            img(src="./images/icons/stage-2.png" alt="")
                        .control-stage__content
                            span Шаг 1
                            p.
                                Выявление нарушния <br> сроков и прав
                    li.clearfix
                        .control-stage__pic
                            img(src="./images/icons/stage-3.png" alt="")
                        .control-stage__content
                            span Шаг 1
                            p.
                                Выявление нарушния <br> сроков и прав
            .col-lg-9.col-md-9.control-form_p-l.p-r-none
                include ../../components/_control-form