section.control-graph
    .container
        span.block__title.control-graph__title.
            Застройщики с высоким рейтингом добровольно<br>
            участвуют в общественном контроле
        .control-graph__description
            p.
                ВоенГарантом выведен рейтинг по отзывам военных! Отзывы были собраны как на нашем сайте<br>
                так и  по всем остальным сайтам связанным с овенной ипотекой.
        span.control-graph__max-rate Максимальный рейтинг 100%
        .control-graph__rate
            include ../buildres/_rate-graph-builders

