secction.control-remarks
    .container
        span.block__title.control-remarks__title Общественные замечания
        .control-remarks__description
            p.
                Куда могут быть направлены общественные замечания по застройщикам в случае, <br>
                если застройщик не предпримет мер для их устранения:
        ul.control-remarks__list
            -for(var i = 0; i < 4; i++)
                li
                    a(href="#")
                        img(src="./images/icons/remark-1.png" alt="")
                        span Росвоенипотека
        .influence_desktop
            .influence
                span.block__title.influence__title.
                    Влияние общественного контрооля<br>
                    на рейтинг застройщика
                .influence__description
                    p.
                        Межрегиональная общественная организация УНИС направлена на всестороннюю поддержку военнослужащих, участвующих в государственной программе обеспеченности жильем по военной ипотеке.
                    p.
                        В совместном партнерстве со всеми участниками рынка недвижимости – застройщиками, банками-партнерами и властью выработать оптимальные пути решения вопроса жилищной обеспеченности военнослужащих, участвующих в государственной программе. Содействовать продвижению общественных инициатив, направленных на эффективную реализацию программы, повышению уровня достоверности информации о текущей ситуации на рынке недвижимости в сегменте «Военная ипотека».
                    p.
                        Взаимодействие с органами государственной власти для реализации интересов военнослужащих России, продвижения общественных инициатив, направленных на устранение избыточных бюрократических и иных барьеров, препятствующих эффективной реализации государственной программы обеспеченности жильем;
        .influence_mobile
            .influence
                span.block__title.influence__title.
                    Влияние общественного контрооля<br>
                    на рейтинг застройщика
                .influence__description
                    p.
                        Межрегиональная общественная организация УНИС направлена на всестороннюю поддержку военнослужащих, участвующих в государственной программе обеспеченности жильем по военной ипотеке.
                a.more(href="#") Подробнее