include layout/_headerU
body.dark-version
    include layout/_header


    include layout/black-menu/analitic/_analitic
    include layout/black-menu/analitic/_analitic-graph
    include layout/black-menu/analitic/_analitic-paper
    include layout/_footer

include layout/_footerU
