include layout/_headerU
body.banks
    include layout/_header
    include layout/home/_bank

    include layout/object/_new-calculator
    include layout/home/_special
    include layout/banks/_all-list-banks
    include layout/home/_discount
    include layout/banks/_banks-graphic
    include layout/_seo
    include layout/_footer
include layout/_footerU