include layout/_headerU
body.body_black.calculator-page
    include layout/_header
    include layout/calculator-page/_calculator-main-block
    include layout/calculator-page/_calculator-banner
    include layout/_seo
    include layout/home/_bank
    include layout/_footer
include layout/_footerU