include layout/_headerU
body.contact.body_black
    include layout/_header
    .initiaitve-image
        .container.container_black.row
            include layout/black-menu/contact/_contact
        .mobile
            .contact__block__context__map
            .contact__block__context__form
                include layout/black-menu/contact/_contact-form

    include layout/_footer

include layout/_footerU