include layout/_headerU
body
    include layout/_burger
    .admin-panel
    header.header
        .top
            .top-line
                .container-left_mobile
                    a(href="/")
                        img(src="./images/icons/logo-mob.png")
                .container-left
                    a(href="/")
                        img(src="./images/logo.png")
                .phone_mobile
                    a(href="/")
                        img(src="./images/icons/phone-call.png")
                .container.container__header
                    nav
                        ul
                            - var TopList = ['Новости', 'Информация', 'Форум', 'Отзывы', 'Калькуляторы', 'Аналитика', 'Объединение', 'Инициативы', 'Партнеры', 'Контакты']
                            for item in TopList
                                li
                                    a(href='#')= item

                            li.header__search-btn
                                a(href="javascript:void(0)")
                                    img(src="./images/icons/search.png" alt="")

                .container-right
                    a(href="javascript:void(0)")
                        img(src="./images/icons/user.png" alt="")
                        span Вход
        .header__navigation
            .top-line
                .container-left
                    a(href="javascript:void(0)")
                        img(src="./images/icons/navigation_badge.png" alt="")
                        span Регформа
                    a(href="javascript:void(0)")
                        img(src="./images/icons/navigation_badge.png" alt="")
                        span Заявка в банк
                .container.container__navigation
                    .row.container__navigation__row
                        .col-md-6
                            .row
                                .col-md-3
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon1.png" alt="")
                                        span Новостройки
                                .col-md-3
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon3.png" alt="")
                                        span Эксклюзив
                                .col-md-3
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon2.png" alt="")
                                        span Застройщики
                                .col-md-3
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon4.png" alt="")
                                        span Банки
                        .col-md-6
                            .row
                                .col-md-3
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon5.png" alt="")
                                        span Ипотека повторно
                                .col-md-3
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon6.png" alt="")
                                        span Вопрос юристу
                                .col-md-3
                                    a(href="#")
                                        img.interaction(src="./images/icons/navigation_menu_icon7.png" alt="")
                                        span Взаимодействие
                                .col-md-3
                                    a(href="#")
                                        img.interaction(src="./images/icons/navigation_menu_icon8.png" alt="")
                                        span Контроль

                .container-right
                    a(href="#").phone 8 (800) 500-43-44
                    a(href="#").phone 8 (495) 150-31-71

    include layout/home/_slider
    include layout/home/_discount
    include layout/home/_special
    include layout/_map
    include layout/_object
    include layout/home/_developers
    include layout/_aboutProject
    include layout/_dependents
    include layout/_news
    include layout/_analitic
    include layout/_social
    include layout/home/_reviews
    include layout/_seo
    include layout/home/_bank
    include layout/_footer


include layout/_footerU
