include layout/_headerU
body.initiatives.body_black
    include layout/_header
    .container.container_black.row
        include layout/black-menu/initiatives/_initiatives-left
        include layout/black-menu/initiatives/_initiatives-right
    include layout/_footer

include layout/_footerU