include layout/_headerU
body.initiative.body_black
    include layout/_header
    .initiative-image
        .container.container_black.row
            include layout/black-menu/initiatives/_initiative
            include layout/_seo
    include layout/_footer

include layout/_footerU