include layout/_headerU

body.ipoteka-povtorno
    include layout/_header
    include layout/ipoteka-povtorno/_main-block
    include layout/ipoteka-povtorno/_program
    include layout/_seo
    include layout/_footer
include layout/_footerU