include layout/_headerU
body.black-news.new.body_black
    include layout/_header
    .container.container_black.row
        include layout/black-menu/news/_news-left
        include layout/black-menu/news/_new-right
    include layout/black-menu/news/_new-object
    include layout/_object
    include layout/_footer

include layout/_footerU