include layout/_headerU
body.black-news
    include layout/_header
    .container.container_black.row
        include layout/black-menu/news/_news-left
        include layout/black-menu/news/_news-right
    include layout/_seo
    include layout/_footer

include layout/_footerU