include layout/_headerU
body.novostroiki
    include layout/_header
    +locate-label("label_builders","Московский регион")
    include layout/novostroiki/_novo-title
    include layout/buildres/_builders-tabs
    include layout/_map
    include layout/_object
    include layout/home/_special
    include layout/home/_discount
    include layout/_novo-slide
    include layout/home/_developers
    include layout/_seo
    include layout/home/_bank
    include layout/_footer


include layout/_footerU