include layout/_headerU
body
    include layout/_header
    .red-line
        .container
            .row
                .col-md-5.text-left
                    span Рекомендуем выбрать объекты с высоким рейтингом

    include layout/_bread-crumbs
    include layout/object/_sale-image
    include layout/object/_remote-transaction
    include layout/object/_top-rated-developers
    include layout/object/_layouts-and-prices
    include layout/object/_map
    include layout/object/_details
    include layout/object/_attraction
    include layout/object/_infrastructure
    include layout/object/_beside
    include layout/object/_contact
    include layout/object/_video
    include layout/_footer
include layout/_footerU
