include layout/_headerU
body.main-object
    include layout/_header
    include layout/_header-line
    include layout/_bread-crumbs
    include layout/object/_sale-image
    include layout/object/_remote-transaction
    include layout/object/_top-rated-developers
    include layout/object/_layouts-and-prices
    include layout/object/_map
    include layout/object/_details
    include layout/object/_attraction
    include layout/object/_infrastructure
    include layout/object/_beside
    include layout/object/_contact
    include layout/object/_video
    include layout/object/_reviews
    include layout/object/_other-objects
    include layout/_seo
    include layout/_footer
include layout/_footerU
