include layout/_headerU
body.partners-block.body_black
    include layout/_header
    include layout/black-menu/partners/_partners-slider
    .container.container_black.row
        include layout/black-menu/partners/_partners
    include layout/home/_bank
    include layout/_seo
    include layout/_footer

include layout/_footerU