include layout/_headerU
body.body_black.page-reviews
    include layout/_header
    include layout/reviews/_reviews-main-block
    .container
        .reviews
            include layout/home/_reviews-blocks
    include layout/_seo
    include layout/_footer
include layout/_footerU