include layout/_headerU
body
    include layout/_header
    .town
        .container
            span.block__title.town__title Город Мытищи
            span.block__title.rate__title Рейтинги
            span.builders-tabs__max-reiting-inscription.text-center Максимальный рейтинг
            span.town__description
                p.
                    Успешно реализована схема дистанционного ведения сделки на первичном рынке.<br>
                    Таким образом, десятки тысяч военнослужащих, желающих приобрести жилье!



        include layout/_rate-graph
        include layout/buildres/_build-consultant
        include layout/_object
        include layout/home/_discount
        .container
            span.block__title.rate__title Достопримечательности
            .famous__description
                p.
                    Успешно реализована схема дистанционного ведения сделки на первичном рынке.<br>
                    Таким образом, десятки тысяч военнослужащих, желающих приобрести жилье!
        include layout/object/_object-main-slider
        include layout/home/_special
        include layout/_seo
        include layout/_footer

include layout/_footerU