include layout/_headerU
body
    include layout/_header
    include layout/home/_slider
    include layout/home/_discount
    include layout/home/_special
    include layout/_map
    include layout/_object
    include layout/home/_developers
    include layout/_aboutProject
    include layout/_dependents
    include layout/_news
    include layout/_analitic
    include layout/_social
    include layout/home/_reviews
    include layout/_seo
    include layout/home/_bank
    include layout/_footer
include layout/_footerU
