include layout/_headerU
body
    .burger
        a.burger__down
            img(src="./images/icons/burger.png")
        .burger__menu
            .burger__menu__context
                img(src="./images/icons/burger-logo.png").burger__logo
                nav
                    ul
                        li
                            a.drop__down Услуги
                            ul.drop__down__menu
                                li
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon2.png")
                                        span Кооператив
                                li
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon1.png")
                                        span Новостройки
                                li
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon9.png")
                                        span Вторичка
                                li
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon9.png")
                                        span Вторичка
                                li
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon6.png")
                                        span Вопрос юристу
                                li
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon10.png")
                                        span Удаленная сделака
                                li
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon5.png")
                                        span Ипотека повторно
                                li
                                    a(href="#")
                                        img.interaction(src="./images/icons/navigation_menu_icon8.png")
                                        span Контроль
                        li
                            a.drop__down Информация
                            ul.drop__down__menu
                        li
                            a.drop__down Дополнительно
                            ul.drop__down__menu
                                - var TopList = ['застройщики', 'Банки', 'Росвоенипотека', 'УНИС', 'Молодострой', 'Нородный фронт', 'Взаимодействие']
                                for item in TopList
                                    li
                                        a(href='#')
                                            span= item

                a.burger__button
                    img(src="./images/icons/burger.png")
    .profile
        a.profile__down
            img(src="./images/icons/profile.png")
        .profile__menu
            nav
                ul
                    li
                        a(href="#")
                            img(src="./images/icons/profile-user.png")
                            span Войти
                    li
                        a(href="#")
                            img(src="./images/icons/profile-stark.png")
                            span Избранное
                    li
                        a(href="#")
                            img(src="./images/icons/profile-loop.png")
                            span Поиск на Военгранат.рф
                ul
                    li
                        a(href="#")
                            img(src="./images/icons/profile-doc.png")
                            span Регформа
                    li
                        a(href="#")
                            img(src="./images/icons/profile-doc.png")
                            span В банк
                    li
                        a(href="#")
                            img(src="./images/icons/profile-doc.png")
                            span Жалоба
                    li
                        a(href="#")
                            img(src="./images/icons/profile-p.png")
                            span Презентация


    .admin-panel
    header.header
        .top
            .top-line
                .container-left_mobile
                    a(href="/")
                        img(src="./images/icons/logo-mob.png")
                .container-left
                    a(href="/")
                        img(src="./images/logo.png")
                .phone_mobile
                    a(href="/")
                        img(src="./images/icons/phone-call.png")
                .container.container__header
                    nav
                        ul
                            - var TopList = ['Новости', 'Информация', 'Форум', 'Отзывы', 'Калькуляторы', 'Аналитика', 'Объединение', 'Инициативы', 'Партнеры', 'Контакты']
                            for item in TopList
                                li
                                    a(href='#')= item

                            li.header__search-btn
                                a(href="javascript:void(0)")
                                    img(src="./images/icons/search.png")

                .container-right
                    a(href="javascript:void(0)")
                        img(src="./images/icons/user.png")
                        span Вход
        .header__navigation
            .top-line
                .container-left
                    a(href="javascript:void(0)")
                        img(src="./images/icons/navigation_badge.png")
                        span Регформа
                    a(href="javascript:void(0)")
                        img(src="./images/icons/navigation_badge.png")
                        span Заявка в банк
                .container.container__navigation
                    .row.container__navigation__row
                        .col-md-6
                            .row
                                .col-md-3
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon1.png")
                                        span Новостройки
                                .col-md-3
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon3.png")
                                        span Эксклюзив
                                .col-md-3
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon2.png")
                                        span Застройщики
                                .col-md-3
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon4.png")
                                        span Банки
                        .col-md-6
                            .row
                                .col-md-3
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon5.png")
                                        span Ипотека повторно
                                .col-md-3
                                    a(href="#")
                                        img(src="./images/icons/navigation_menu_icon6.png")
                                        span Вопрос юристу
                                .col-md-3
                                    a(href="#")
                                        img.interaction(src="./images/icons/navigation_menu_icon7.png")
                                        span Взаимодействие
                                .col-md-3
                                    a(href="#")
                                        img.interaction(src="./images/icons/navigation_menu_icon8.png")
                                        span Контроль

                .container-right
                    a(href="#").phone 8 (800) 500-43-44
                    a(href="#").phone 8 (495) 150-31-71
+locate-label("label_builders","Москва")
include layout/buildres/_builders-tabs
+short-prod-desc('builder-present-1','Пик')
include layout/buildres/_builders-object
+short-prod-desc('builder-present-1','Самолет девелопмент')
include layout/buildres/_builders-double-obj
+short-prod-desc('builder-present-1','Самолет девелопмент')
include layout/buildres/_builders-double-obj
include layout/_partners
include layout/buildres/_all-builders
include layout/_seo
include layout/home/_bank
include layout/_footer


include layout/_footerU
