include layout/_headerU
body.builder
    include layout/_header
    +line-link("Жалобы","line__red")
    include layout/buildres/_build-title
    include layout/object/_remote-transaction
    include layout/object/_top-rated-developers
    include layout/_novo-slide
    include layout/buildres/_build-consultant
    include layout/_object
    include layout/buildres/_build-credit

    include layout/_seo
    include layout/_footer
include layout/_footerU
