.page-reviews__main-block
    .container.text-center
        img(src='./images/icons/page-reviews__main-image.png' alt='').page-reviews__main-image
        span.title Отзывы
        span.context Здесь вы можете прочитать отзывы о нашей компании<br>или о работе сайта в целом
        a(href='/').link-add
            img(src='./images/icons/link-add.png' alt='')
            span Добавить отзыв
        .buttons
            a(href='/')
                span О ВоенГаранте
            a(href='/')
                span О военной ипотеке
