.attraction
    .container.text-center
        span.title Достопримечательности
        span.context Неподалеку от ЖК Замитино находится множекство красивых мест, где вы<br>можете проводить время со своей семьёй.
    #pic
        ul.row.text-center
            li
                a(href="#pic-1")
                    span Лесопарковая зона
            li
                a(href="#pic-2")
                    span Ландшафный парк "Митино"
            li
                a(href="#pic-3")
                    span Красногорское лесничество
        #pic-1
            //img(src='./images/', alt='')
            .img
        #pic-2
            //img(src='./images/', alt='')
            .img
        #pic-3
            //img(src='./images/', alt='')
            .img



