.beside
    .text-center
        span.title Что рядом
    #maps
        ul.row.text-center
            li
                a(href="#map-1")
                    span Кинотеатр Люксор
            li
                a(href="#map-2")
                    span Пляж «Плотина № 4 на реке Синичка»
            li
                a(href="#map-3")
                    span Красногорское лесничество
            li
                a(href="#map-4")
                    span Красногорский городской парк
        #map-1
            .beside-map.beside-map-1
        #map-2
            .beside-map.beside-map-2
        #map-3
            .beside-map.beside-map-3
        #map-4
            .beside-map.beside-map-4