.contact.text-center
    .container
        span.place-name Аннино парк
        a(href='tel: 8 880 500 43 44').place-telephone 8 880 500 43 44
        span.place-address ул. Заводской проезд, д. 23, пом.2
        .links
            a(href='/')
                img(src='./images/icons/viber-logo.png', alt='')
            a(href='/')
                img(src='./images/icons/skype-logo.png', alt='')
            a(href='/')
                img(src='./images/icons/whatsapp-logo.png', alt='')