.details
    .container
        #tabs
            ul.row.text-center
                li.col-xs-4.col-sm-4.col-md-4.col-lg-3
                    a(href="#tabs-1")
                        span Банки
                li.col-xs-8.col-sm-8.col-md-8.col-lg-3
                    a(href="#tabs-2")
                        span Как добраться
                li.col-xs-3.col-sm-3.col-md-3.col-lg-3
                    a(href="#tabs-3")
                        span Описание
                li.col-xs-9.col-sm-9.col-md-9.col-lg-3
                    a(href="#tabs-4")
                        img(src='./images/icons/check.png')
                        span Общественный контроль
            #tabs-1
                //.row.banks
                //    .col-xs-4.col-sm-4.col-md-4.col-lg-2.text-center
                //        a(href='/')
                //            img(src='./images/icons/vtb-24-logo.png', alt='')
                //            span.procent на 10,4%
                //            span.license Лицензия Банка России<br>№ Generalynaya 1000 08<br>iyulya 2015
                //    .col-xs-4.col-sm-4.col-md-4.col-lg-2.text-center
                //        a(href='/')
                //            img(src='./images/icons/bank-zenit-logo.png', alt='')
                //            span.procent на 10,4%
                //            span.license Лицензия Банка России<br>№ Generalynaya 1000 08<br>iyulya 2015
                //    .col-xs-4.col-sm-4.col-md-4.col-lg-2.text-center
                //        a(href='/')
                //            img(src='./images/icons/gazprombank-logo.png', alt='')
                //            span.procent на 10,4%
                //            span.license Лицензия Банка России<br>№ Generalynaya 1000 08<br>iyulya 2015
                //    .col-xs-4.col-sm-4.col-md-4.col-lg-2.text-center
                //        a(href='/')
                //            img(src='./images/icons/sberbank-logo.png', alt='')
                //            span.procent на 10,4%
                //            span.license Лицензия Банка России<br>№ Generalynaya 1000 08<br>iyulya 2015
                //    .col-xs-4.col-sm-4.col-md-4.col-lg-2.text-center
                //        a(href='/')
                //            img(src='./images/icons/rosselhozbank-logo.png', alt='')
                //            span.procent на 10,4%
                //            span.license Лицензия Банка России<br>№ Generalynaya 1000 08<br>iyulya 2015
                //    .col-xs-4.col-sm-4.col-md-4.col-lg-2.text-center
                //        a(href='/')
                //            img(src='./images/icons/bank-rossia-logo.png', alt='')
                //            span.procent на 10,4%
                //            span.license Лицензия Банка России<br>№ Generalynaya 1000 08<br>iyulya 2015
                .calculator.row.text-left
                    .calculation.col-xs-12.col-sm-12.col-md-12.col-lg-offset-1.col-lg-5
                        span.title Расчет накоплений участника НИС
                        span.context.main Калькулятор учитывает доходы от инвестирования средств участников НИС, но при этом погрешность расчета может составлять
                            span.decor-text  до 2%
                        form
                            label.context Возникновение права
                            select(name="beginning-month[]").month
                                option(desabled) Месяц
                                option(value="January") Январь
                                option(value="February") Февраль
                                option(value="March") Март
                                option(value="April") Апрель
                                option(value="May") Май
                                option(value="June") Июнь
                                option(value="July") Июль
                                option(value="August") Август
                                option(value="September") Сентябрь
                                option(value="October") Октябрь
                                option(value="November") Ноябрь
                                option(value="December") Декабрь
                            select(name="beginning-year[]")
                                option(desabled) Год
                            label.context.second-label Включение в систему
                            select(name="inclusion-month[]").month
                                option(desabled) Месяц
                                option(value="January") Январь
                                option(value="February") Февраль
                                option(value="March") Март
                                option(value="April") Апрель
                                option(value="May") Май
                                option(value="June") Июнь
                                option(value="July") Июль
                                option(value="August") Август
                                option(value="September") Сентябрь
                                option(value="October") Октябрь
                                option(value="November") Ноябрь
                                option(value="December") Декабрь
                            select(name="inclusion-year[]")
                                option(desabled) Год
                            button Рассчитать
                    .mortgage.col-xs-12.col-sm-12.col-md-12.col-lg-offset-1.col-lg-4
                        span.title Ипотечный калькулятор
                        a(href='/').xs-link Все программы банков >
                        form
                            label.context Банк
                            select(name="bank[]")
                                option(desabled) Выберите банк
                            label.context Ваш возраст
                            input(type="text")
                            label.context Сумма
                            input(type="text")
                            button Рассчитать
                            a(href='/').link Все программы банков >
            #tabs-2
            #tabs-3
            #tabs-4