.infrastructure
    .container
        span.title.text-center Инфраструктура
        span.context.text-center Всё, что нужно для комфортной жизни в городе
        .row.l-block
            .col-lg-offset-2.col-lg-8
                .row
                    .col-lg-6.first
                        .line
                            img(src='./images/icons/horse-ride.png', alt='')
                            span Для жителей района планируется строительство детских садов, школ, поликлиник и паркингов.
                        .line
                            img(src='./images/icons/stationary-bike.png', alt='')
                            span В зелёных дворах-парках без автомобилей будут обустроены детские и спортивные площадки, а также места для отдыха.
                        .line
                            img(src='./images/icons/pharmacy-icon.png', alt='')
                            span На первых этажах домов разместятся магазины и предприятия сферы услуг.
                    .col-lg-6.second
                        .line
                            img(src='./images/icons/buildings.png', alt='')
                            span На первых этажах домов разместятся магазины и предприятия сферы услуг.
                        .line
                            img(src='./images/icons/trees.png', alt='')
                            span В пяти минутах езды расположены крупные торговые центры.
                        .line
                            img(src='./images/icons/trees.png', alt='')
                            span В шаговой доступности от района находятся Ульяновское лесничество и река Сетунь.
        .row.xs-block
            .col-xs-12.col-sm-12.col-md-12
                .row
                    .col-xs-2.col-sm-2.col-md-2
                        img(src='./images/icons/horse-ride.png', alt='')
                    .col-xs-10.col-sm-10.col-md-10
                        span Для жителей района планируется строительство детских садов, школ, поликлиник и паркингов.
                .row
                    .col-xs-2.col-sm-2.col-md-2
                        img(src='./images/icons/stationary-bike.png', alt='')
                    .col-xs-10.col-sm-10.col-md-10
                        span В зелёных дворах-парках без автомобилей будут обустроены детские и спортивные площадки, а также места для отдыха.
                .row
                    .col-xs-2.col-sm-2.col-md-2
                        img(src='./images/icons/pharmacy-icon.png', alt='')
                    .col-xs-10.col-sm-10.col-md-10
                        span На первых этажах домов разместятся магазины и предприятия сферы услуг.
                .row
                    .col-xs-2.col-sm-2.col-md-2
                        img(src='./images/icons/buildings.png', alt='')
                    .col-xs-10.col-sm-10.col-md-10
                        span На первых этажах домов разместятся магазины и предприятия сферы услуг.
                .row
                    .col-xs-2.col-sm-2.col-md-2
                        img(src='./images/icons/trees.png', alt='')
                    .col-xs-10.col-sm-10.col-md-10
                        span В пяти минутах езды расположены крупные торговые центры.
                .row
                    .col-xs-2.col-sm-2.col-md-2
                        img(src='./images/icons/trees.png', alt='')
                    .col-xs-10.col-sm-10.col-md-10
                        span В шаговой доступности от района находятся Ульяновское лесничество и река Сетунь.