.infrastructure
    .container
        span.title.text-center Инфраструктура
        span.context.text-center Всё, что нужно для комфортной жизни в городе
        .row
            .col-md-offset-2.col-md-8
                .row
                    .col-md-6.first
                        .line
                            img(src='./images/icons/horse-ride.png')
                            span Для жителей района планируется строительство детских садов, школ, поликлиник и паркингов.
                        .line
                            img(src='./images/icons/stationary-bike.png')
                            span В зелёных дворах-парках без автомобилей будут обустроены детские и спортивные площадки, а также места для отдыха.
                        .line
                            img(src='./images/icons/pharmacy-icon.png')
                            span На первых этажах домов разместятся магазины и предприятия сферы услуг.
                    .col-md-6.second
                        .line
                            img(src='./images/icons/buildings.png')
                            span На первых этажах домов разместятся магазины и предприятия сферы услуг.
                        .line
                            img(src='./images/icons/trees.png')
                            span В пяти минутах езды расположены крупные торговые центры.
                        .line
                            img(src='./images/icons/trees.png')
                            span В шаговой доступности от района находятся Ульяновское лесничество и река Сетунь.