.layouts-and-prices
    .container.text-center
        .row
            .col-xs-12.col-md-12
                span.title Планировки и цены
                span.context Застройщик готов снизить цену для нас, так как не тратит дополнительные<br>средства на рекламу, если военнослужащий пришёл от ВоенГаранта!
        .table
            .kind.text-center
                .kind-name Студия
                .kind-name 1-комнатная
                .kind-name 2-комнатная
                .kind-name 3-комнатная
            .content
                .column.text-center
                    span.layouts 28 - 31 кв.м
                    span.price 2 520 000 - 3 050 000 р
                .column.text-center
                    span.layouts 32 - 45 кв.м
                    span.price 2 430 000 - 4 640 000 р
                .column.text-center
                    span.layouts 55 - 65 кв.м
                    span.price 4 430 000 - 6 640 000 р
                .column.text-center
                    span.layouts 32 - 45 кв.м
                    span.price 2 430 000 - 4 640 000 р
        .xs-table.text-center
            .container
                .row
                    .col-xs-12
                        span.kind-name Студия
                        span.layouts 28 - 31 кв.м
                        span.price 2 520 000 - 3 050 000 р
                .row
                    .col-xs-12
                        span.kind-name 1-комнатная
                        span.layouts 32 - 45 кв.м
                        span.price 2 430 000 - 4 640 000 р
                .row
                    .col-xs-12
                        span.kind-name 2-комнатная
                        span.layouts 55 - 65 кв.м
                        span.price 4 430 000 - 6 640 000 р
                .row
                    .col-xs-12
                        span.kind-name 3-комнатная
                        span.layouts 32 - 45 кв.м
                        span.price 2 430 000 - 4 640 000 р
        .apartment-layouts.text-center
            a(href='/')
                img(src='./images/icons/plus.png', alt='')
            span Планировки квартир
