.object-map
    .container
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-7
                //include ../_map_block
            .col-xs-12.col-sm-12.col-md-12.col-lg-5.text-left
                span.deleloper Застройщик:
                    span.deleloper-name Мортон
                span.price Цена кв.м. от:
                    span.price-name 56 000 р.
                span.value Стоимость квартиры от:
                    span.value-name 2 924 125 р.
                span.sale Скидка:
                    span.sale-name 2% от стоимости квартиры
                span.address Адрес:
                    span.address-name Московская область, г .Мытищи, Дмитровское шоссе
                span.distance Удаленность от МКАД:
                    span.distance-name 16
                span.form Готовность:
                    span.form-name 50%
                span.ending Окончание строительства:
                    span.ending-name III квартал 2017 года
                span.type Тип:
                    span.type-name Многоквартирный дом
                span.project Проект:
                    span.project-name Индивидуальный
                span.class Класс:
                    span.class-name монолит-кирпич
                a(href='/')
                    img(src='./images/icons/documents.png', alt='')
                    span Документы