.object-main-slider
    #main-tab
        ul.row.text-center
            li
                a(href="#main-tab-1")
                    span Яркий фасад
            li
                a(href="#main-tab-2")
                    span Подъезды на уровне земли
            li
                a(href="#main-tab-3")
                    span Скоростные лифты
            li
                a(href="#main-tab-4")
                    span Индивидуальные кладовые
            li
                a(href="#main-tab-5")
                    span Скоростные лифты
            li
                a(href="#main-tab-6")
                    span Индивидуальные кладовые
        #main-tab-1
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src='./images/object/object-main-slider.png' alt='')
                        .xs-block.table-border.text-center
                            span Яркие фасады
                    .swiper-slide
                        img(src='./images/object/object-main-slider.png' alt='')
                        .xs-block.table-border.text-center
                            span Подъезды на уровне земли
                    .swiper-slide
                        img(src='./images/object/object-main-slider.png' alt='')
                        .xs-block.table-border.text-center
                            span Скоростные лифты
                    .swiper-slide
                        img(src='./images/object/object-main-slider.png' alt='')
                        .xs-block.table-border.text-center
                            span Скоростные лифты
                    .swiper-slide
                        img(src='./images/object/object-main-slider.png' alt='')
                        .xs-block.table-border.text-center
                            span Подъезды на уровне земли
                    .swiper-slide
                        img(src='./images/object/object-main-slider.png' alt='')
                        .xs-block.table-border.text-center
                            span Яркие фасады
                    .swiper-slide
                        img(src='./images/object/object-main-slider.png' alt='')
                        .xs-block.table-border.text-center
                            span Яркие фасады
                    .swiper-slide
                        img(src='./images/object/object-main-slider.png' alt='')
                        .xs-block.table-border.text-center
                            span Подъезды на уровне земли
                .swiper-pagination
        #main-tab-2
        #main-tab-3
        #main-tab-4
        #main-tab-5
        #main-tab-6