.object-photo
    //.lg-block.container
        #photo
            ul.list.row.text-center
                li.item.col-lg-3
                    a(href="#photo-1").main-link
                        span.text Ход строительства
                li.item.col-lg-3
                    a(href="#photo-2").main-link
                        span.text Проектный вид
                li.item.col-lg-3
                    a(href="#photo-3").main-link
                        span.text План посадки
                li.item.col-lg-3
                    a(href="#photo-4").main-link
                        span.text Все
            #photo-1
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
            #photo-2
            #photo-3
            #photo-4
    .xs-block
        #photo
            ul.list.text-center.container
                li.item.col-xs-6.col-sm-6.col-md-6
                    a(href="#photo-1").main-link
                        span.text Ход строительства
                li.item.col-xs-6.col-sm-6.col-md-6
                    a(href="#photo-2").main-link
                        span.text Проектный вид
                li.item.col-xs-9.col-sm-9.col-md-9
                    a(href="#photo-3").main-link
                        span.text План посадки
                li.item.col-xs-3.col-sm-3.col-md-3
                    a(href="#photo-4").main-link
                        span.text Все
            #photo-1
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='/').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
                a(href='').image
                    img(src='./images/object/small-object-photo-1.png' alt='')
            #photo-2
            #photo-3
            #photo-4