.other-object
    .container
        .text-center
            span.main-title Другие объекты застройщика
            span.main-context Успешно реализована схема дистанционного ведения сделки (без личного присутствия<br>военнослужащего) на первичном рынке
            a(href='/').link Все
    //include ../buildres/_builders-object
    .object
        include ../_object_block