.remote-transaction
    .background.container
        .left-part
        .right-part.text-left
            span.title Приобретайте недвижимость в Московском регионе,<br>воспользовавшись услугой удалённой сделки
            .links
                a(href='/')
                    img(src='./images/icons/viber-logo.png')
                a(href='/')
                    img(src='./images/icons/skype-logo.png')
                a(href='/')
                    img(src='./images/icons/whatsapp-logo.png')
            span.list 1 Высокая ликвидность!
            span.list-content При необходимости приобретенную недевижемость в московском регионе<br>продать намного проще, чем в любом другом регионе.
            span.list 2. Сдать в аренду при необходимости
            span.list-content Сдавая квартиру в аренду в Московском регионе вы можете стабильно<br>получать от 30 000 р ежемесячно
            span.list 3. Самая большая база квартир
            span.list-content Огромный выбор более, чем из 200 новостроек. Вы можете выбрать квартиры<br>любой планировки из огромной базы на ваш вкус.
            .butttons
                a(href='javascript:void(0)').button.button_red Удалённая сделка
                a(href='javascript:void(0)').button.button_blue
                    img(src='./images/icons/old-handphone.png')
                    span Консультация
                a(href='javascript:void(0)').button.button_black Смотреть объекты >
        .xs-block
            .row
                .col-xs-12.text-left
                    span.title Приобретайте недвижимость в Московском регионе,<br>воспользовавшись услугой удалённой сделки
                        .links
                            a(href='/')
                                img(src='./images/icons/viber-logo.png')
                            a(href='/')
                                img(src='./images/icons/skype-logo.png')
                            a(href='/')
                                img(src='./images/icons/whatsapp-logo.png')
                        span.list 1 Высокая ликвидность!
                        span.list-content При необходимости приобретенную недевижемость в московском регионе<br>продать намного проще, чем в любом другом регионе.
                        span.list 2. Сдать в аренду при необходимости
                        span.list-content Сдавая квартиру в аренду в Московском регионе вы можете стабильно<br>получать от 30 000 р ежемесячно
                        span.list 3. Самая большая база квартир
                        span.list-content Огромный выбор более, чем из 200 новостроек. Вы можете выбрать квартиры<br>любой планировки из огромной базы на ваш вкус.
                        .butttons
                            a(href='javascript:void(0)').button.button_red Удалённая сделка
                            a(href='javascript:void(0)').button.button_blue
                                img(src='./images/icons/old-handphone.png')
                                span Консультация
                            a(href='javascript:void(0)').button.button_black Смотреть объекты >
            .row
                .col-xs-12
