.object-main
    .container
        //.sale-image
            .border
                img(src='./images/sale-image.png')
        .sale-information.text-center
            .group-title
                span ЖК Замитино
                a(href='javascript:void(0)')
            .group-name
                img(src="./images/icons/pik-group.png")
                span Пик группа
            span.group-price от 56 000 р кв.м
    .container
        include ../_rate-graph


