.object-main
    .container
        .round-border
            .round-image
                img(src='./images/sale-image.png')
        .sale-information.text-center
            .group-title
                span ЖК Замитино
                a(href='javascript:void(0)')
            .group-name
                img(src="./images/icons/pik-group.png")
                span Пик группа
            span.group-price от 56 000 р кв.м
    .reiting.container.no-reiting_background
        include ../_rate-graph


