.top-rated-developers
    .container
        .row.xs-close
            .col-xs-12.text-center
                a(href='javascript:void(0)')
                    img(src='./images/icons/close.png', alt='')
        .row
            .col-md-offset-3.col-md-6.text-center.col-xs-12
                span.title Рекомендуем выбрать застройщика с высоким рейтингом!
                span.context Мы заботимся о вас, и желаем вам приятных покупок и полодотворного сотруднечества.<br>Выбирайте надежных застройщиков, с высоким рейтингом!
                .button-block
                    .button
                        a(href='/')
                            img(src='./images/icons/pik-group-button.png', alt='')
                    .button
                        a(href='/')
                            img(src='./images/icons/mic-group-button.png', alt='')
                    .button
                        a(href='/')
                            img(src='./images/icons/samolet-button.png', alt='')
                    .button
                        a(href='/')
                            img(src='./images/icons/A101-button.png', alt='')
            .close
                a(href='javascript:void(0)')
                    img(src='./images/icons/close.png', alt='')