section.about-project
    .container
        .row
            .col-md-6
                .block__title О проекте
                ._regular 1. Первым делом – военнослужащий и члены его семьи.
                .block__text Все, что мы делаем — только для вас. Формируя новый, масштабный проект, создавая идеи, реализовывая новые решения, консультируя по вопросам или внося незначительные изменения на страницах сайта, мы стараемся сделать вашу жизнь комфортнее.
                ._regular  2. Чем быстрее, тем лучше.
                .block__text Мы знаем цену времени и понимаем, что вы хотели бы моментально получать нужные ответы на возникающие у вас вопросы. «ВоенГарант» стремится помочь вам в этом. Наша работа направлена на то, чтобы военнослужащие и их семьи, оперативно получали ответы на свои вопросы. Команда ВоенГаранта сервисы непросто работали, транспортных компаний за счёт совокупного спроса; Мы знаем цену времени и понимаем, что вы хотели бы моментально получать нужные ответы на возникающие у вас вопросы. «ВоенГарант» стремится помочь вам в этом. Наша работа направлена на то, чтобы военнослужащие и их семьи, оперативно получали ответы на свои вопросы.
                .about-project__button
                    .line
                    button +
                    .line
            .col-md-6
                .swiper-container.slider-home
                    .swiper-wrapper
                        .swiper-slide
                            .swiper-slide__content
                                .about-project-slider
                                    span Сотрудничай с ВоенГрантом и открой <br> совершенно новые возможности!
                                    span Голосования и выдвижение инициатив при поддержке общероссийского общественного объединения УНИС
                                    button Зарегистироваться
                        .swiper-slide
                            .swiper-slide__content
                                .about-project-slider
                                    span Сотрудничай с ВоенГрантом и открой <br> совершенно новые возможности!
                                    span Голосования и выдвижение инициатив при поддержке общероссийского общественного объединения УНИС
                                    button Зарегистироваться
                        .swiper-slide
                            .swiper-slide__content
                                .about-project-slider
                                    span Сотрудничай с ВоенГрантом и открой <br> совершенно новые возможности!
                                    span Голосования и выдвижение инициатив при поддержке общероссийского общественного объединения УНИС
                                    button Зарегистироваться

                    .swiper-pagination
