section.analitic
    .container
        .block__title Аналитика
        .analitic-info
            .row
                .col-md-1 22.05.16
                .col-md-7 Интервью с Бургановым Рунаром, и.о. руководителя управления ипотечного кредитования инвестиционно-девелоперского холдинга "Главстрой Девелопмент"
        .analitic-info
            .row
                .col-md-1 22.05.16
                .col-md-7 Интервью с Орлянкиной Ириной, руководителем региональных и агентских продаж инвестиционно-строительного холдинга ГК «КВС»
        .analitic-info
            .row
                .col-md-1 22.05.16
                .col-md-7 Интервью с руководителем проекта продаж ЖК «Парковые аллеи» Ройтманом Игорем Николаевичем
        .analitic-info
            .row
                .col-md-1 22.05.16
                .col-md-7 Выставка-ярмарка "Недвижимость от лидера-2016"
        a(href="#").more Вся аналитика
