.bread-crumbs
    .container
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                ul.bread-crumbs__list
                    li
                        a(href='/') Новостройки
                    li.list-decor
                        a(href='/').city
                            span Москва
                    li.list-decor
                        a(href='/').region
                            span Мортон
                    li.rezidential
                        span ЖК Замитино
                    li
                        a(href='/')
                            img(src="./images/icons/bread-crumbs-arrow.png")