.burger
    a.burger__down
        img(src="./images/icons/burger.png" alt="")
    .burger__menu
        .burger__menu__context
            img(src="./images/icons/burger-logo.png" alt="").burger__logo
            nav
                ul
                    li
                        a.drop__down Услуги
                        ul.drop__down__menu
                            li
                                a(href="#")
                                    img(src="./images/icons/navigation_menu_icon2.png")
                                    span Кооператив
                            li
                                a(href="#")
                                    img(src="./images/icons/navigation_menu_icon1.png")
                                    span Новостройки
                            li
                                a(href="#")
                                    img(src="./images/icons/navigation_menu_icon9.png")
                                    span Вторичка
                            li
                                a(href="#")
                                    img(src="./images/icons/navigation_menu_icon9.png")
                                    span Вторичка
                            li
                                a(href="#")
                                    img(src="./images/icons/navigation_menu_icon6.png")
                                    span Вопрос юристу
                            li
                                a(href="#")
                                    img(src="./images/icons/navigation_menu_icon10.png")
                                    span Удаленная сделака
                            li
                                a(href="#")
                                    img(src="./images/icons/navigation_menu_icon5.png")
                                    span Ипотека повторно
                            li
                                a(href="#")
                                    img.interaction(src="./images/icons/navigation_menu_icon8.png")
                                    span Контроль
                    li
                        a.drop__down Информация
                        ul.drop__down__menu
                    li
                        a.drop__down Дополнительно
                        ul.drop__down__menu
                            - var TopList = ['застройщики', 'Банки', 'Росвоенипотека', 'УНИС', 'Молодострой', 'Нородный фронт', 'Взаимодействие']
                            for item in TopList
                                li
                                    a(href='#')
                                        span= item

            a.burger__button
                img(src="./images/icons/burger.png" alt="")
.profile
    a.profile__down
        img(src="./images/icons/profile.png" alt="")
    .profile__menu
        nav
            ul
                li
                    a(href="#")
                        img(src="./images/icons/profile-user.png" alt="")
                        span Войти
                li
                    a(href="#")
                        img(src="./images/icons/profile-stark.png" alt="")
                        span Избранное
                li
                    a(href="#")
                        img(src="./images/icons/profile-loop.png" alt="")
                        span Поиск на Военгранат.рф
            ul
                li
                    a(href="#")
                        img(src="./images/icons/profile-doc.png" alt="")
                        span Регформа
                li
                    a(href="#")
                        img(src="./images/icons/profile-doc.png" alt="")
                        span В банк
                li
                    a(href="#")
                        img(src="./images/icons/profile-doc.png" alt="")
                        span Жалоба
                li
                    a(href="#")
                        img(src="./images/icons/profile-p.png" alt="")
                        span Презентация

