section.dependents
    .container
        .row
            .col-md-6
                .block__title Взаимодействие
                .block__text
                    span ВоенГарант – Поддерживает военнослужащих армии и других ведомств по всей России
                    p В рамках работы по повышению эффективности программы Военная ипотека для военнослужащих и членов их семей НКО УНИС  осуществляет взаимодействие со следующими организациями
                span.middle-text Благодарственные письма
                .block__text.dependents__inherit В рамках работы по повышению эффективности программы Военная ипотека для военнослужащих и членов их семей НКО УНИС  осуществляет взаимодействие со следующими организациями
                a(href="#").more Читать полностью
                .dependents__context
                    a(href="#").dependents__context__element
                        .images
                            img(src="./images/icons/dependents-gerb1.png")
                        span СВП России
                    a(href="#").dependents__context__element
                        .images
                            img(src="./images/icons/dependents-gerb2.png")
                        span Аппарат Правительства РФ
                    a(href="#").dependents__context__element
                        .images
                            img(src="./images/icons/dependents-gerb3.png")
                        span МЧС России
                .dependents__context
                    a(href="#").dependents__context__element
                        .images
                            img(src="./images/icons/dependents-gerb1.png")
                        span СВП России
                    a(href="#").dependents__context__element
                        .images
                            img(src="./images/icons/dependents-gerb2.png")
                        span Аппарат Правительства РФ
                    a(href="#").dependents__context__element
                        .images
                            img(src="./images/icons/dependents-gerb3.png")
                        span МЧС России
    img(src="./images/icons/dependents-gerb.png" alt="").dependents__img
    img(src="./images/icons/dependents-gerb_mob.png" alt="").dependents__img-mob