section.footer-contact
    .container
        .footer-contact__number
            img(src="./images/icons/footer-number.png")
            span Вы можете связаться с нами по телефону
            span +7 800 500-43-44
        .footer-contact__social
            a(href="#")
                img(src="./images/icons/footer-number.png")
            a(href="#")
                img(src="./images/icons/footer-number.png")
            a(href="#")
                img(src="./images/icons/footer-number.png")
section.footer-right
    .container
        span © Военгарант, 2016 г. Все права защищены.
        .footer-right__logo
            img(src="./images/icons/footer-right.png")
            span Разработано NTI systems

