script(src="./bower_components/jquery/dist/jquery.min.js")
script(src="./bower_components/bootstrap-sass/assets/javascripts/bootstrap.js")
script(src="./bower_components/swiper/dist/js/swiper.js")
script(src="./bower_components/jquery-ui/jquery-ui.js")
script( src="js/jquery.video-extend.js")
script(src="./js/scrolly.js")
script(src="./js/app.js")
script(src="./js/home.js")
script(src="./js/tab.js")
script(src="./js/new-calculator.js")
script(src="./js/video.js")
script(src="./js/object-main-slider.js")
script(src="./js/open-layouts-slider.js")
script(src="./js/review-slider.js")