script(src="./bower_components/jquery/dist/jquery.min.js")
script(src="./bower_components/bootstrap-sass/assets/javascripts/bootstrap.js")
script(src="./bower_components/swiper/dist/js/swiper.js")
script(src="./bower_components/jquery-ui/jquery-ui.js")
script(src="./js/scrolly.js")
script(src="./js/app.js")
script(src="./js/home.js")
script(src="./js/tab.js")
