doctype html
html
    head
        meta(charset="UTF-8")
        title ВоенГарант
        link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400&amp;subset=cyrillic", rel="stylesheet")


        //bower:css
        //endbower

        link(href="./css/main.css", rel="stylesheet")
        script(src="https://use.typekit.net/hnn0siz.js")
        script(src="./js/app.js")


