doctype html
html
    head
        meta(charset="UTF-8")
        title ВоенГарант
        link(href="./bower_components/normalize-css/normalize.css", rel="stylesheet")
        link(href="./css/bootstrap.css", rel="stylesheet")
        link(href="./css/main.css", rel="stylesheet")
        script(src="https://use.typekit.net/hnn0siz.js")
        script(src="./js/app.js")


