.block.block__map
    .container
        .row
            .col-md-5
                .block__title Новостройки
                p Выбирайте из лучших застройщиков, присоединяйтесь к объединению ВоенГарант и получайте особые условия!
            .col-md-7
                .block__title Карта