.block.block__map
    .container
        .row
            .col-md-5
                .filter
                    .block__title Новостройки
                    p Выбирайте из лучших застройщиков, присоединяйтесь к объединению ВоенГарант и получайте особые условия!
                    .filter__context
                        .radio
                            input(type="radio", name="type", value="pik")#type_pik
                            label(for="type_pik")
                                span.checkbox
                                img(src="./images/icons/new-house-radio1.png" alt="")
                                span.checkbox-text Эксклюзивные предложения<br> застройщика на карте
                            input(type="radio", name="type", value="pik")#type_pik2
                            label(for="type_pik2")
                                span.checkbox
                                img(src="./images/icons/new-house-radio2.png" alt="")
                                span.checkbox-text Смотреть на карте лучшие объекты<br>по рейтингу ВоенГаранта
                        .selector
                            .selection._first
                                span Москва и область
                                .img
                                    img(src="./images/icons/new-house-selection.png" alt="")
                            .selection
                                span Город
                                .img
                                    img(src="./images/icons/new-house-selection.png" alt="")
                            .selection
                                span Застройщики
                                .img
                                    img(src="./images/icons/new-house-selection.png" alt="")
                            .selection
                                span Банки
                                .img
                                    img(src="./images/icons/new-house-selection.png" alt="")
                        .inputs
                             input(placeholder="Цена от")
                             input(placeholder="Цена до")
                        .radio._new
                            input(type="radio", name="type", value="pik")#type
                            label(for="type")
                                span.checkbox
                                span.checkbox-text Ремонт
                            label(for="type")
                                span.checkbox
                                span.checkbox-text Скидка от ВоенГаранта
                            label(for="type")
                                span.checkbox
                                span.checkbox-text Акции
                        .selector
                            .selection
                                span Готовность
                                .img
                                    img(src="./images/icons/new-house-selection.png" alt="")
                            .selection
                                span Срок сдачи
                                .img
                                    img(src="./images/icons/new-house-selection.png" alt="")


            .col-md-7
                .map-context
                    .search
                        img(src="./images/icons/map-src.png" alt="")
                        span  поиск по объектам
                    .plus
                        img(src="./images/icons/map-plus.png" alt="")
                    .menus
                        img(src="./images/icons/map-menus.png" alt="")
                    .scr
                        img(src="./images/icons/map-scr.png" alt="")
                        span на весь экран
                    .str
                        img(src="./images/icons/map-str.png" alt="")
                        span Обнулить<br>фильтр