.map-context
    .search
        img(src="./images/icons/map-src.png" alt="")
        span  поиск по объектам
    .plus
        img(src="./images/icons/map-plus.png" alt="")
    .menus
        img(src="./images/icons/map-menus.png" alt="")
    .scr
        img(src="./images/icons/map-scr.png" alt="")
        span на весь экран
    .str
        img(src="./images/icons/map-str.png" alt="")
        span Обнулить<br>фильтр