.navigation
    span.navigation__title Навигация по странице
    ul.navigation__list
        -var items = ['Акции','Получить скидку','Пик - условия','Объекты','Застройщики','О проекте','Взаимодействие','Новости','Аналитика','Отзывы','Банки']
            each item in items
                li
                    a(href='/')= item
