section.news
    .container
        .block__title Новости
        .block__text Мы следим за всеми важными новостями российской армии и размещаем <br> на нашем портале подборки из наиболее важных и интересных из них.
        a(href="#").more Смотреть все новости
        .row
            .news__info.col-md-6
                 .row
                     .col-md-6
                         .news__info__text
                             span Новости военной ипотеки
                             a(href="#").big Спешите! Новый объект ЖК «ВЛюблино» со скидками от ВоенГарант!
                             span.middle ЖК «ВЛюблино» - это авторский проект современного жилого комплекса, который возводится в благоустроенном...
                             span Январь, 12.2016
                     .col-md-6
                         .news__info__text
                             span.action
                                .blue ПИК
                             a(href="#").big Спешите! Новый объект ЖК «ВЛюблино» со скидками от ВоенГарант!
                             span.middle ЖК «ВЛюблино» - это авторский проект современного жилого комплекса, который возводится в благоустроенном...
                             span Январь, 12.2016
                 .row
                     .col-md-6
                         .news__info__text
                             span.action
                                 .red Акция
                             a(href="#").big Спешите! Новый объект ЖК «ВЛюблино» со скидками от ВоенГарант!
                             span.middle ЖК «ВЛюблино» - это авторский проект современного жилого комплекса, который возводится в благоустроенном...
                             span Январь, 12.2016
                     .col-md-6
                         .news__info__text
                             span Новости военной ипотеки
                             a(href="#").big Спешите! Новый объект ЖК «ВЛюблино» со скидками от ВоенГарант!
                             span.middle ЖК «ВЛюблино» - это авторский проект современного жилого комплекса, который возводится в благоустроенном...
                             span Январь, 12.2016
            .col-md-6
                .news__banner
                     span._big Скидки растут!
                     span Скидка от 2% на все объекты ГК Мортон <br> + Подарочная карта на 20 000 р. <br> сети магазинов
                     .news__banner__img
                         img(src="./images/icons/news-m-video.png")
                         img(src="./images/icons/news-ikea.png")
                         img(src="./images/icons/news-obi.png")
