#slider-home.novo-slider
    .container
        .row
            .col-md-12
                .swiper-container.slider-home
                    .swiper-wrapper
                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/novostroiki/novo-slider.png" alt="")
                                .swiper-slide__content__element
                                    .slider-home__title Дополнительная скидка 1%<br>на все квартиры с 27 по 31 марта
                                    .slider-home__text  Предложение действительно для Москвы и Москвовской области
                                    a(href="#").more Смотреть объекты
                                .slider-home__sale Акция

                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/novostroiki/novo-slider.png" alt="")
                                .swiper-slide__content__element
                                    .slider-home__title Дополнительная скидка 1%<br>на все квартиры с 27 по 31 марта
                                    .slider-home__text  Предложение действительно для Москвы и Москвовской области
                                    a(href="#").more Смотреть объекты
                                .slider-home__sale Акция
                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/novostroiki/novo-slider.png" alt="")
                                .swiper-slide__content__element
                                    .slider-home__title Дополнительная скидка 1%<br>на все квартиры с 27 по 31 марта
                                    .slider-home__text  Предложение действительно для Москвы и Москвовской области
                                    a(href="#").more Смотреть объекты
                                .slider-home__sale Акция
                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/novostroiki/novo-slider.png" alt="")
                                .swiper-slide__content__element
                                    .slider-home__title Дополнительная скидка 1%<br>на все квартиры с 27 по 31 марта
                                    .slider-home__text  Предложение действительно для Москвы и Москвовской области
                                    a(href="#").more Смотреть объекты
                                .slider-home__sale Акция

                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/novostroiki/novo-slider.png" alt="")
                                .swiper-slide__content__element
                                    .slider-home__title Дополнительная скидка 1%<br>на все квартиры с 27 по 31 марта
                                    .slider-home__text  Предложение действительно для Москвы и Москвовской области
                                    a(href="#").more Смотреть объекты
                                .slider-home__sale Акция

                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/novostroiki/novo-slider.png" alt="")
                                .swiper-slide__content__element
                                    .slider-home__title Дополнительная скидка 1%<br>на все квартиры с 27 по 31 марта
                                    .slider-home__text  Предложение действительно для Москвы и Москвовской области
                                    a(href="#").more Смотреть объекты
                                .slider-home__sale Акция
                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/novostroiki/novo-slider.png" alt="")
                                .swiper-slide__content__element
                                    .slider-home__title Дополнительная скидка 1%<br>на все квартиры с 27 по 31 марта
                                    .slider-home__text  Предложение действительно для Москвы и Москвовской области
                                    a(href="#").more Смотреть объекты
                                .slider-home__sale Акция
                        .swiper-slide
                            .swiper-slide__content
                                img.slider-home__img(src="./images/novostroiki/novo-slider.png" alt="")
                                .swiper-slide__content__element
                                    .slider-home__title Дополнительная скидка 1%<br>на все квартиры с 27 по 31 марта
                                    .slider-home__text  Предложение действительно для Москвы и Москвовской области
                                    a(href="#").more Смотреть объекты
                                .slider-home__sale Акция

                    .swiper-pagination