section.object
    .container
        .block__title Объекты по заданным условиям
        .block__text При выборе объекта рекомендуем обращать внимание на рейтинг застройщика и рейтинг самого объекта.<br>В любом случае проконсультируйтесь со специалистом ВоенГаранта и получите скидку на этот объект.
        .object__context.row
            .col-md-6
                .object__context__block(style="background: url(./images/icons/object1.png) 100% no-repeat; background-size:cover")
                    .object__context__block__info
                        span Санкт-Петербург
                        span.title UP-квартал <br> Светлановский
                        .object__context__block__info__text.row
                            .info.col-md-3
                                .img
                                    img(src="./images/icons/object-icon1.png")
                                span ФСК Лидер <br> от 1 749 999 р.
                            .info.col-md-3
                                img(src="./images/icons/object-icon2.png")
                                span Скидка <br> до 50 000 р.
                        img