section.object
    .container
        .block__text  Объекты по заданным условиям (35):
        .object__context.row
            .col-md-6
                .object__context__block(style="background: url(./images/icons/object1.png) 100% no-repeat; background-size:cover")
                    .object__context__block__info
                        span Санкт-Петербург
                        span.title UP-квартал <br> Светлановский
                        .object__context__block__info__text
                            .info
                                .img
                                    img(src="./images/icons/object-icon1.png")
                                span ФСК Лидер <br> от <b> 1 749 999 </b> р.
                            .info
                                .img
                                    img(src="./images/icons/object-icon3.png")
                                span Скидка <br> до <b> 50 000 </b> р.
                    .sale Скидка застройщика 10%
            .col-md-6._indent
                .object__context__block._smal(style="background: url(./images/icons/object2.png) 100% no-repeat; background-size:cover")
                    .object__context__block__info
                        span Красногорск
                        span.title мкрн. Новорижские <br> Кварталы
                        .object__context__block__info__text
                            .info
                                .img
                                    img(src="./images/icons/object-icon2.png")
                                span Мортон <br> от <b> 3 345 522 </b>р.
            .col-md-6._indent._in-row
                .object__context__block._smal(style="background: url(./images/icons/object3.png) 100% no-repeat; background-size:cover")
                    .object__context__block__info
                        span Москва
                        span.title ЖК ВЛюблино
                        .object__context__block__info__text
                            .info
                                .img
                                    img(src="./images/icons/object-icon2.png")
                                span Мортон <br> от <b> 3 345 522 </b>р.
        .row
            .col-md-6
                .object__context__block._smal(style="background: url(./images/icons/object3.png) 100% no-repeat; background-size:cover")
                    .object__context__block__info
                        span Железнодорожный
                        span.title ЖК Столичный
                        .object__context__block__info__text
                            .info
                                .img
                                    img(src="./images/icons/object-icon2.png")
                                span Мортон <br> от <b> 3 345 522 </b>р.
            .col-md-6._indent
                .object__context__block._smal(style="background: url(./images/icons/object3.png) 100% no-repeat; background-size:cover")
                    .object__context__block__info
                        span Люберцы
                        span.title ЖК Люберцы 2017
                        .object__context__block__info__text
                            .info
                                .img
                                    img(src="./images/icons/object-icon4.png")
                                span Самолет девелопмент<br>от<b> 1 950 000 </b>р.
                            .info
                                .img
                                    img(src="./images/icons/object-icon3.png")
                                span Скидка <br> до<b> 50 000</b> р.
                     .sale Скидка застройщика 10%

        .object__next
            a(href="#")
                img(src="./images/icons/object-next.png")
                span Показать ещё