ul.partners-ul.clearfix
    -for(var i = 0; i < 8; i++)
        li
            .partners__logo
                img(src="./images/icons/builder-1.png" alt="")
            span.partners__name Бест
            span.partners__rate 4.6
            span.partners__discount Скидка 3%