section.partners
    .container
        .partners__title.block__title.text-center Наши партнеры
        .partners__description.text-center
            p.
                Успешно реализована схема дистанционного ведения сделки (без личного присутствия военнослужащего) на первичном рынке. <br>
                Таким образом, десятки тысяч военнослужащих, желающих приобрести жилье! Успешно реализована схема дистанционного <br>
                ведения сделки (без личного присутствия военнослужащего) на первичном рынке.
        include _partners-block