.object-table
    .container
        span.max-reiting-inscription Максимальный рейтинг
            span.max-reiting  100%
        .object-content
            .content-top
                .reiting
                    .blocks
                    .blocks
                    .blocks
                    .blocks
                .reiting
                    .blocks
                    .blocks
                    .blocks
                    .blocks
                .reiting
                    .blocks
                    .blocks
                .reiting
                    .blocks
                    .blocks
                    .blocks
                    .blocks
                    .blocks
                    .blocks
                    .blocks
                    .blocks
                    .blocks
                .reiting
                    .blocks
                    .blocks
                    .blocks
                    .blocks
                .reiting
                    .blocks
                    .blocks
                .reiting
                    .blocks
                    .blocks
                    .blocks
                    .blocks
                    .blocks
                    .blocks
                    .blocks
                    .blocks
                    .blocks
                .reiting
                    .blocks
                    .blocks
            .content-bottom
                .reiting.text-center
                    span.reiting-content Застройщик
                    span.reiting-text 95.5%
                .reiting.text-center
                    span.reiting-content Безопасность района
                    span.reiting-text 96.4%
                .reiting.text-center
                    span.reiting-content Транспорт
                    span.reiting-text 97%
                .reiting.text-center
                    span.reiting-content Заселенность района
                    span.reiting-text 96.4%
                .reiting.text-center
                    span.reiting-content Экология
                    span.reiting-text 95.5%
                .reiting.text-center
                    span.reiting-content Инфаструктура
                    span.reiting-text 93%
                .reiting.text-center
                    span.reiting-content Качество
                    span.reiting-text 95.5%
                .reiting.text-center
                    span.reiting-content Общий рейтинг
                    span.reiting-text 4%
        .object-message.text-center
            img(src='./images/icons/mark.png')
            span Оценка объекта для выставления рейтинга<br>не проводилась
