section.seo
    .container
        .block__title Актуальные решения и инструменты <br> для военных
        .block__text Несколько тысяч семей с помощью ВоенГаранта выбрали из продажи готовых квартир <br> для военнослужащих своё жильё.
        a( onclick="textMsg(seo)")#all
            .but
section.seo-context#seo
    .container
        .row
            .col-md-8
                .block__text При самостоятельном действии в рамках оформления ипотеки для действующих военнослужащих человек начинает с того, что:<br>Подаёт рапорт о внесении своих данных в реестр НИС. Через три года подаёт рапорт (в штаб части) на получение Свидетельства, которое даёт право на выдачу целевого жилищного займа. Получает Свидетельство. Выбирает из продажи готовых или строящихся квартир для военных (частные дома, жилые комплексы, вторичное жильё и пр.), выбирает банк, где уточняет условия предоставления займа. Оформляет и подписывает договора с банком, МО, продавцом недвижимости согласно Закону об ипотеке. Получает свидетельство о праве собственности. Приведённая инструкция не позволяет купить квартиру по военной ипотеке со скидкой, так как не учитывает конъюнктурную ситуацию на рынке аккредитованных домов, игнорирует выгодные предложения застройщиков. Из множества вариантов наш сайт военной ипотеки поможет найти тот, что действительно отвечает Вашим требованиям с минимально доступной ценой и сопутствующими скидками.
                .block__title НИС: жилье военнослужащим
                .block__text При самостоятельном действии в рамках оформления ипотеки для действующих военнослужащих человек начинает с того, что:<br> Подаёт рапорт о внесении своих данных в реестр НИС. Через три года подаёт рапорт (в штаб части) на получение Свидетельства, которое даёт право на выдачу целевого жилищного займа. Получает Свидетельство. Выбирает из продажи готовых или строящихся квартир для военных (частные дома, жилые комплексы, вторичное жильё и пр.), выбирает банк, где уточняет условия предоставления займа. Оформляет и подписывает договора с банком, МО, продавцом недвижимости согласно Закону об ипотеке.<br>Получает свидетельство о праве собственности. Приведённая инструкция не позволяет
                a( onclick="textMsg(seo)")#hidden
                    .but