section.social
    .container
        img(src="./images/icons/social-logo.png")
        span.middle-text ВоенГарант – круглосуточная бесплатная помощь в приобретении <br> жилья по Военной ипотеке по всей России
        span.block__text Вступайте в наши  группы в социальных сетях
        .social__img
            img(src="./images/icons/social-vk.png")
            img(src="./images/icons/social-facebook.png")
            img(src="./images/icons/social-ok.png")
