body {
  font-family: $mainFontFamily;
  font-size: 16px;
  padding-top: 151px;
  background: #fafafa;

  @include breakpoint("max-width: 1050px") {
    font-size: 14px;
  }
  @include breakpoint("max-width: 1024px"){
    padding-top: 75px;
  }
}
.body_black{
  background: url("../images/background-black.png");
  background-size: cover;
  padding-top: 200px;
  color: #f5f5f5;
  @include breakpoint("max-width: 1024px") {
    padding-top: 75px;
  }
  .block__text{
    color: #777777;
  }
  .footer-right{
    background: #232323;
  }
  .seo{
    background: #1d1d1d;
  }
  footer{
    border-top: 1px solid #777777;
    .footer__context ul,.footer__context a{
      color: #777777;
      font-size: 18px;
    }
  }
}

ul {
  margin: 0;
}

.more {
  margin-left: 18px;
  color: #309bf7;
  @include breakpoint("max-width: 1024px") {
    font-size: 30px;
    font-weight: 300;
  }

  &:after {
    display: inline-block;
    content: '>';
    margin-left: 15px;
  }
}

*:focus, *:target {
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: $mainFontFamily;
}

.inlineVertical {
  display: inline-block;
  vertical-align: middle;
}

.block {
  &__title {
    font-size: 36px;
    font-weight: 300;
    display: block;
    font-family: $titleFontFamily;
    margin-top: -25px;
    margin-bottom: 13px;

    @include breakpoint("max-width: 1680px") {
      font-size: 25px;
    }
    @include breakpoint("max-width: 1024px") {

      font-size: 45px;
    }
  }
  &__center {
    text-align: center;
  }
  &__text {
    font-size: 18px;
    color: #1f1f1f;
    font-weight: 300;
    line-height: 21px;

    @include breakpoint("max-width: 1680px") {
      font-size: 14px;
    }
    @include breakpoint("max-width: 1024px") {
      font-size: 30px;
      line-height: 30px;

    }
  }
}

.radio, .checkbox {
  label {
    span.checkbox {
      width: 12px;
      height: 12px;
      background: #f1f1f1;
      border: 1px solid #b8b8b8;
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
    }
    span.checkbox-text {
      display: inline-block;
      vertical-align: top;
    }
  }
  input {
    display: none;
  }
  input:checked + label {
    span.checkbox {
      background: #2891c0;
      border-color: #2891c0;
    }
  }
  img {
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
  }
}

a {
  text-decoration: none;
}

.container {
  width: $container;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;

  //outline: 1px solid rgba(255, 0, 0, 0.28);

  @include breakpoint("max-width: 1280px") {
    max-width: 88.8%;
  }


  max-width: 88.8%;

  &__header {
    display: table-cell;
  }
}
.container_black{
  width: 1450px;
  padding-left: 60px;
  @include breakpoint("max-width: 1280px") {
    padding: 0;
    margin: 0 auto;
  }
  .seo{
    background: url("../images/background-black.png");
    border-bottom: solid 1px #2a2a29;
  }
}

.top-line {
  display: table;
  width: 100%;
}

.container-side {
  width: (293px / 1920px * 100%);
  display: table-cell;
  box-sizing: border-box;
  vertical-align: middle;

  @include breakpoint("max-width: 1440px") {
    width: (200px / 1920px * 100%);
  }

  img {
    @extend .inlineVertical;
  }

  span {
    @extend .inlineVertical;
  }

}

.col-md-3 {
  outline: rgba(255, 69, 0, 0.49);
}

.container-right {
  @extend .container-side;
  padding-right: (45px / 1920px * 100%);

  @include breakpoint("max-width: 1440px") {
    padding-right: (25px / 1920px * 100%);
  }

  @include breakpoint("max-width: 1024px") {

    display: none;
  }

  text-align: right;
}

.container-left {
  @extend .container-side;
  padding-left: (45px / 1920px * 100%);

  @include breakpoint("max-width: 1440px") {
    padding-left: (25px / 1920px * 100%);
  }
}

.btn {
  font-size: 16px;

  @include breakpoint("max-width: 1680px") {
    font-size: 14px;
    width: 160px;
  }

  @include breakpoint("max-width: 1024px") {

    font-size: 30px;
    padding: 5px 25px;
    width: auto;
  }
  font-weight: 300;
  border: none;
  font-family: "myriad-pro", sans-serif;
  border-radius: 5px;
  padding: 5px 20px;
  width: 180px;
}

.p-l-none {
  padding-left: 0;
}

.p-r-none {
  padding-right: 0;
}

.p-both-none {
  padding: 0;
}

.row-none {
  margin: 0;
}
button.send {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
  width: 155px;
  height: 35px;
  background: #309bf7;
  color: #ffffff;
  margin-left: 5px;
  border-radius: 5px;
  text-align: center;
  &:hover {
    color: #fff;
  }
  @include breakpoint("max-width: 1680px"){
    font-size: 14px;
    width: 130px;
  }
  @include breakpoint("max-width: 1280px"){
    font-size: 12px;
    width: 100px;
  }
  @include breakpoint("max-width: 1024px"){
    font-size: 30px;
    width: 215px;
    height: 55px;
    margin-left: 0;
    margin-top: 25px;
  }
  &:after{
    content: ' ';
  }


}
a.politic{
  display: inline-block;
  float: right;
  margin-top: 15px;
  font-size: 12px;
  @include breakpoint("max-width: 1920px"){
    font-size: 13px;
  }
  @include breakpoint("max-width: 1280px"){
    margin-top: 20px;
  }
  @include breakpoint("max-width: 1024px"){
    font-size: 18px;
    margin-top: 40px;
  }
}
label.label-form{
  display: block;
  color: #777777;
  font-weight: 300;
  @include breakpoint("max-width: 1680px") {
    font-size: 14px;
  }
  @include breakpoint("max-width: 1280px"){
    font-size: 12px;
  }
  @include breakpoint("max-width: 1024px"){
    font-size: 20px;
  }
}
input.input-form,textarea.textarea-form{
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  font-size: 18px;
  padding: 5px;

}
textarea.textarea-form{
  resize: none;
  box-sizing: border-box;
  overflow: hidden;
  row-span: 5;
}
textarea:focus,textarea:active,input:focus,input:active{
  box-shadow: 0px 0px 15px 0px #309bf7;
}
select.select-form{
  @include text($mainFontFamily, #333333, inline-block, 18px, 20px, normal);
  width: (250px / 572px * 100%);
  height: 33px;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding-left: (22px / 572px * 100%);
  padding-right: (22px / 572px * 100%);
  background: url("../images/icons/select-blue.png") 97% center  no-repeat, #fdfdfd;
  appearance: none!important;
  @include breakpoint("max-width: 1025px") {
    background: url("../images/icons/select-mob.png") right no-repeat, #fdfdfd;
    width: 488px;
    height: 65px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 33px;
    padding-left: 18px;
    padding-right: 53px;
    font-weight: 300;
    color: #777777;
    display: block;
  }
  &:active, &:focus {
    outline: none;
    box-shadow: 0px 0px 25px 0px rgba(229,236,248,1);
  }
  &::-ms-expand {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
  }
}
.link-reviews {
  display: inline-block;
  text-decoration: none;
  opacity: .9;
  @include breakpoint("max-width: 1025px") {
    margin: 136px 0 0 0;
  }
  img {
    width: 31px;
    height: 31px;
    @include breakpoint("max-width: 1025px") {
      width: 86px;
      height: 86px;
    }
  }
  span {
    @include text($mainFontFamily, #309bf7, block, 18px, 20px, 100);
    padding: 10px 0 0 0;
    @include breakpoint("max-width: 1025px") {
      @include text($mainFontFamily, #309bf7, block, 35px, 37px, 100);
      padding: 20px 0 0 0;
    }
  }
  &:hover {
    opacity: 1;
  }
}
ul.partners-ul{
  list-style: none;
  padding: 0;

  text-align: center;
  span {
    display: block;
  }
  li {
    width: (100%/8);
    float: left;
  }
  &__name {
    color: color(black);
  }
  &__rate {
    color: color(default);
  }
  &__discount {
    color: color(link-more);
  }
  &__title {
    margin-top: 0;
  }
  &__logo {
    width: 66px;
    margin: 0 auto 10px auto;
    img {
      width: 100%;
    }
  }
}