body {
  font-family: $mainFontFamily;
  font-size: 16px;
  padding-top: 151px;
  background: #fafafa;
}

ul {
  margin: 0;
}

.more {
  margin-left: 18px;
  color: #309bf7;

  &:after {
    display: inline-block;
    content: '>';
    margin-left: 15px;
  }
}

*:focus, *:target {
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: $mainFontFamily;
}

.inlineVertical {
  display: inline-block;
  vertical-align: middle;
}

.block {
  &__title {
    font-size: 60px;
    font-weight: 100;
    display: block;
    font-family: $titleFontFamily;
    margin-top: -25px;
    margin-bottom: 13px;
  }
  &__center {
    text-align: center;
  }
  &__text {
    font-size: 18px;
    color: #1f1f1f;
    font-weight: 300;
    line-height: 21px;
  }
}

.radio, .checkbox {
  label {
    span.checkbox {
      width: 12px;
      height: 12px;
      background: #f1f1f1;
      border: 1px solid #b8b8b8;
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
    }
    span.checkbox-text {
      display: inline-block;
      vertical-align: top;
    }
  }
  input {
    display: none;
  }
  input:checked + label {
    span.checkbox {
      background: #2891c0;
      border-color: #2891c0;
    }
  }
  img {
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
  }
}


a {
  text-decoration: none;
}

.container {
  width: $container;
  margin: 0 auto;
  max-width: ($container / 1920px * 100%);
  padding-left: 0;
  padding-right: 0;
  //outline: 1px solid rgba(255, 0, 0, 0.28);

  @include breakpoint("max-width: 1440px") {
    max-width: (1127px / 1440px * 100%);
  }

  &__header {
    display: table-cell;
  }
}

.top-line {
  display: table;
  width: 100%;
}

.container-side {
  width: (293px / 1920px * 100%);
  display: table-cell;
  box-sizing: border-box;
  vertical-align: middle;
  //outline: 1px solid rgba(0, 0, 255, 0.32);

  @include breakpoint("max-width: 1440px") {
    width: (200px / 1920px * 100%);
  }

  img {
    @extend .inlineVertical;
  }

  span {
    @extend .inlineVertical;
  }

}

.col-md-3 {
  outline: rgba(255, 69, 0, 0.49);
}

.container-right {
  @extend .container-side;
  padding-right: (45px / 1920px * 100%);

  @include breakpoint("max-width: 1440px") {
    padding-right: (25px / 1920px * 100%);
  }

  text-align: right;
}
.container-left {
  @extend .container-side;
  padding-left: (45px / 1920px * 100%);

  @include breakpoint("max-width: 1440px") {
    padding-left: (25px / 1920px * 100%);
  }
}
.btn{
  font-size: 16px;
  font-weight: 300;
  border: none;
  font-family: "myriad-pro", sans-serif;
  border-radius: 5px;
  padding: 5px 20px;
  width: 180px;
}