$mainFontFamily: "myriad-pro", sans-serif;
$titleFontFamily: 'Roboto Slab', serif;
$container: 1325px;
$color: #303030;

*:focus {
  outline: none !important;
}

//FONT-SIZE

$s12: 12px;
$s14: 14px;
$s16: 16px;
$s18: 18px;
$s20: 20px;
$s24: 24px;
$s30: 30px;
$s36: 36px;

//COLORS

$colors: (
        default: #777,
        white: #fff,
        black: #000,
        bg: #fafafa,
        blue-btn:#309bf7,
        light-red: #e01a22,
        light-blue: #046eb6,
        dark-blue: #164074,
        build-default: #2f2f2f,
        link-more: #309bf7,
        top-yellow:#faf4b0,
        top-red:#fab0bf,
        top-blue:#b9b7ed,
        top-point:#f7f7f7,
        input: #333,
        input-focus: rgba(113, 158, 240, 0.51),
        green-bank: #379a1e,
);
$color-blue-cell: (
        1: #9a91f8,
        2: #968df8,
        3: #8f87f6,
        4: #8880f5,
        5: #7f78f3,
        6: #7871f1,
        7: #726bf0,
        8: #6b65ef,
        9: #6661ee,
        10: #5d58e8,
);

