.initiatives-comments__block
    .name Иван петров
    .date 16.05.17
    .text.
        Предложение увеличить скидку имеет полное право на существование, по многим причинам.
        В настоящее время военносдужащие получают скидку около 5 %. Я считаю, что нужно поднимать!