.news-left__banner.initiatives-banner
    img(src="../images/black-menu/pik-logo.png")
    .block__title Специальные условия от ПИК
    .block__text Дополнительные скидки для всех клиентов ВоенГаранта!
    button(type="submit").btn.btn-primary  Смотреть объекты