section.initiative__block
    .block__title Инициативы
    .block__text После авторизации Вы сможете принять участие в группой сделке и получить скидку от выбраного застройщика!
    .initiative__block__add
        a(href="#") +
        span Предложить инициативу
    .initiative__block__context.row
        .initiative__block__context__relis.col-md-3
            span.name Увеличение скидок по военной ипотеке
            p.
                Предложение увеличить
                скидку имеет полное право
                на существование, по мно-
                гим причинам. В настоящее
                время военносдужащие
                получают скидку около...
            a.more Подробнее
            +like("../images/black-menu/heart.png","1566")
            +like("../images/black-menu/comment.png","12")
        .initiative__block__context__relis.col-md-3
            span.name Увеличение скидок по военной ипотеке
            p.
                Предложение увеличить
                скидку имеет полное право
                на существование, по мно-
                гим причинам. В настоящее
                время военносдужащие
                получают скидку около...
            a.more Подробнее
            +like("../images/black-menu/heart.png","1566")
            +like("../images/black-menu/comment.png","12")
        .initiative__block__context__relis.col-md-3
            span.name Увеличение скидок по военной ипотеке
            p.
                Предложение увеличить
                скидку имеет полное право
                на существование, по мно-
                гим причинам. В настоящее
                время военносдужащие
                получают скидку около...
            a.more Подробнее
            +like("../images/black-menu/heart.png","1566")
            +like("../images/black-menu/comment.png","12")
        .initiative__block__context__relis.col-md-3
            span.name Увеличение скидок по военной ипотеке
            p.
                Предложение увеличить
                скидку имеет полное право
                на существование, по мно-
                гим причинам. В настоящее
                время военносдужащие
                получают скидку около...
            a.more Подробнее
            +like("../images/black-menu/heart.png","1566")
            +like("../images/black-menu/comment.png","12")
    .initiative__block__context.row
        .initiative__block__context__relis.col-md-3
            span.name Увеличение скидок по военной ипотеке
            p.
                Предложение увеличить
                скидку имеет полное право
                на существование, по мно-
                гим причинам. В настоящее
                время военносдужащие
                получают скидку около...
            a.more Подробнее
            +like("../images/black-menu/heart.png","1566")
            +like("../images/black-menu/comment.png","12")
        .initiative__block__context__relis.col-md-3
            span.name Увеличение скидок по военной ипотеке
            p.
                Предложение увеличить
                скидку имеет полное право
                на существование, по мно-
                гим причинам. В настоящее
                время военносдужащие
                получают скидку около...
            a.more Подробнее
            +like("../images/black-menu/heart.png","1566")
            +like("../images/black-menu/comment.png","12")
        .initiative__block__context__relis.col-md-3
            span.name Увеличение скидок по военной ипотеке
            p.
                Предложение увеличить
                скидку имеет полное право
                на существование, по мно-
                гим причинам. В настоящее
                время военносдужащие
                получают скидку около...
            a.more Подробнее
            +like("../images/black-menu/heart.png","1566")
            +like("../images/black-menu/comment.png","12")
        .initiative__block__context__relis.col-md-3
            span.name Увеличение скидок по военной ипотеке
            p.
                Предложение увеличить
                скидку имеет полное право
                на существование, по мно-
                гим причинам. В настоящее
                время военносдужащие
                получают скидку около...
            a.more Подробнее
            +like("../images/black-menu/heart.png","1566")
            +like("../images/black-menu/comment.png","12")
