section.initiatives-forma
    .block__title Оставить комментарий
    .block__text Вы можете оставить свой комментарий о выбранной инициативе. После отправления комментария , он сразу появится ленте.
    form
        label.label-form Имя
        input.input-form
        label.label-form Сообщение
        textarea.textarea-form
        button(type="submit").send Отправить