section.initiatives-right.col-md-10
    section.initiatives-context
        .block__title Увеличение скидок по военной ипотеке
        +like("../images/black-menu/heart.png","1566")
        .initiatives-context__text
            p Работы, выполняются сотрудниками необходимой квалификации, проходят проверку в отделе контроля качества и в системе Антиплагиат тандартный уровень оригинального текста составляет 50% для контрольных и рефератов, 60% для курсовыхработ, 70% для дипломных работ. В случае, если по требованиям Вашего ВУЗа работа должна содержать больший процент оригинального текста, информация об этом должна быть отражена Вами при оформлении заказа для того, чтобы Ваш менеджер мог учесть эти требования при оценке стоимости работы.
            span Почему это будет правильным решением?
            p.
                обращаем Ваше внимание, что в процессе сдачи дипломной или курсовой работы может потребоваться выполнить несколько доработок, что является нормой. Если для Вас важна оценка, то работу необходимо
                заказывать заблаговременно (за 3-4 месяца до сдачи)  оформив заказ, Вы получаете исследование «под ключ», т.е. полную работу, начиная с оглавления и заканчивая списком использованной литературы и
                приложениями, соответствующую стандартам Вашего ВУЗа (при оформлении необходимо предоставить методические указания). при этом необходимо помнить, что успешная защита предполагает внимательное ознакомление студента  с выполненной работой и литературой по теме исследования. обращаем Ваше внимание, что в процессе сдачи дипломной или курсовой работы может потребоваться выполнить несколько доработок, что является нормой. Если для Вас важна оценка, то работу необходимо
                заказывать заблаговременно (за 3-4 месяца до сдачи)  оформив заказ, Вы получаете исследование «под ключ»,т.е. полную работу, начиная с оглавления и заканчивая списком использованной литературы.
                приложениями, соответствующую стандартам
                <span> Почему это будет правильным решением?</span>
                обращаем Ваше внимание, что в процессе сдачи дипломной или курсовой работы может потребоваться
                выполнить несколько доработок, что является нормой. Если для Вас важна оценка, то работу необходимо
                заказывать заблаговременно (за 3-4 месяца до сдачи)  оформив заказ, Вы получаете исследование «под ключ», т.е. полную работу, начиная с оглавления и заканчивая списком использованной литературы и
                приложениями, соответствующую стандартам Вашего ВУЗа (при оформлении необходимо предоставить методические указания). при этом необходимо помнить, что успешная защита предполагает внимательное ознакомление студента  с выполненной работой и литературой по теме исследования. обращаем Ваше внимание, что в процессе сдачи дипломной или курсовой работы может потребоваться выполнить несколько доработок, что является нормой. Если для Вас важна оценка, то работу необходимо
                заказывать заблаговременно (за 3-4 месяца до сдачи)  оформив заказ,
        a(href="#").more.back  Назад
        .people-like
            ul
                - var list = ["Иван Петров","Константин Иванов","Петр Матюньков","Кристина Бутакова","Анастасия Локтева","Иван Петров","Константин Иванов","Петр Матюньков","Кристина Бутакова","Анастасия Локтева","Иван Петров","Константин Иванов","Петр Матюньков","Кристина Бутакова","Анастасия Локтева","Иван Петров","Константин Иванов","Петр Матюньков","Кристина Бутакова","Анастасия Локтева"]
                -for item in list
                    li=item
    .mobile
        include _initiatives-banner
        include ../news/_news-banner
    section.initiatives-comments
        .block__title Комментарии
        .block__text Оставьте свой комментарий по выбранной теме, или узнайте, что думают другие
        include _initiatives-comments
        include _initiatives-comments
        .desctop
            include _initiatives-forma
