.calculator-page__banner
    .container
        .calculator-page__banner__main-block
            .review-banner__content-up.text-center
                span.review-banner__title Больше преимуществ!
                span.review-banner__context Сотрудничай с ВоенГарант<br>и получай специальные<br>условия!
                button.btn.btn-primary Зарегистрироваться
            .review-banner__content-down

include ../review/_review-banner