.calculator-page__banner
    .container
        .calculator-page__banner__main-block
            .calculator-page__banner__content-left
            .calculator-page__banner__content-right.text-center
                span.calculator-page__banner__title Больше преимуществ!
                span.calculator-page__banner__subtitle Сотрудничай с ВоенГарантом и получай<br>специальные условия!
                span.calculator-page__banner__context Регистрация в личном кабинете участника<br>объединения
                button.btn.btn-primary Зарегистрироваться
include ../review/_review-banner