.initiative__block{
  margin-top: 50px;

  .block__title{
    text-align: center;
  }
  .block__text{
    display: block;
    text-align: center;
    width: 36%;
    margin: 0 auto 20px;
    @include breakpoint("max-width: 1024px") {
      width: 100%;
      margin: 0 auto 30px;
    }
  }
  &__add{
    text-align: center;
    margin-bottom: 40px;
    a,span{
      display: inline-block;
      vertical-align: middle;
      @include breakpoint("max-width: 1024px") {
        font-size: 20px;
      }
    }
    a{
      margin-right: 15px;
      height: 25px;
      width: 25px;
      color: #1d1d1d;
      background: #d2294b;
      border-radius: 15px;
      @include breakpoint("max-width: 1024px") {
        height: 30px;
        width: 30px;
        border-radius: 25px;
      }
    }
    a:hover,a:focus{
      text-decoration: none;
      opacity: 0.9;
    }

  }
  &__context{
    margin-bottom: 15px;
    display: flex;
    @include breakpoint("max-width: 1280px") {
      font-size: 14px;
    }
    @include breakpoint("max-width: 1024px") {
      font-size: 20px;
      display: block;

    }
    &__relis{
      background-color: #303030;
      padding: 40px 20px;
      margin: 0 0.52%;
      width: 23%;
      @include breakpoint("max-width: 1024px") {
        width: 100%;
        margin-bottom: 40px;
        padding: 60px 40px;
      }
      .name,.more{
        display: block;
        font-size: 18px;
        margin: 0 0 15px;
        @include breakpoint("max-width: 1280px") {
          font-size: 16px;
        }
        @include breakpoint("max-width: 1024px") {
          font-size: 30px;
        }
      }
      .name{
        width: 70%;
        font-family: "Roboto Slab", serif;
        font-weight: 300;
        @include breakpoint("max-width: 1280px") {
          width: 100%;
        }
      }
      p{
        color: #777777;
        font-weight: 300;
      }
      .more{
        margin-bottom: 50px;
      }
      .like{
        display: inline-block;
        width: 50%;
        float: left;
        text-align: left;
        margin: 0;
        @include breakpoint("max-width: 1024px") {
          font-size: 30px;
        }
        img{
          width: 20px;
          vertical-align: sub;
          @include breakpoint("max-width: 1024px") {
            width: 35px;
            vertical-align: middle;
          }
        }
      }
      .like:last-child{
        text-align: right;
      }

    }
  }
}