.initiatives-forma{
  width: 49%;
  border: solid 1px #777777;
  margin: 60px auto;
  padding: 70px 50px;
  @include breakpoint("max-width: 1280px") {
    padding: 50px 30px;
  }
  @include breakpoint("max-width: 1024px") {
    padding:  50px 5.7%;
    border: none;
    border-top: solid 1px #777777;
    border-bottom: solid 1px #777777;
    width: 100%;
    margin-bottom: 150px;
  }
  input,textarea{
    width: 95%;
    background: #2d2d2d;
    border: none;
    margin-bottom: 10px;
  }
  input{
    @include breakpoint("max-width: 1024px"){
      width: 50%;
    }
  }
  textarea{
    height: 150px;
    @include breakpoint("max-width: 1680px") {
      height: 120px;
    }
    @include breakpoint("max-width: 1280px") {
     height: 100px;
    }
    @include breakpoint("max-width: 1024px"){
      height: 170px;
      width: 100%;
    }
  }
  .block__text{
    font-size: 14px;
    width: 90%;
    line-height: 18px;
    padding-bottom: 10px;
    @include breakpoint("max-width: 1680px") {
      font-size: 11px;
    }
    @include breakpoint("max-width: 1280px") {
      font-size: 10px;
      line-height: 16px;
    }
    @include breakpoint("max-width: 1024px") {
      font-size: 20px;
    }
  }
}