.initiatives{
  .mobile{
    display: none;
    @include breakpoint("max-width: 1024px") {
      display: block;
      .news-left__banner{
        margin-top: 40px;
      }
    }
  }
  .desctop{
    @include breakpoint("max-width: 1024px") {
      display: none;
    }
  }
  .initiatives-left{
    padding: 0;
    @include breakpoint("max-width: 1024px") {
      display: none;
    }
  }
  .initiatives-right{
    padding-right: 35px;
    font-size: 18px;
    @include breakpoint("max-width: 1680px") {
      font-size: 16px;
    }
    @include breakpoint("max-width: 1280px") {
      font-size: 14px;
    }
    @include breakpoint("max-width: 1024px") {
      font-size: 30px;
      padding: 0;
    }
    .initiatives-context{
      padding: 60px 110px;
      background: #303030;
      margin-bottom: 115px;
      position: relative;
      @include breakpoint("max-width: 1024px") {
        padding: 30px 20px;
        margin-top: 125px;
      }
      .block__title{
        text-align: center;
        @include breakpoint("max-width: 1280px") {
          line-height: 45px;
          margin-top: 0;
        }
      }
      p{
        color: #777777;
        font-weight: 300;
        line-height: 25px;
        @include breakpoint("max-width: 1280px") {
          line-height: 18px;
        }
        @include breakpoint("max-width: 1024px") {
          line-height: 36px;
        }
        span{
          display: inline-block;
          color: #777777;
          font-family: "Roboto Slab";
          font-weight: 400;
        }
      }
      span{
        color: #777777;
        font-family: "Roboto Slab";
        font-weight: 400;
      }
      .people-like{
        display: none;
        position: absolute;
        background: url(../images/black-menu/people-like.png) no-repeat;
        background-size: cover;
        padding: 30px;
        overflow-y: scroll;
        top: 9.5%;
        left: 53%;
        height: 380px;
        width: 225px;
        font-size: 14px;
        color: #777777;
        @include breakpoint("max-width: 1680px") {
          top: 7.5%;
        }
        @include breakpoint("max-width: 1480px") {
          top: 7%;
          left: 54%;
        }
        @include breakpoint("max-width: 1280px") {
          top: 7.5%;
          left: 54%;
        }
        @include breakpoint("max-width: 1024px") {
          font-size: 20px;
          top: 5%;
          left: 59%;
        }
        &::-webkit-scrollbar{
          background: transparent;
          width: 5px;
        }
        &::-webkit-scrollbar-thumb{
          background: #777777;
          border-radius: 3px;
          padding-right: 5px;
        }
        ul{
          padding: 0;
          display: block;
        }
        li{
          list-style: none;
        }
      }
    }

  }
}