section.analitic
    .container
        .analitic__pic
            img(src="./images/logo-analitic.png" alt="")
        span.block__title.analitic__title Аналитика
        .analitic__description
            p.
                Анализ выбранной строительной площадки необходим<br>
                для принятия итогового инвестиционного<br>
                и правильного решения.