section.analitic-paper
    .container
        span.block__title.analitic-paper__title Аналитические статьи
        ul
            -for(var i = 0; i < 4; i++)
                li.clearfix
                    span.analitic-paper__date 22.12.2017
                    a(href="#").
                        Интервью с Бургановым Рунаром, и.о. руководителя управления ипотечного кредитования инвестиционно
                                             девелоперского холдинга "Главстрой Девелопмент" с Бургановым Рунаром

