section.union
    .container
        .union__logo
            img(src="./images/icons/logo-vg.png" alt="")
        span.block__title.union__m-title Стань участником
        span.block__title.union__title Объединение ВоенГарант
        span.union__under-title.
            В интересах военнослужащих<br>
            и членов их семей
        .union-present
            .union-present__field
                .union-present__pic
                    img(src="./images/icons/icon-shield.png" alt="")
                ul.union-present__list
                    li - Скидки по военной ипотеке
                    li - Помощь в выборе застройщиков и объектов
                    li - Юридические консультации
                    li - Помощь в сложных ситуациях
            .union-present__field
                .union-present__pic
                    img(src="./images/icons/icon-medal.png" alt="")
                ul.union-present__list
                    li - Более 40 000 участников объединения
                    li - Сэкономлено 1 000 000 000 рублей гос средств
                    li - Более 10 000 военнослужащих приобрели квартиры
