section.build-title
    .container
        img(src='../images/icons/builder-logo.png' alt="").build-title__img
        +locate-label("label_builders","Москва")
        .block__title Скидки от 100 000 р
        .block__text Строительство и продажа жилых и коммерческих помещений, парковочных мест.  Описания проектов с визуализацией объектов и ходом строительства. Каталог квартир  с ценами и планировками. Онлайн - бронирование.  Мортон входит в Группу «Бин», включающую активы целого ряда отраслей: нефтяные и угольные холдинги, торговые центры, гостиницы, строительные компании,, исполнению жилых районов с единой концепцией «лучшее со всего мира».
        .build-title__status
            img(src='../images/icons/builder-status.png' alt="")
            span Подтвердил участие в общественном контроле
    .reiting.container
        include ../_rate-graph
