section.build-credit
    .container
        .block__title Акредитация банками
        .block__text Узнайте больше о банках, которые дают аккредитацию нашим объектам!<br>А так же озастройщих с которыми они сотрудничают
        a(href="#").more Сравнительная таблица
        include ../home/_bank_block