section.object.object_double
    .container
        .row
            .col-md-6._indent
                a(href="#" style="background: url(./images/icons/object3.png) 100% no-repeat; background-size:cover").object__context__block
                    .object__context__block__info
                        span Железнодорожный
                        span.title ЖК Столичный
                        .object__context__block__info__text
                            .info
                                .img
                                    img(src="./images/icons/object-icon2.png")
                                span Мортон <br> от <b> 3 345 522 </b>р.
            .col-md-6._indent
                a(href="#" style="background: url(./images/icons/object3.png) 100% no-repeat; background-size:cover").object__context__block
                    .object__context__block__info
                        span Люберцы
                        span.title ЖК Люберцы 2017
                        .object__context__block__info__text
                            .info
                                .img
                                    img(src="./images/icons/object-icon4.png")
                                span Самолет девелопмент<br>от<b> 1 950 000 </b>р.
                            .info
                                .img
                                    img(src="./images/icons/object-icon3.png")
                                span Скидка <br> до<b> 50 000</b> р.
                    .sale Скидка застройщика 10%

