section.build-control
    .container
        form.build-control__form
            .block__title Принять участие в контроле
            .block__text В рамках метода «Общественный контроль» заключены соглашения с ведущими строительными компания о поддержке данного проекта, готовности взаимодействовать с военнослужащими по программе «Военная ипотека» и идти навстречу для урегулирования возникающих проблем.
            .build-control__form__context
                label.label-form Имя
                input.input-form
            .build-control__form__context
                label.label-form  Темы
                select.select-form
                    option Выберите тему
            .build-control__form__context
                label.label-form  E - mail
                input.input-form
            .build-control__form__context
                label.label-form  Регион
                input.input-form
            .build-control__form__context
                label.label-form  Телефон
                input.input-form
            .build-control__form__context
                label.label-form  Застройщик
                input.input-form
            label.label-form Сообщение
            textarea(rows='1').textarea-form
            button(type="submit").send Рассчитать
        .build-control__text
            img(src="../images/icons/builder-control.png" alt='').build-control__img
            .block__title Общественный контроль
            .block__text МОО УНИС разработал метод общественного контроля за строительными компаниями. Военнослужащие, купившие жилье в строящихся домах, смогут подавать жалобы на деятельность компаний-застройщиков по допускаемым нарушениям 214-ФЗ, несоблюдения ими технических норм, срывов сроков сдачи домов и др. Через данный раздел жалобы военнослужащих аккумулируются и доводятся до компаний-застройщиков для урегулирования возникших проблем. Данная система позволяет быстро реагировать на жалобы военнослужащих, оперативно доводить возникшие проблемы до строительных компаний и решать возникающие проблемы в кратчайшие сроки. При отсутствии обратной связи со стороны строительной компании сведения о нарушениях направляются в ФГКУ «Росвоенипотека» и Аппарат Президента.
            .block_mob
                img(src="../images/icons/builder-control.png" alt='')
                button(type="submit").send Принять участие в контроле
