section.build-consultant
    .container.row
        include ../_map_block
        .lg-block.col-md-5.col-lg-5
            include ../question-lawyer/_forma
    .xs-block
        include ../question-lawyer/_forma
        //.build-consultant__context
            .block__title Получить консультацию
            .block__text Оставляя заявку до обращения к застройщику вы становитесь участником скидочной программы. Наш специалист свяжется с вами.  Мы также принимаем звонки на номер
                span 8-800-500-56-87.
            label.label-form  Имя
            input.input-form
            label.label-form  Телефон
            input.input-form
            label.label-form  Сообщение
            textarea(rows='5').textarea-form
            button(type="submit").send Отправить
            a(href="#").politic Политика конфиденциальности