section.build-consultant
    .container.row
        include ../_map_block
        .build-consultant__context
            .block__title Получить консультацию
            .block__text Оставляя заявку до обращения к застройщику вы становитесь участником скидочной программы. Наш специалист свяжется с вами.  Мы также принимаем звонки на номер
                span 8-800-500-56-87.
            label Имя
            input
            label Телефон
            input
            label Сообщение
            textarea(rows='5')
            button(type="submit").send Отправить
            a(href="#").politic Политика конфиденциальности