section.new-right.col-md-10
    img(src="../images/black-menu/new.png" alt="")
    .new-right__context
        .new-right__context__action Акция
        .new-right__context__date 21.03.17
        .new-right__context__sale Акция
        .block__title Переезд ради учебы: как репутация школ влияет на стоимость жилья
        p.
                    Добрый день! Хочу сказать, когда прочитал на сайте о программе ВИ, как все с покупкой квартиры  гладко и красиво -  поначалу даже не верилось.  Хочу сказать, когда ..При самостоятельном действии в рамках оформления ипотеки для действующих военнослужащих человек начинает с того, что:
                    Подаёт рапорт о внесении своих данных в реестр НИС. Через три года подаёт рапорт (в штаб части) на получение Свидетельства, которое даёт право на выдачу целевого жилищного займа. Получает Свидетельство. Выбирает из продажи готовых или строящихся квартир для военных (частные дома, жилые комплексы, вторичное жильё и пр.), выбирает банк, где уточняет условия предоставления займа. Оформляет и подписывает договора с банком, МО, продавцом недвижимости согласно Закону об ипотеке. Получает свидетельство о праве собственности. Приведённая <a> инструкция </a> не позволяет купить квартиру по военной ипотеке со скидкой, так как не учитывает конъюнктурную ситуацию на рынке аккредитованных домов, игнорирует выгодные предложения застройщиков. Из множества вариантов наш сайт военной ипотеки поможет найти тот, что действительно отвечает Вашим требованиям с минимально доступной ценой и сопутствующими скидками.
        .block__title НИС: жилье военнослужащим
        p.
             При самостоятельном действии в рамках оформления ипотеки для действующих военнослужащих человек начинает с того, что:
             Подаёт рапорт о внесении своих данных в реестр НИС. Через три года подаёт рапорт (в штаб части) на получение Свидетельства, которое даёт право на выдачу целевого жилищного займа. Получает <a>Свидетельство</a>. Выбирает из продажи готовых или строящихся квартир для военных (частные дома, жилые комплексы, вторичное жильё и пр.), выбирает банк, где уточняет условия предоставления займа. Оформляет и подписывает договора с банком, МО, продавцом недвижимости согласно Закону об ипотеке.
             Получает свидетельство о праве собственности. Приведённая инструкция не позволяет купить квартиру по военной ипотеке со скидкой, так как не учитывает конъюнктурную ситуацию на рынке аккредитованных домов, игнорирует выгодные предложения застройщиков. Из множества вариантов наш сайт военной ипотеки поможет найти тот, что действительно отвечает Вашим требованиям с минимально доступной ценой и сопутствующими скидками. Добрый день! Хочу сказать, когда прочитал на сайте о программе ВИ, как все с покупкой квартиры  гладко и красиво -  поначалу даже не верилось.  Хочу сказать, когда ..При самостоятельном действии в рамках оформления ипотеки для действующих военнослужащих человек начинает с того, что:
             Подаёт рапорт о внесении своих данных в реестр НИС. Через три года подаёт рапорт (в штаб части) на получение Свидетельства, которое даёт право на выдачу целевого жилищного займа. Получает Свидетельство. Выбирает из продажи готовых или строящихся квартир для военных (частные дома, жилые комплексы, вторичное жильё и пр.), выбирает банк, где уточняет условия предоставления займа.<a> Оформляет и подписывает договора с банком, МО </a>, продавцом недвижимости согласно Закону об ипотеке. Получает свидетельство о праве собственности. Приведённая инструкция не позволяет купить квартиру по военной ипотеке со скидкой, так как не учитывает конъюнктурную ситуацию на рынке аккредитованных домов, игнорирует выгодные предложения застройщиков. Из множества вариантов наш сайт военной ипотеки поможет найти тот, что действительно отвечает Вашим требованиям с минимально доступной ценой и сопутствующими скидками.
        p.
         При самостоятельном действии в рамках оформления ипотеки для действующих военнослужащих человек начинает с того, что:
         Подаёт рапорт о внесении своих данных в реестр НИС. Через три года подаёт рапорт (в штаб части) на получение Свидетельства, которое даёт право на выдачу целевого жилищного займа. Получает Свидетельство. Выбирает из продажи готовых или строящихся квартир для военных (частные дома, жилые комплексы, вторичное жильё и пр.), выбирает банк, где уточняет условия предоставления займа. Оформляет и подписывает договора с банком, МО, продавцом недвижимости согласно Закону об ипотеке.
         Получает свидетельство о праве собственности. Приведённая инструкция не позволяет купить квартиру по военной ипотеке со скидкой, так как не учитывает конъюнктурную ситуацию на рынке аккредитованных домов, игнорирует выгодные предложения застройщиков. Из множества вариантов наш сайт военной ипотеки поможет найти тот, что действительно отвечает Вашим требованиям с минимально доступной ценой и сопутствующими скидками. Добрый день! Хочу сказать, когда прочитал на сайте о программе ВИ
        a(href="#").more.back  Назад
    .new-right__form
        .block__title Учавствовать в акции
        .block__text.
            Зарегистируйтесь в личном кабинете чтобы предложить новость и отследить, когда будет закончена её модернизация.
            После того, как предложенная новость пройдет проверку, она будет опубликована в общей ленте.
        label.label-form Имя
        input.input-form
        label.label-form Телефон
        input.input-form
        label.label-form Сообщение
        textarea.textarea-form
        button(type="submit").send Отправить
        a(href="#").politic Политика конфиденциальности