.news-ipoteka
    img(src="../images/black-menu/news-ipoteka.png" alt="")
    .block__title Новости по военной ипотеке
    .block__text Добавляйте статьи о сотрудничестве с застрощиками, про объекты  и о работе ВоенГаранта в целом и получайте за это бонусы, которые можно обменять на реальные деньги или призы!
    a
        .news-suppot
            a(href="#").suppot +
            span Предложить новости