.news-context
    .news-context__image
        img(src="../images/black-menu/news-context.png" alt='')
    .news-context__block
        .news-context__block_type Законодательство
        .news-context__block_date 21.03.17
        .news-context__block_name Переезд ради учебы: как репутация школ влияет на стоимость жилья
        .news-context__block_text Добрый день! Хочу сказать, когда прочитал на сайте о программе ВИ, как все с покупкой квартиры  гладко и красиво -  поначалу даже не верилось.  Хочу сказать, когда ...
        a(href="#").more Подробнее
        .news-context__block__tab-fix Новость закреплена
.news-context
    .news-context__image
        img(src="../images/black-menu/news-context.png" alt='')
    .news-context__block
        .news-context__block_type ПИК
        .news-context__block_date 21.03.17
        .news-context__block_name Переезд ради учебы: как репутация школ влияет на стоимость жилья
        .news-context__block_text Добрый день! Хочу сказать, когда прочитал на сайте о программе ВИ, как все с покупкой квартиры  гладко и красиво -  поначалу даже не верилось.  Хочу сказать, когда ...
        a(href="#").more Подробнее
.news-context
    .news-context__image
        img(src="../images/black-menu/news-context.png" alt='')
    .news-context__block
        .news-context__block_type ПИК
        .news-context__block_date 21.03.17
        .news-context__block_name Переезд ради учебы: как репутация школ влияет на стоимость жилья
        .news-context__block_text Добрый день! Хочу сказать, когда прочитал на сайте о программе ВИ, как все с покупкой квартиры  гладко и красиво -  поначалу даже не верилось.  Хочу сказать, когда ...
        a(href="#").more Подробнее
        .news-context__block__tab-pik ПИК
