section.new-object
    .container
        .block__title Новостройки по военной ипотеке
        .block__text Покупайте квартиры в Москве и Москвоской области по военной ипотеке, на лучших условия от самых надежных застрощиков!
        a(href="").more Все объекты