section.news-left.col-md-2
    nav
        ul
            - var TopList = ['Все', 'ПИК', 'Акции', 'ВоенГарант ', 'Банки', 'Законодательство', 'Политика','Общие']
                for item in TopList
                    li
                        a(href='#')= item
    .news-left__banner
        .block__title Больше преимуществ!
        .block__text Сотрудничай с ВоенГрант и получай специальные условия!
        button(type="submit").btn.btn-primary  Зарегистироваться

