.news-form
    .block__title Предложить новость
    .block__text Зарегистируйтесь в личном кабинете чтобы предложить новость и отследить, когда будет закончена её модернизация.После того, как предложенная новость пройдет проверку, она будет опубликована в общей ленте.
    form
        label.label-form Тема
        input.input-form
        label.label-form Название новости
        input.input-form
        label.label-form Текст
        textarea.textarea-form
        .tab
            button
            span Загрузить файл
        button(type="submit").send Отправить
        span.politic Политика конфиденциальности