.block__title Обратная связь
span.
    Оставляя заявку до обращения к застройщику вы становитесь
    участником скидочной программы. Наш специалист свяжется
    с вами.  Мы также принимаем звонки на номер <span class="number"> 8-800-500-56-87.</span>
form
    label.label-form Имя
    input.input-form
    label.label-form Телефон
    input.input-form
    label.label-form Сообщение
    textarea.textarea-form
    button(type="submit").send Отправить
    a(href="#").politic Политика конфиденциальности