section.contact__block
    .contact__block__title Контакты
    .block__title Ассоциация “ВоенГарант”
    .block__text При обращении в Военгарант военнослужащим предоставляются скидки и специальные условия по военной ипотеке от партнёрских агенств недвижимости.
    .contact__block__context.row
        .col-lg-6
            span.span-block ООО "Военгарант"
            span.color ИНН
            span 7719426680
            label Адрес:
            span.span-block 105043, г. Москва, ул. Заводской проезд, д. 23, пом. 2
            label Телефоны:
            span.span-block 8 800 500 43 44 (звонок бесплатный)
            span 8 495 150 31 71
            .contact__block__context__social
                img(src="../images/black-menu/contact-viber.png")
                img(src="../images/black-menu/contact-skype.png")
                img(src="../images/black-menu/contact-wa.png")
            span.color  Вы так же можете связаться с нами в соц сетях:
            .contact__block__context__social
                img(src="../images/black-menu/contact-vk.png")
                img(src="../images/black-menu/contact-face.png")
                img(src="../images/black-menu/contact-ok.png")
            .contact__block__context__map.desctop
        .col-lg-6.contact__block__context__form.desctop
            include _contact-form
