@import "utils/variables";

//bootstrap
@import "bootstrap";


//main
@import "utils/_main";
@import "layout/_header";
//all
@import "layout/dicsount";
@import "layout/developers";
@import "layout/special";
@import "layout/map";
//object
@import "layout/object";
//home
@import "layout/home/_top-slider";
//about project
@import "layout/_aboutProject";
//dependents
@import "layout/_dependents";
//news
@import "layout/_news";
//social
@import "layout/_analitic";
//social
@import "layout/_social";
//reviews
@import "layout/_reviews";
//seo
@import "layout/_seo";
//bank
@import "layout/_bank";
//footer
@import "layout/_footer";


//object
@import "layout/object/_common";
//bread-crumbs
@import "layout/_bread-crumbs";
//sale-image
@import "layout/object/_sale-image";
//remote-transaction
@import "layout/object/_remote-transaction";
//message--top-rated-developers
@import "layout/object/_top-rated-developers";
//layouts-and-prices
@import "layout/object/_layouts-and-prices";
//map
@import "layout/object/_map";
//details
@import "layout/object/_details";
//attraction
@import "layout/object/_attraction";
//infrastructure
@import "layout/object/_infrastructure";
//what is beside
@import "layout/object/_beside";
//contact
@import "layout/object/_contact";
//video
@import "layout/object/_video";

