section.bank-programs
    .container
        .bank-programs__desktop
            .bank-programs__program
                .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.row-none
                        .col-lg-4.col-md-4.col-sm-4.col-xs-4
                            span.bank-programs__title Программа
                            span.bank-programs__name.
                                Первичный рынок<br>
                                недвижомости. Акция<br> “Ипотека без строховки”
                        .col-lg-8.col-md-8
                            ul.bank-programs__list.clearfix
                                -for(var i  = 0; i  < 5; i++)
                                    li
                                        span.bank-programs__title Процентная ставка
                                        span.bank-programs__name от 1 года<br> до 3 лет
            .bank-programs__program
                .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12.row-none
                        .col-lg-4.col-md-4.col-sm-4.col-xs-4
                            span.bank-programs__title Программа
                            span.bank-programs__name.
                                Первичный рынок<br>
                                недвижомости +
                        .col-lg-8.col-md-8
                            ul.bank-programs__list.clearfix
                                -for(var i  = 0; i  < 5; i++)
                                    li
                                        span.bank-programs__title Процентная ставка
                                        span.bank-programs__name от 1 года<br> до 3 лет
        .bank-programs__mobile
            .swiper-container#bank-programs
                .swiper-wrapper
                    .swiper-slide
                        .bank-programs__program
                            .bank-programs__inner
                                .row
                                        .col-sm-12.col-xs-12
                                            span.bank-programs__title Программа
                                            span.bank-programs__name.
                                                Первичный рынок<br>
                                                недвижомости. Акция<br> “Ипотека без строховки”
                                .row
                                        .col-sm-12.col-xs-12
                                                ul.bank-programs__list.clearfix
                                                    -for(var i  = 0; i  < 5; i++)
                                                        li
                                                            span.bank-programs__title Процентная ставка
                                                            span.bank-programs__name от 1 года<br> до 3 лет
                    .swiper-slide
                        .bank-programs__program
                            .bank-programs__inner
                                .row
                                        .col-sm-12.col-xs-12
                                            span.bank-programs__title Программа
                                            span.bank-programs__name.
                                                Первичный рынок<br>
                                                недвижомости. Акция<br> “Ипотека без строховки”
                                .row
                                        .col-sm-12.col-xs-12
                                                ul.bank-programs__list.clearfix
                                                    -for(var i  = 0; i  < 5; i++)
                                                        li
                                                            span.bank-programs__title Процентная ставка
                                                            span.bank-programs__name от 1 года<br> до 3 лет


