.attraction {
  margin: 87px 0 111px 0;
  overflow: hidden;
  @include breakpoint("max-width: 950px") {
    margin: 230px 0 222px 0;
  }
  .title {
    @include text($titleFontFamily, #333333, block, 36px, 40px, normal);
    margin: 0 0 17px 0;
    @include breakpoint("max-width: 1025px") {
      @include text($titleFontFamily, #333333, block, 45px, 50px, 300);
      margin: 0 0 24px 0;
    }
  }
  .context {
    @include text($mainFontFamily, #777777, block, 18px, 20px, normal);
    margin: 0 0 26px 0;
    @include breakpoint("max-width: 1025px") {
      @include text($mainFontFamily, #777777, block, 30px, 35px, 100);
      margin: 0 0 78px 0;
      br {
        display: none;
      }
    }
  }
  #pic {
    height: auto;
    ul {
      border-bottom: 1px solid #c8d4df;
      width: 100%;
      list-style: none;
      z-index: 999;
      position: relative;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        padding: 0 4.1667%;
        a {
          display: block;
          padding-top: 33px;
          padding-bottom: 18px;
          text-decoration: none;
          span {
            font-family: $mainFontFamily;
            font-size: 16px;
            color: #f5f5f5;
          }
        }
      }
    }
    .ui-tabs-active {
      box-sizing: border-box;
      border-bottom: 2px solid #ffffff;
      a, a:focus, a:active, a:hover {
        text-decoration: none;
        span {
          font-weight: 600;
        }
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    z-index: 1;
    margin-top: -74px;
  }
  .img {
    width: 100%;
    height: 457px;
    margin-top: -74px;
    background-color: #00b3ee;
  }
  #pic-1 .img {
    background-color: #00b3ee;
  }
  #pic-2 .img {
    background-color: #ee590c;
  }
  #pic-3 .img {
    background-color: #ee57c4;
  }
}