.details {
  .list {
    list-style: none;
    margin: 0 auto 59px auto;
    padding: 0 !important;
    border-bottom: 1px solid #919191;
    @include breakpoint("max-width: 1024px") {
      border-bottom: none;
      margin: 0 auto 59px auto;
    }
    .col-md-4 {
      @include breakpoint("max-width: 1200px") {
        width: 25%;
      }
      @include breakpoint("max-width: 1024px") {
        width: 33.333%;
      }
    }
    .col-md-8 {
      @include breakpoint("max-width: 1200px") {
        width: 25%;
      }
      @include breakpoint("max-width: 1024px") {
        width: 66.6667%;
      }
    }
    .col-md-3 {
      @include breakpoint("max-width: 1200px") {
        width: 25%;
      }
      @include breakpoint("max-width: 1024px") {
        width: 25%;
      }
    }
    .col-md-9 {
      @include breakpoint("max-width: 1200px") {
        width: 25%;
      }
      @include breakpoint("max-width: 1024px") {
        width: 75%;
      }
    }
    .item {
      box-sizing: border-box;
      @include breakpoint("max-width: 1024px") {
        border-bottom: 1px solid #919191;
      }
      &:first-child, &:nth-child(3) {
        @include breakpoint("max-width: 1024px") {
          padding-left: 0;
          text-align: left;
        }
      }
      &:nth-child(2n) {
        @include breakpoint("max-width: 1024px") {
          padding-right: 0;
          text-align: right;
        }
      }
      &:nth-child(3), &:nth-child(4) {
        .main-link {
          @include breakpoint("max-width: 1024px") {
            padding-top: 58px;
          }
        }
      }
      .main-link {
        text-decoration: none;
        padding: 0 0 24px 0;
        box-sizing: border-box;
        @include text($mainFontFamily, #777777, block, 18px, 18px, 100);
        @include breakpoint("max-width: 1500px") {
          font-size: 16px;
        }
        @include breakpoint("max-width: 1200px") {
          font-size: 14px;
        }
        @include breakpoint("max-width: 1080px") {
          font-size: 13px;
        }
        @include breakpoint("max-width: 1024px") {
          font-size: 35px;
          font-weight: 300;
          padding: 0 0 15px 0;
          line-height: 41px;
        }
        &:hover {
          text-decoration: none;
        }
        .image {
          padding: 0 (8px / $container * 100%) 0 0;
          @include breakpoint("max-width: 1024px") {
            display: none;
            padding: 0;
          }
        }
      }
    }
    .ui-tabs-active {
      box-sizing: border-box;
      border-bottom: 4px solid #191919;
      @include breakpoint("max-width: 1025px") {
        border-bottom: 1px solid #919191;
      }
      .main-link, .main-link:focus, .main-link:active, .main-link:hover {
        outline: none;
        color: #333333;
        font-weight: 600;
        text-decoration: none;
        box-sizing: border-box;
        @include breakpoint("max-width: 1025px") {
          font-size: 35px;
          line-height: 37px;
          border-bottom: 4px solid #191919;
        }
        @include breakpoint("max-width: 850px") {
          line-height: 37px;
        }
      }
    }
  }
  #tabs-1 {
    ul{
      padding: 0;
      margin: 0 ( -4.90566% / 2) 0 ( -4.90566% / 2);
      overflow: hidden;
    }
    li{
      display: inline-block;
      padding: 0 (2.641509% / 2);
      width: 16%;
      text-align: center;
      @include breakpoint("max-width: 1024px"){
        width: ($container / 3/ $container * 100%);
      }
      @include breakpoint("max-width: 1024px"){
        margin-bottom: 50px;
      }
      span{
        display: inline-block;
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        padding-top: 15px;
        @include breakpoint("max-width: 1680px"){
          font-size: 16px;
        }
        @include breakpoint("max-width: 1024px"){
          font-size: 20px;
          color: #777777;
        }
      }
      span:last-child{
        font-size: 14px;
        font-weight: 300;
        @include breakpoint("max-width: 1680px"){
          font-size: 12px;
        }
        @include breakpoint("max-width: 1024px"){
          display: none;
        }
      }
    }
    li:hover, li:focus{
      img{
        @include ungrayscale;
      }
      span:nth-child(2){
        color: #0e386f;
      }
    }
    img{
      width: 85%;
      height: 100%;
      @include grayscale;
      @include breakpoint("max-width: 1024px"){
        width: 80%;
      }
    }
  }
}
