.layouts-and-prices {
  margin: 84px 0 0 0;
  @include breakpoint("max-width: 1024px") {
    margin: 140px 0 0 0;
    br {
     display: none;
    }
  }
}
.layouts-and-prices .title {
  @include text($titleFontFamily, #333333, block, 36px, 42px, 300);
  margin: 0 0 22px 0;
  @include breakpoint("max-width: 1024px") {
    @include text($titleFontFamily, #333333, block, 45px, 50px, 400);
  }
}
.layouts-and-prices .context {
  @include text($mainFontFamily, #777777, block, 18px, 20px, 100);
  margin: 0 0 52px 0;
  @include breakpoint("max-width: 1024px") {
    @include text($mainFontFamily, #777777, block, 25px, 30px, 100);
  }
}
.layouts-and-prices .table {
  display: table;
  width: (1140px / $container * 100%);
  border-collapse: collapse;
  margin: 0 auto 42px auto;
  @include breakpoint("max-width: 1024px") {
    display: none;
  }
}
.layouts-and-prices .kind, .layouts-and-prices .content {
  display: table-row;
}
.layouts-and-prices .kind-name {
  padding: 0 0 8px 0;
  @include text($mainFontFamily, #333333, table-cell, 18px, 18px, 600);
  @include breakpoint("max-width: 1024px") {
    @include text($mainFontFamily, #333333, block, 35px, 38px, 600);
  }
}
.layouts-and-prices .column {
  border-right: 1px solid #e4e4e4;
  padding: 12px 0 11px 0;
  &:last-child {
    border-right: none;
  }
  @include text($mainFontFamily, #333333, table-cell, 18px, 18px, 600);
  @include breakpoint("max-width: 1024px") {
    @include text($mainFontFamily, #333333, block, 35px, 38px, 400);
    padding: 0;
    margin: 0 0 12px 0;
  }
}
.layouts-and-prices .layouts, .layouts-and-prices .price {
  @include text($mainFontFamily, #333333, block, 18px, 18px, 100);
  @include breakpoint("max-width: 1150px") {
    @include text($mainFontFamily, #333333, block, 16px, 17px, 100);
  }
  @include breakpoint("max-width: 1024px") {
    @include text($mainFontFamily, #333333, block, 35px, 27px, 100);
  }
}
.layouts-and-prices .xs-table {
  margin: 0 0 66px 0;
  @include breakpoint("min-width: 1025px") {
    display: none;
  }
  .layouts {
    margin: 0 0 19px 0;
  }
  .price {
    margin: 0 0 81px 0;
  }
  .row:last-child .price {
    margin: 0;
  }
}
.layouts-and-prices .apartment-layouts {
  margin: 0 0 68px 0;
  @include breakpoint("max-width: 1024px") {
    margin: 0 0 122px 0;
  }
  a {
    display: inline-block;
    text-decoration: none;
    opacity: .9;
    &:hover {
      opacity: 1;
    }
    img {
      @include breakpoint("min-width: 1025px") {
        max-height: 31px;
      }
      @include breakpoint("max-width: 1024px") {
        width: 73px;
        height: 73px !important;
        margin: 0 0 20px 0;
      }
    }
    span {
      margin: 10px 0 0 0;
      @include text($mainFontFamily, #309bf7, block, 18px, 20px, 100);
      @include breakpoint("max-width: 1150px") {
        @include text($mainFontFamily, #309bf7, block, 16px, 28px, 100);
      }
      @include breakpoint("max-width: 1024px") {
        @include text($mainFontFamily, #309bf7, block, 35px, 35px, 100);
      }
    }
  }
}
.open-layouts {
  overflow: hidden;
  &__block {
    position: relative;
  }
  &__line {
    margin: 0 0 50px 0;
    &:last-child {
      margin: 0;
      @include breakpoint("max-width: 1024px") {
        margin: 0 0 50px 0;
      }
    }
  }
  &__name {
    @include text($mainFontFamily, #333333, block, 18px, 22px, normal);
    margin: 0 0 13px 0;
    @include breakpoint("max-width: 1024px") {
      @include text($mainFontFamily, #333333, block, 35px, 30px, normal);
      margin: 0 0 20px 0;
    }
  }
  .swiper-button-prev {
    background-image: url("../images/object/button-prev.png");
    background-position: left center;
    width: (110px / $container * 100%);
    height: 100%;
    background-size: contain;
    top: 0;
    margin: 0 !important;
    @include breakpoint("max-width: 1024px") {
      display: none;
    }
  }
  .swiper-button-next {
    background-image: url("../images/object/button-next.png");
    background-position: right center;
    width: (110px / $container * 100%);
    height: 100%;
    background-size: contain;
    top: 0;
    margin: 0 !important;
    @include breakpoint("max-width: 1024px") {
      display: none;
    }
  }
  .swiper-slide {
    width: (($container / 4) / $container * 100%) !important;
    height: 180px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .swiper-container {
    width: (1140px / $container * 100%);
    @include breakpoint("max-width: 1024px") {
      width: 100%;
    }
  }
}