.layouts-and-prices {
  margin: 84px 0 0 0;
  @include breakpoint("max-width: 1025px") {
    margin: 140px 0 0 0;
    br {
     display: none;
    }
  }
}
.layouts-and-prices .title {
  @include text($titleFontFamily, #333333, block, 36px, 42px, normal);
  margin: 0 0 22px 0;
  @include breakpoint("max-width: 1025px") {
    @include text($titleFontFamily, #333333, block, 45px, 50px, 400);
  }
}
.layouts-and-prices .context {
  @include text($mainFontFamily, #777777, block, 18px, 20px, normal);
  margin: 0 0 52px 0;
  @include breakpoint("max-width: 1025px") {
    @include text($mainFontFamily, #777777, block, 25px, 30px, 100);
  }
}
.layouts-and-prices .table {
  display: table;
  width: (1140px / $container * 100%);
  border-collapse: collapse;
  margin: 0 auto 42px auto;
  @include breakpoint("max-width: 1025px") {
    display: none;
  }
}
.layouts-and-prices .kind, .layouts-and-prices .content {
  display: table-row;
}
.layouts-and-prices .kind-name {
  padding: 0 0 8px 0;
  @include text($mainFontFamily, #333333, table-cell, 18px, 18px, 600);
  @include breakpoint("max-width: 1025px") {
    @include text($mainFontFamily, #333333, block, 35px, 38px, 600);
  }
}
.layouts-and-prices .column {
  border-right: 1px solid #e4e4e4;
  padding: 12px 0 11px 0;
  &:last-child {
    border-right: none;
  }
  @include text($mainFontFamily, #333333, table-cell, 18px, 18px, 600);
  @include breakpoint("max-width: 1025px") {
    @include text($mainFontFamily, #333333, block, 35px, 38px, 400);
    padding: 0;
    margin: 0 0 12px 0;
  }
}
.layouts-and-prices .layouts, .layouts-and-prices .price {
  @include text($mainFontFamily, #333333, block, 18px, 18px, normal);
  @include breakpoint("max-width: 1150px") {
    @include text($mainFontFamily, #333333, block, 16px, 17px, normal);
  }
  @include breakpoint("max-width: 1025px") {
    @include text($mainFontFamily, #333333, block, 35px, 27px, 100);
  }
}
.layouts-and-prices .xs-table {
  margin: 0 0 66px 0;
  @include breakpoint("min-width: 1026px") {
    display: none;
  }
  .layouts {
    margin: 0 0 19px 0;
  }
  .price {
    margin: 0 0 81px 0;
  }
  .row:last-child .price {
    margin: 0;
  }
}
.layouts-and-prices .apartment-layouts {
  margin: 0 0 68px 0;
  @include breakpoint("max-width: 1024px") {
    margin: 0 0 122px 0;
  }
  a {
    display: inline-block;
    width: (31px / $container * 100%);
    margin: 0 0 10px 0;
    opacity: .9;
    @include breakpoint("min-width: 1026px") {
      max-height: 31px;
    }
    @include breakpoint("max-width: 1025px") {
      width: 73px;
      height: 73px !important;
      margin: 0 0 20px 0;
    }
    &:hover {
      opacity: 1;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  span {
    @include text($mainFontFamily, #309bf7, block, 18px, 20px, normal);
    @include breakpoint("max-width: 1150px") {
      @include text($mainFontFamily, #309bf7, block, 16px, 28px, normal);
    }
    @include breakpoint("max-width: 1025px") {
      @include text($mainFontFamily, #309bf7, block, 35px, 35px, 100);
    }
  }
}