.layouts-and-prices {
  margin: 84px 0 0 0;
  @include breakpoint("max-width: 950px") {
    br {
      display: none;
    }
  }
  .title {
    font-family: $titleFontFamily;
    font-size: 36px;
    color: #333333;
    display: block;
    margin: 0 0 22px 0;
    @include breakpoint("max-width: 950px") {
      font-size: 45px;
      font-weight: 300;
      line-height: 50px;
    }
  }
  .context {
    font-family: $mainFontFamily;
    font-size: 18px;
    color: #777777;
    display: block;
    margin: 0 0 52px 0;
    @include breakpoint("max-width: 950px") {
      font-size: 25px;
      font-weight: 100;
    }
  }
  .table {
    display: table;
    width: (1140px / $container * 100%);
    border-collapse: collapse;
    margin: 0 auto 42px auto;
    @include breakpoint("max-width: 950px") {
      display: none;
    }
    .kind, .content {
      display: table-row;
    }
    .kind-name {
      font-family: $mainFontFamily;
      font-size: 18px;
      color: #333333;
      display: table-cell;
      font-weight: 600;
      padding: 0 0 8px 0;
    }
    .column {
      display: table-cell;
      border-right: 1px solid #e4e4e4;
      padding: 12px 0 11px 0;
      &:last-child {
        border-right: none;
      }
      .layouts, .price {
        display: block;
        font-family: $mainFontFamily;
        font-size: 18px;
        color: #333333;
        @include breakpoint("max-width: 1150px") {
          font-size: 16px;
        }
      }
    }
  }
  .xs-table {
    margin: 0 0 66px 0;
    @include breakpoint("min-width: 951px") {
      display: none;
    }
    .kind-name {
      font-family: $mainFontFamily;
      font-size: 35px;
      color: #333333;
      font-weight: 400;
      display: block;
      margin: 0 0 12px 0;
      line-height: 38px;
    }
    .layouts, .price {
      display: block;
      font-family: $mainFontFamily;
      font-size: 35px;
      color: #333333;
      font-weight: 100;
      line-height: 27px;
    }
    .layouts {
      margin: 0 0 19px 0;
    }
    .price {
      margin: 0 0 81px 0;
    }
    .row:last-child .price {
      margin: 0;
    }
  }
  .apartment-layouts {
    overflow: hidden;
    margin: 0 0 68px 0;
    @include breakpoint("max-width: 950px") {
      margin: 0 0 122px 0;
    }
    a {
      display: inline-block;
      width: (31px / $container * 100%);
      margin: 0 0 10px 0;
      opacity: .9;
      @include breakpoint("min-width: 951px") {
        max-height: 31px;
      }
      @include breakpoint("max-width: 950px") {
        width: 73px;
        height: 73px !important;
        margin: 0 0 20px 0;
      }
      &:hover {
        opacity: 1;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    span {
      display: block;
      font-family: $mainFontFamily;
      font-size: 18px;
      color: #309bf7;
      @include breakpoint("max-width: 1150px") {
        font-size: 16px;
      }
      @include breakpoint("max-width: 950px") {
        font-size: 35px;
        font-weight: 100;
        line-height: 35px;
      }
    }
  }
}