.object-map {
  overflow: hidden;
  margin: 0 0 87px 0;
  .col-md-7 {

  }
  .col-md-5 {
    .deleloper, .price, .value, .sale, .address, .distance, .form, .ending, .type, .project, .class {
      font-family: $mainFontFamily;
      font-size: 18px;
      color: #727272;
      display: block;
      margin: 0 0 9px 0;
      @include breakpoint("max-width: 1366px"){
        font-size: 17px;
      }
    }
    .deleloper-name, .price-name, .value-name, .sale-name, .address-name, .distance-name, .form-name, .ending-name, .type-name, .project-name, .class-name {
      font-family: $mainFontFamily;
      font-size: 18px;
      color: #333333;
      padding-left: 6px;
      @include breakpoint("max-width: 1366px"){
        font-size: 16px;
      }
    }
    .deleloper, .sale, .distance, .ending, .class {
      margin: 0 0 26px 0;
    }
    .sale-name {
      color: #309bf7;
    }
    a {
      display: inline-block;
      img {
        max-width: 25px;
        max-height: 26px;
      }
      span {
        display: inline-block;
        vertical-align: middle;
        font-family: $mainFontFamily;
        font-size: 18px;
        color: #777777;
        padding-left: 8px;
      }
    }
  }
}