.object__reviews {
  .block__discount {
    margin: 0;
  }
  .link {
    display: inline-block;
    text-decoration: none;
    opacity: .9;
    @include breakpoint("max-width: 1025px") {
      display: none;
    }
    img {
      width: 31px;
      height: 31px;
    }
    span {
      @include text($mainFontFamily, #309bf7, block, 18px, 20px, 100);
      padding: 10px 0 0 0;
    }
    &:hover {
      opacity: 1;
    }
  }
}