.object-main {
  overflow: hidden;
  margin: 4px 0 67px 0;
}
.round-border {
  margin: 0 auto 24px auto;
  width: 550px;
  height: 459px;
  background-image: url("../images/object/border.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @include breakpoint("max-width: 1024px") {
    display: none;
  }
  .round-image {
    width: 459px;
    height: 459px;
    border-radius: 100%;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }
}
.sale-information {
  .group-title {
    span {
      font-family: $titleFontFamily;
      font-size: 36px;
      color: #333333;
      display: inline-block;
      @include breakpoint("max-width: 1024px") {
        font-size: 60px;
        max-width: 90%;
      }
    }
    a {
      width: 16px;
      display: inline-block;
      height: 15px;
      margin-bottom: 18px;
      background-image: url("../images/icons/add-to-favorites.png");
      background-repeat: no-repeat;
      background-size: contain;
      @include breakpoint("max-width: 1024px") {
        width: 62px;
        height: 58px;
        margin-bottom: 31px;
        //background-size: contain;
      }
    }
  }
  .group-name {
    display: inline-block;
    vertical-align: middle;
    img {
      width: 21px;
      height: 22px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 0;
      @include breakpoint("max-width: 1024px") {
        width: 43px;
        height: 45px;
      }
    }
    span {
      font-family: $titleFontFamily;
      font-size: 18px;
      color: #333333;
      display: inline-block;
      vertical-align: middle;
      @include breakpoint("max-width: 1024px") {
        font-size: 30px;
      }
    }
  }
  .group-price {
    font-family: $titleFontFamily;
    color: #309bf7;
    font-size: 18px;
    display: block;
    @include breakpoint("max-width: 1024px") {
      font-size: 30px;
    }
  }
}
.object-table {
  overflow: hidden;
  margin: 40px 0 67px 0;
  @include breakpoint("max-width: 1024px") {
    margin: 76px 0 140px 0;
  }
}
.max-reiting-inscription {
  display: block;
  font-family: $mainFontFamily;
  font-size: 16px;
  color: #777777;
  margin: 0 0 48px 0;
  text-align: left;
  @include breakpoint("max-width: 1024px") {
    font-size: 20px;
    width: 100%;
  }
}
.no-reiting_background {
  background-image: url("../images/object/no-reiting_background.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  .no-reiting {
    filter: blur(5px);
  }
}
.object-message {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -203px;
  img {
    display: block;
    margin: 0 auto;
  }
  span {
    display: block;
    margin: 0 auto;
    font-family: $titleFontFamily;
    font-size: 18px;
    color: #333333;
  }
}

