.top-rated-developers {
  margin: 105px 0 0 0;
}
.top-rated-developers .row:last-child {
  position: relative;
}
.top-rated-developers .title {
  @include text($titleFontFamily, #333333, block, 18px, 23px, normal);
  margin: 0 0 23px 0;
  @include breakpoint("max-width: 1450px") {
    @include text($titleFontFamily, #333333, block, 16px, 21px, normal);
  }
  @include breakpoint("max-width: 1150px") {
    @include text($titleFontFamily, #333333, block, 15px, 21px, normal);
  }
  @include breakpoint("max-width: 1025px") {
    @include text($titleFontFamily, #333333, block, 45px, 50px, 300);
  }
}
.top-rated-developers .context {
  @include text($mainFontFamily, #777777, block, 14px, 16px, normal);
  margin: 0 0 24px 0;
  @include breakpoint("max-width: 1450px") {
    @include text($mainFontFamily, #777777, block, 13px, 16px, normal);
  }
  @include breakpoint("max-width: 1330px") {
    @include text($mainFontFamily, #777777, block, 12px, 15px, normal);
  }
  @include breakpoint("max-width: 1025px") {
    @include text($mainFontFamily, #777777, block, 30px, 35px, 100);
    margin: 0 0 41px 0;
  }
}
.top-rated-developers .button-block {
  overflow: hidden;
}
.top-rated-developers .button {
  width: 24.145%;
  margin: 0 0.475% 0 0;
  float: left;
  &:first-child {
    margin: 0 0.475% 0 1%;
  }
  &:last-child {
    margin: 0 1% 0 0;
  }
  a {
    display: block;
    opacity: .9;
    &:hover {
      opacity: 1;
    }
    img {
      max-width: 100%;
      max-height: 70px;
    }
  }
}
.top-rated-developers .close {
  position: absolute;
  top: 0;
  float: right;
  right: 20%;
  z-index: 99;
  width: (32px / $container * 100%);
  max-height: 32px;
  @include breakpoint("max-width: 1025px") {
    display: none;
  }
  a {
    display: block;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.top-rated-developers .xs-close {
  margin: 67px 0 20px 0;
  @include breakpoint("min-width: 1026px") {
    display: none;
  }
  a {
    display: inline-block;
    width: 48px;
    height: 48px;
    opacity: .9;
    &:hover {
      opacity: 1;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}