.townhouse-main-block
    .container.text-center
        span.block_title Таунхаусы
        span.block_subtitle По программе «Военная ипотека» можно купить квартиру в таунхаусе!
        span.block_context В соответствии с изменениями, внесенными в Федеральный закон от 20 августа 2004 г. № 117-ФЗ «О накопительно-ипотечной системе жилищного обеспечения военнослужащих», средства целевого жилищного займа (ЦЖЗ) могут быть использованы для приобретения жилого дома (части дома) и занятого им земельного участка.Под данные изменения подпадают в том числе и таунхаусы. Кроме того, ряд таунхаусов оформляются как квартиры, что исключает всяческие препятствия на пути их приобретения.
    .object.container
        include ../_object_block
