.all-list-banks {
  margin: 120px 0 185px 0;
  @include breakpoint("max-width: 1024px") {
    margin: 133px 0 150px 0;
  }
  .title {
    @include text($titleFontFamily, #333333, block, 36px, 30px, 300);
    margin: 0 0 31px 0;
    @include breakpoint("max-width: 1024px") {
      @include text($titleFontFamily, #333333, block, 45px, 50px, 300);
      margin: 0 0 51px 0;
    }
  }
  .context {
    @include text($mainFontFamily, #777777, block, 18px, 20px, 100);
    margin: 0 0 86px 0;
    @include breakpoint("max-width: 1024px") {
      @include text($mainFontFamily, #777777, block, 30px, 35px, 100);
      margin: 0 0 85px 0;
    }
  }
  .bank-block {
    margin: 0 0 80px 0;
    @include breakpoint("max-width: 1024px") {
      margin: 0;
    }
    li {
      span:last-child {
        @include breakpoint("max-width: 1024px") {
          display: block;
          font-size: 20px;
        }
      }
    }
  }
  .object__next {
    margin: 12px 0 0 0;
  }
  .down-arrow {
    @include breakpoint("max-width: 1024px") {
      font-size: 35px;
      font-weight: 100;
      img {
        margin: 0 0 20px 0;
      }
      span {
        line-height: 22px;
      }
    }
  }
}