section.vtorichka__form
    .container.row
        .vtorichka__form__context.col-md-6
            .block__title Основные требования
            .block__text.
                К квартирам для военнослужащих по военной ипотеке на вторичном рынке
                жилья в Москве предъявляются следующие требования:
            ol
                li Исправное газо-, электро- и водоснабжение
                li Хорошее состояние недвижимого объекта, который
                li не является непригодным для проживания или аварийным
                li Наличие ванной комнаты и кухни
                li Рабочее состояние окон и дверей
                li Отсутствие перекрытий из древесины, которые повышают риск возгорания
                li При расположении жилья на последнем этаже — оптимальное состояние кровли
                li Отсутствие лиц с пропиской, которые претендуют на недвижимость
        .vtorichka__form__block.col-md-6
            img(src="../images/icons/builder-control.png")
            .block__title Юридическая помощь
            .block__text.
                При обращении в Военгарант военослужащим предоставляется
                бесплатная юридическая помощь,  как в режиме консультации,
                так и в режиме решения проблемы.
            span Задать вопрос
            .block__text.
                Оставляя заявку до обращения к застройщику вы становитесь
                участником скидочной программы. Наш специалист свяжется
                с вами.  Мы также принимаем звонки на номер 8-800-500-56-87.
            label.label-form Имя
            input.input-form
            label.label-form Телефон
            input.input-form
            label.label-form Сообщение
            textarea.textarea-form
            button(type="submit").send Отправить
            a(href="#").politic Политика конфиденциальности


