section.vtorichka__aktual
    .container
        .block__title Актуальность
        .block__text.
            Актуальность вторичного жилья заключается в следующих характеристиках,
            связанных между собой:
        .vtorichka__aktual__context.row
            .col-md-4
                .block__title Сокращние рисков
                .block__text.
                    В процессе совершения сделки
                    со строящимся объектом, есть
                    риск того, что он вовсе не будет
                    достроен или же период
                    возведения дома займет больше
                    времени,чем предполагалось.
            .col-md-4
                .block__title Большой выбор
                .block__text.
                    В процессе совершения сделки
                    со строящимся объектом, есть
                    риск того, что он вовсе не будет
                    достроен или же период
                    возведения дома займет больше
                    времени,чем предполагалось.
            .col-md-4
                .block__title Надежно
                .block__text.
                    В процессе совершения сделки
                    со строящимся объектом, есть
                    риск того, что он вовсе не будет
                    достроен или же период
                    возведения дома займет больше
                    времени,чем предполагалось.
                    В процессе совершения сделки
                    со строящимся объектом, есть
                    риск того, что он вовсе не будет
                    достроен или же период.