section.vtorichka__title
    .container
        span Вторичка по военной ипотеке
        .block__title Скидки агенств недвижимости
        .block__text.
            При обращении в Военгарант военнослужащим предоставляются скидки и специальные условия по военной ипотеке
            на вторичном рынке  от партнёрских агенств недвижимости.
        a(href="#").more Отправить заявку в агентсво
        ul
            li
                a(href="#")
                    img(src="../images/icons/vtorichka-logo1.png")
                span ВСН
            li
                a(href="#")
                    img(src="../images/icons/vtorichka-logo2.png")
                span Эст-а-тет
            li
                a(href="#")
                    img(src="../images/icons/vtorichka-logo3.png")
                span НДВ
            li
                a(href="#")
                    img(src="../images/icons/vtorichka-logo4.png")
                span Бест Новострой
            li
                a(href="#")
                    img(src="../images/icons/vtorichka-logo5.png")
                span ОПН 24