.novostroiki {
  .special {
    padding-top: 130px;
  }
  .block__discount{
    padding-top: 220px;
    margin-bottom: 0;
  }

  .block__developers{
    padding-top: 160px;
  }
  .seo{
    padding-top: 150px;
  }
  .bank{
    padding-top: 55px;
  }
}