.novo-slider{
  padding-top: 165px;
    .slider-home{
      height: 320px;
      margin: 0 auto;
      color: #ffffff;
      @include breakpoint("max-width: 1024px"){
        height: 775px;
      }
      .swiper-wrapper{
        padding-top: 50px;
        border-radius: 5px;
      }
      img,.swiper-slide__content__element{
        display: inline-block;
        @include breakpoint("max-width: 1024px"){
          display: block;
          width: 100%;
        }
      }
      .swiper-slide__content__element{
        text-align: left;
        @include breakpoint("max-width: 1280px"){
          width: 50%;
        }
        @include breakpoint("max-width: 1024px"){
          display: block;
          width: 100%;
        }
      }
      img{
        padding-right: 100px;
        margin-top: -115px;
        @include breakpoint("max-width: 1680px"){
          width: 35%;
        }
        @include breakpoint("max-width: 1280px"){
          width: 35%;
        }
        @include breakpoint("max-width: 1024px"){
          width: 60%;
          display: inline-block;
          vertical-align: top;
          margin-top: 0;
          margin-bottom: 40px;
          padding-right: 50px;
          float: left;
        }
      }
      &__title{
        font-size: 36px;
        line-height: 36px;
        color: #ffffff;
        margin-top: 50px;
        @include breakpoint("max-width: 1280px"){
          font-size: 25px;
          line-height: 25px;
        }
        @include breakpoint("max-width: 1024px"){
          font-size: 45px;
          line-height: 45px;
          br{
            display: none;
          }
        }
      }
      &__text{
        font-size: 16px;
        @include breakpoint("max-width: 1024px"){
          font-size: 30px;
          padding-right: 50px;
        }
      }
      .more{
        display: block;
        padding-top: 40px;
        margin: 0;
        color: #ffffff;
        @include breakpoint("max-width: 1280px"){
          font-size: 25px;
          line-height: 25px;
          padding-top: 20px;
        }
        @include breakpoint("max-width: 1024px"){
          font-size: 30px;
          padding-top: 85px;
        }
      }
      .slider-home__sale{
        position: absolute;
        background: url("../images/icons/news-red.png")  100% no-repeat;
        background-size: cover;
        width: 70px;
        height: 20px;
        text-align: center;
        right: -70px;
        top: 20px;
        @include breakpoint("max-width: 1024px"){
          display: none;
        }
      }
    }
    .swiper-slide__content{
      height: 100%;
      width: 91%;
      margin-left: 5px;
      background: #005c9d;
      border-radius: 5px;
      @include breakpoint("max-width: 1024px"){
        width: 100%;
        padding: 50px 55px;
        margin-left: 0;
      }
    }
  .swiper-pagination{
    bottom: 20px;
    width: 95.5%;
    @include breakpoint("max-width: 1280px"){
      width: 49%;
      bottom: 45px;
    }
  }

}