.application-forma
    .lg-block
        .lg-block__border
            span.forma-title Оставить заявку
            span.forma-context Оставляя заявку до обращения к застройщику вы становитесь участником скидочной программы. Наш специалист свяжется с вами.  Мы также принимаем звонки на номер
                span.forma-context.forma-context__blue  8-800-500-56-87.
            form
                label(for='consultations-forma__name').forma-context Имя
                input(type='text')#consultations-forma__name
                label(for='consultations-forma__phone').forma-context Телефон
                input(type='text')#consultations-forma__phone
                label.forma-context Сообщение
                textarea(rows='3')
                button(type='submit') Отправить
                a(href='/') Политика конфеденциальности
    .xs-block
        .xs-block__border
            .container
                .row
                    .col-xs-12.col-sm-12.col-md-12
                        span.forma-title Оставить заявку
                        span.forma-context Оставляя заявку до обращения к застройщику вы становитесь участником скидочной программы. Наш специалист свяжется с вами.  Мы также принимаем звонки на номер
                            span.forma-context.forma-context__blue  8-800-500-56-87.
                        form
                            label(for='consultations-forma__name').forma-context Имя
                            input(type='text')#consultations-forma__name
                            label(for='consultations-forma__phone').forma-context Телефон
                            input(type='text')#consultations-forma__phone
                            label.forma-context Сообщение
                            textarea(rows='4')
                            button(type='submit') Отправить
                            a(href='/') Политика конфеденциальности