.hypothec
    .container
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
                img(src='./images/icons/directions.png' alt='').hypothec__logo
                span.subtitle Переезд и улучшение жилищных условий
                span.title Военная ипотека повторно
                span.context Повторная покупка квартиры по Военной ипотеке с целью увеличения площади или переезда.<br>Программа разработана ВоенГаранта для улучшения жилищных условий военнослужащих.
        .row
            .col-xs-12.xol-sm-12.col-md-12.col-lg-6
                span.list__title Чтобы воспользоваться программой «Военная ипотека» повторно военнослужащему необходимо:
                ul
                    li
                        span.number 1
                        span.text Снять обременения с квартиры перед Государством (ФГКУ Росвоенипотека)
                    li
                        span.number 2
                        span.text Снять обременения с квартиры перед Банком(ипотечный кредит)
                span.list__title Программа «Военная ипотека – Повторно» дает возможность:
                ul
                    li
                        span.number 1
                        span.text Переехать в более удобный и комфортный район или регион
                    li
                        span.number 2
                        span.text Увеличить жилищную площадь
                    li
                        span.number 3
                        span.text Не вкладывать собственные средствам и купить квартиру по Военной ипотеке в Москве!