.program
    .container
        span.title.text-center Что делает ВоенГарант для реализации программы
        span.context.text-center Команда ВоенГаранта поставила перед собой задачу в рамках законодательства найти практический способ<br>по решению вопроса о повторном приобретении квартиры по программе Военная ипотека для улучшения жилищных условий.
        .what-do-block
            .block.text-up.text-center
                span.block-title Собираем заявки
                span.block-context Мы собираем и объединяем заявки военнослужащих со всей России, заинтересованных в военной ипотеке повторно
            .block.text-down.text-center
                span.block-title Ведем переговоры
                span.block-context Мы ведем переговоры с ведущими банками и застройщиками для формирования конечного продукта "Военная ипоека - повторно"
            include _forma-application