.page-reviews {
  &__main-image {
    width: 287px;
    height: 287px;
    margin: 0 auto;
    display: block;
    @include breakpoint("max-width: 1024px") {
      width: 348px;
      height: 348px;
    }
  }
  &__main-block {
    .title {
      @include text($titleFontFamily, #ffffff, block, 36px, 40px, 300);
      margin: -66px 0 35px 0;
      @include breakpoint("max-width: 1024px") {
        @include text($titleFontFamily, #ffffff, block, 45px, 50px, 300);
        margin: -89px 0 39px 0;
      }
    }
    .context {
      @include text($mainFontFamily, #777777, block, 18px, 24px, 100);
      margin: 0 0 19px 0;
      @include breakpoint("max-width: 1024px") {
        @include text($mainFontFamily, #777777, block, 30px, 35px, 100);
        margin: 0 0 35px 0;
      }
      br {
        @include breakpoint("max-width: 779px") {
          display: none;
        }
      }
    }
    .link-add {
      display: inline-block;
      margin: 0 0 64px 0;
      opacity: .9;
      &:hover, &:active {
        opacity: 1;
      }
      @include breakpoint("max-width: 1024px") {
        margin: 0 0 95px 0;
      }
      img {
        //width: 26px;
        height: 26px;
        padding-right: 7px;
        @include breakpoint("max-width: 1024px") {
          //width: 44px;
          height: 44px;
          padding-right: 16px;
        }
      }
      span {
        @include text($mainFontFamily, #f0f0f0, inline-block, 16px, 26px, 100);
        vertical-align: middle;
        @include breakpoint("max-width: 1024px") {
          @include text($mainFontFamily, #f0f0f0, inline-block, 30px, 44px, 100);
        }
      }
    }
    .buttons {
      margin: 0 0 32px 0;
      @include breakpoint("max-width: 1024px") {
        margin: 0 0 71px 0;
      }
      a {
        display: inline-block;
        border: 1px solid #777777;
        border-radius: 5px;
        box-sizing: border-box;
        text-decoration: none;
        &:hover {
          border: 1px solid #2891c0;
          span {
            color: #2891c0;
            //font-weight: 400;
          }
          text-decoration: none;
        }
        span {
          @include text($mainFontFamily, #777777, block, 18px, 22px, 100);
          padding: 10px 33px;
          @include breakpoint("max-width: 1024px") {
            @include text($mainFontFamily, #777777, block, 30px, 35px, 100);
            padding: 18px 22px;
          }
        }
        &:first-child {
          margin-right: 33px;
        }
      }
    }
  }
  .reviews {
    padding: 0;
    margin: 0 0 130px 0;
    @include breakpoint("max-width: 1024px") {
      margin: 0 0 143px 0;
    }
    &__info {
      color: #646464;
    }
  }
}